  <!-- ============================================ -->
  <!--                    PRICING SECTION           -->
  <!-- ============================================ -->

<section id="pricing-357">
    <div class="pc-container">
        <div class="pc-content">
            <span class="pc-topper">Our Pricing</span>
            <h2 class="pc-title">Pricing Packages For Every Budget</h2>
        </div>
        <ul class="pc-card-group">
            <!-- One-time Payment -->
            <li class="pc-item">
                <h3 class="pc-h3">One-time Payment</h3>
                <div class="pc-option-group">
                    <span class="pc-price">$3000<span class="pc-small">+$25/mo Hosting</span></span>
                </div>
                <span class="pc-included">Package Includes</span>
                <ul class="pc-ul">
                    <li class="pc-li">
                        <img class="pc-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/pricing-check.svg" alt="checkmark icon" width="20" height="20">
                        Design And Development
                    </li>
                    <li class="pc-li">
                        <img class="pc-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/pricing-check.svg" alt="checkmark icon" width="20" height="20">
                        $25/mo Hosting
                    </li>
                    <li class="pc-li pc-disabled">
                        <img class="pc-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/pricing-cancel.svg" alt="not included icon" width="20" height="20">
                        Unlimited Edits
                    </li>
                    <li class="pc-li pc-disabled">
                        <img class="pc-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/pricing-cancel.svg" alt="not included icon" width="20" height="20">
                        24/7 Support
                    </li>
                    <li class="pc-li pc-disabled">
                        <img class="pc-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/pricing-cancel.svg" alt="not included icon" width="20" height="20">
                        Lifetime Updates
                    </li>
                    <li class="pc-li pc-disabled">
                        <img class="pc-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/pricing-cancel.svg" alt="not included icon" width="20" height="20">
                        Website Analytics
                    </li>
                </ul>
                <span class="pc-included">Add-ons</span>
                <ul class="pc-ul">
                    <li class="pc-li">
                        <img class="pc-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/pricing-check.svg" alt="checkmark icon" width="20" height="20">
                        Unlimited Edits - $50/month
                    </li>
                    <li class="pc-li">
                        <img class="pc-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/pricing-check.svg" alt="checkmark icon" width="20" height="20">
                        Add A Blog – $250
                    </li>
                    <li class="pc-li">
                        <img class="pc-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/pricing-check.svg" alt="checkmark icon" width="20" height="20">
                        Fee Per Page after 5 - $100
                    </li>
                </ul>

                <a href="/contact/" class="pc-button-solid">Get Started</a>
            </li>
            <!-- Monthly (Most Popular) -->
            <li class="pc-item pc-popular">
                <h3 class="pc-h3">Monthly</h3>
                <div class="pc-option-group">
                    <span class="pc-price">$150<span class="pc-small">/month</span></span>
                </div>
                <span class="pc-included">Package Includes</span>
                <ul class="pc-ul">
                    <li class="pc-li">
                        <img class="pc-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/pricing-check.svg" alt="checkmark icon" width="20" height="20">
                        Design And Development
                    </li>
                    <li class="pc-li">
                        <img class="pc-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/pricing-check.svg" alt="checkmark icon" width="20" height="20">
                        Includes Hosting
                    </li>
                    <li class="pc-li">
                        <img class="pc-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/pricing-check.svg" alt="checkmark icon" width="20" height="20">
                        Unlimited Edits
                    </li>
                    <li class="pc-li">
                        <img class="pc-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/pricing-check.svg" alt="checkmark icon" width="20" height="20">
                        24/7 Support
                    </li>
                    <li class="pc-li">
                        <img class="pc-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/pricing-check.svg" alt="checkmark icon" width="20" height="20">
                        Lifetime Updates
                    </li>
                    <li class="pc-li">
                        <img class="pc-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/pricing-check.svg" alt="checkmark icon" width="20" height="20">
                        Website Analytics
                    </li>
                    <li class="pc-li">
                        <img class="pc-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/pricing-check.svg" alt="checkmark icon" width="20" height="20">
                        Help with Google Business Profile
                    </li>
                </ul>
                <span class="pc-included">Add-ons</span>
                <ul class="pc-ul">
                    <li class="pc-li">
                        <img class="pc-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/pricing-check.svg" alt="checkmark icon" width="20" height="20">
                        Add a Blog – $250
                    </li>
                    <li class="pc-li">
                        <img class="pc-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/pricing-check.svg" alt="checkmark icon" width="20" height="20">
                        Fee Per Page after 5 - $100
                    </li>
                </ul>
                <a href="/contact/" class="pc-button-solid">Get Started</a>
            </li>
            <!-- Ecommerce -->
            <li class="pc-item">
                <h3 class="pc-h3">Ecommerce</h3>
                <div class="pc-option-group">
                    <span class="pc-price">$5000<span class="pc-small">Starting</span></span>
                </div>
                <span class="pc-included">Package Includes</span>
                <ul class="pc-ul">
                    <li class="pc-li">
                        <img class="pc-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/pricing-check.svg" alt="checkmark icon" width="20" height="20">
                        Custom Shopify Store
                    </li>
                    <li class="pc-li">
                        <img class="pc-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/pricing-check.svg" alt="checkmark icon" width="20" height="20">
                        Configure Any And All Apps
                    </li>
                    <li class="pc-li">
                        <img class="pc-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/pricing-check.svg" alt="checkmark icon" width="20" height="20">
                        Integrated Shipping
                    </li>
                    <li class="pc-li">
                        <img class="pc-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/pricing-check.svg" alt="checkmark icon" width="20" height="20">
                        Shopify Tutorial Walkthrough
                    </li>
                    <li class="pc-li">
                        <img class="pc-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/pricing-check.svg" alt="checkmark icon" width="20" height="20">
                        Fully Editable In Shopify CMS
                    </li>
                    <li class="pc-li pc-disabled">
                        <img class="pc-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/pricing-cancel.svg" alt="not included icon" width="20" height="20">
                        +$50/month Unlimited Edits
                    </li>
                    <li class="pc-li pc-disabled">
                        <img class="pc-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/pricing-cancel.svg" alt="not included icon" width="20" height="20">
                        24/7 Support
                    </li>
                </ul>
                <a href="/contact/" class="pc-button-solid">Get Started</a>
            </li>
        </ul>
    </div>
</section>