<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-608">
    <div class="pc-container">
        <div class="pc-content">
            <span class="pc-topper">Testimonials</span>
            <h2 class="pc-title">Trusted Web Design for Small Businesses Nationwide</h2>
            <p class="pc-text">At Pinecode Creations, we’ve helped business owners across the U.S. finally bring their dream websites to life. We care deeply about the people we work with — because your success is our success. When you choose us, you’re not just hiring a designer. You’re gaining a partner who’s just as invested in your business as you are.</p>
        </div>

    </div>
        {% import "components/review-slider.html" as slider %}
        {{ slider.reviewSlider(reviews, "home-reviews", 4000, 2, 1) }}

    <!-- Background Graphic -->
    <picture class="pc-background">

    </picture>
</section>
                                