---
title: "Who We Are | Building Custom Websites That Help Businesses Grow"
description: "Learn more about Pinecode Creations, a custom web design and development company committed to helping small businesses thrive online. Discover our values, expertise, and how we can bring your vision to life."
preloadImg: "/assets/images/trees.jpg"
permalink: "about/"
eleventyNavigation:
    key: About Us
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css" />
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source
                media="(max-width: 600px)"
                srcset="/assets/images/trees.jpg"
            />
            <source
                media="(min-width: 601px)"
                srcset="/assets/images/trees.jpg"
            />
            <img
                aria-hidden="true"
                decoding="async"
                src="/assets/images/trees.jpg"
                alt="pine trees"
                loading="eager"
                width="2500"
                height="1667"
            />
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source
                        media="(max-width: 600px)"
                        srcset="/assets/images/programming.jpg"
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/programming.jpg"
                    />
                    <img
                        aria-hidden="true"
                        decoding="async"
                        src="/assets/images/programming.jpg"
                        alt="computer"
                        loading="lazy"
                        width="400"
                        height="563"
                    />
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source
                        media="(max-width: 600px)"
                        srcset="/assets/images/family-2.jpg"
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/family-2.jpg"
                    />
                    <img
                        aria-hidden="true"
                        decoding="async"
                        src="/assets/images/family-2.jpg"
                        alt="family"
                        loading="lazy"
                        width="400"
                        height="563"
                    />
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">Pinecode Creations</h2>
                <p class="cs-text">
                  My name is Dallin Bise, and I am the founder of Pinecode Creations. I am a proud husband and father to an energetic and adventurous son. Raised in Newman Lake, WA, between Coeur d'Alene and Spokane, I have always had a deep connection to the Pacific Northwest.
                </p>
                <p class="cs-text">
                  I've always had a passion for building and technology from a young age. However, after graduating high school, I wasn’t entirely sure which path to take. I decided to attend school to pursue a business degree, as I was drawn to the complexities and challenges of the business world.
                </p>
                <p class="cs-text">
                  Around that time, I married the love of my life and began my career as an Engineer at Oracle. Working for one of the world's largest software companies ignited my passion for technology. Recognizing my enthusiasm for the field, I made the decision to switch my academic focus and pursue a degree in Software Engineering.
                </p>
                <p class="cs-text">
                  With experience as a developer, designer, engineer, digital marketer, and consultant, I have immersed myself in the software industry and found passion in every aspect of it. Each role has allowed me to refine my skills, solve complex challenges, and create meaningful digital experiences that drive success.
                </p>
                <p class="cs-text">
                  My ultimate goal is to bring ideas to life by creating innovative and impactful digital solutions. I take great pride in delivering exceptional results that not only meet but exceed client expectations. Ensuring client satisfaction is at the heart of my work, and I am committed to open communication and collaboration. While I always advocate for industry best practices, I remain flexible and adaptable to align with each client's unique vision and needs.
                </p>
                <!-- <a href="/projects" class="cs-button-solid">Our Projects</a> -->
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}
