---
title: "Get in Touch with a Custom Site Web Developer | Pinecode Creations"
description: "Get in touch with Pinecode Creations for your custom web design and development needs. Reach out today to discuss how we can help your small business grow online. Serving Spokane, Coeur d’Alene, and beyond."
preloadImg: "/assets/images/trees.jpg"
permalink: "contact/"
eleventyNavigation:
    key: Contact Us
    order: 600
    hideOnDesktop: true
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css" />
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Contact Us</h1>
        <picture>
            <source
                media="(max-width: 600px)"
                srcset="/assets/images/trees.jpg"
            />
            <source
                media="(min-width: 601px)"
                srcset="/assets/images/trees.jpg"
            />
            <img
                aria-hidden="true"
                decoding="async"
                src="/assets/images/trees.jpg"
                alt="pine trees"
                loading="eager"
                width="2500"
                height="1667"
            />
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                Contact Form                  -->
    <!-- ============================================ -->

    <section id="pc-contact">
        <div class="pc-container">
            <form id="pc-form" name="contact" method="POST" data-netlify="true">
                <div class="pc-content">
                    <span class="pc-topper">Contact</span>
                    <h2 class="pc-title">Get in Touch</h2>
                    <p class="pc-text">
                      Feel free to reach out if you have any questions or would like to chat about how I can help with your project. I'm always available to discuss your needs and provide solutions tailored to your goals. Don’t hesitate to get in touch – I look forward to connecting with you!
                    </p>
                </div>
                <label>
                    Name
                    <input
                        required
                        type="text"
                        id="name"
                        name="name"
                        placeholder="Name"
                    />
                </label>
                <label>
                    Email
                    <input
                        required
                        type="text"
                        id="email"
                        name="email"
                        placeholder="Email"
                    />
                </label>
                <label>
                    Phone
                    <input
                        required
                        type="text"
                        id="phone"
                        name="phone"
                        placeholder="Phone"
                    />
                </label>
                <label class="pc-label-message">
                    Message
                    <textarea
                        required
                        name="Message"
                        id="message"
                        placeholder="Write message..."
                    ></textarea>
                </label>
                <button class="pc-button-solid" type="submit">
                    Submit Message
                </button>
            </form>
            <div class="alert success-alert" id="successAlert">
              <span class="alert-message">Your message has been successfully sent! We will be reaching out soon. Thank you!</span>
            </div>
            <div class="pc-right-section">


                <!-- Background Image-->
                <picture class="pc-bg-picture">
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/contact-us.jpg"
                    />
                    <img
                        aria-hidden="true"
                        decoding="async"
                        src="/assets/images/contact-us.jpg"
                        alt="building"
                        loading="lazy"
                        width="2500"
                        height="1667"
                    />
                </picture>
            </div>
        </div>
    </section>
{% endblock %}
