---
title: 'Affordable Web Design Packages | Pinecode Creations'
description: 'Explore affordable pricing for custom websites at Pinecode Creations. Get transparent rates for responsive web design and development services tailored to small businesses in Spokane, Coeur d’Alene, and beyond.'
preloadImg: '/assets/images/computer.jpg'
permalink: 'pricing/'
eleventyNavigation:
    key: Pricing
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
  <link rel="stylesheet" href="/assets/css/pricing.css" />
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->
    <section id="int-hero">
      <h1 id="home-h">Pricing</h1>
      <picture>
          <source
              media="(max-width: 600px)"
              srcset="/assets/images/computer.jpg"
          />
          <source
              media="(min-width: 601px)"
              srcset="/assets/images/computer.jpg"
          />
          <img
              aria-hidden="true"
              decoding="async"
              src="/assets/images/computer.jpg"
              alt="computer code"
              loading="eager"
              width="2500"
              height="1667"
          />
      </picture>
  </section>


  {% include 'components/pricing.html' %}

{% endblock %}