/* STYLES FOR ABOVE THE FOLD */
/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  /*Keyframes*/
  @keyframes glitch1 {
    0% {
      transform: none;
      opacity: 1;
    }
    3% {
      transform: skew(-0.5deg, -0.9deg);
      opacity: 0.75;
    }
    6% {
      transform: none;
      opacity: 1;
    }
    10% {
      transform: none;
      opacity: 1;
    }
    12% {
      transform: skew(0.8deg, -0.1deg);
      opacity: 0.75;
    }
    15% {
      transform: none;
      opacity: 1;
    }
    18% {
      transform: none;
      opacity: 1;
    }
    21% {
      transform: skew(-1deg, 0.2deg);
      opacity: 0.75;
    }
    23% {
      transform: none;
      opacity: 1;
    }
    25% {
      transform: none;
      opacity: 1;
    }
    27% {
      transform: skew(0.4deg, 1deg);
      opacity: 0.75;
    }
    29% {
      transform: none;
      opacity: 1;
    }
    100% {
      transform: none;
      opacity: 1;
    }
  }
  @keyframes glitch2 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    3% {
      transform: translate(-2px, -3px);
      opacity: 0.5;
    }
    6% {
      transform: none;
      opacity: 0.25;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    12% {
      transform: translate(-5px, -2px);
      opacity: 0.5;
    }
    15% {
      transform: none;
      opacity: 0.25;
    }
    18% {
      transform: none;
      opacity: 0.25;
    }
    21% {
      transform: translate(-5px, -1px);
      opacity: 0.5;
    }
    23% {
      transform: none;
      opacity: 0.25;
    }
    25% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: translate(-2px, -6px);
      opacity: 0.5;
    }
    29% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
  }
  @keyframes glitch3 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    3% {
      transform: translate(2px, 3px);
      opacity: 0.5;
    }
    6% {
      transform: none;
      opacity: 0.25;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    12% {
      transform: translate(5px, 2px);
      opacity: 0.5;
    }
    15% {
      transform: none;
      opacity: 0.25;
    }
    18% {
      transform: none;
      opacity: 0.25;
    }
    21% {
      transform: translate(5px, 1px);
      opacity: 0.5;
    }
    23% {
      transform: none;
      opacity: 0.25;
    }
    25% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: translate(2px, 6px);
      opacity: 0.5;
    }
    29% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
  }
  .glow-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: radial-gradient(circle at 30% 30%, #A8C6A0, transparent 40%), radial-gradient(circle at 70% 70%, #5A9367, transparent 40%);
    animation: moveGlow 10s ease-in-out infinite;
    filter: blur(50px);
    z-index: 0;
  }
  @keyframes moveGlow {
    0%, 100% {
      transform: translate(0%, 0%);
    }
    25% {
      transform: translate(25%, -10%);
    }
    50% {
      transform: translate(10%, 25%);
    }
    75% {
      transform: translate(-10%, -15%);
    }
  }
  .stars {
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: opacity 1s ease-in-out;
    position: absolute;
  }
  .stars > .small {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 175px 337px #767676 , 1162px 1658px #767676 , 874px 1583px #767676 , 1679px 1049px #767676 , 971px 1124px #767676 , 1758px 65px #767676 , 904px 17px #767676 , 1919px 1604px #767676 , 1654px 831px #767676 , 1059px 221px #767676 , 650px 1558px #767676 , 489px 870px #767676 , 674px 696px #767676 , 1045px 1729px #767676 , 1128px 1932px #767676 , 1482px 1729px #767676 , 935px 1144px #767676 , 101px 1482px #767676 , 1851px 772px #767676 , 117px 260px #767676 , 1861px 1051px #767676 , 1300px 629px #767676 , 1043px 134px #767676 , 1869px 531px #767676 , 1672px 1889px #767676 , 1895px 428px #767676 , 1772px 550px #767676 , 1292px 1569px #767676 , 423px 809px #767676 , 158px 1873px #767676 , 489px 107px #767676 , 1000px 1447px #767676 , 1640px 169px #767676 , 157px 1645px #767676 , 1102px 1178px #767676 , 898px 766px #767676 , 593px 758px #767676 , 1382px 1196px #767676 , 798px 314px #767676 , 996px 1742px #767676 , 908px 805px #767676 , 1991px 1793px #767676 , 438px 1986px #767676 , 1572px 1635px #767676 , 961px 621px #767676 , 323px 588px #767676 , 167px 59px #767676 , 1202px 548px #767676 , 1432px 203px #767676 , 45px 1473px #767676 , 1864px 998px #767676 , 1970px 1488px #767676 , 7px 893px #767676 , 536px 422px #767676 , 102px 1312px #767676 , 865px 472px #767676 , 1246px 1416px #767676 , 1999px 40px #767676 , 1548px 746px #767676 , 1203px 1039px #767676 , 1237px 1446px #767676 , 707px 1466px #767676 , 1828px 980px #767676 , 1016px 400px #767676 , 1235px 1616px #767676 , 1493px 1672px #767676 , 1125px 1082px #767676 , 1717px 1588px #767676 , 1232px 1035px #767676 , 1533px 269px #767676 , 562px 1219px #767676 , 357px 1045px #767676 , 128px 336px #767676 , 254px 321px #767676 , 1154px 594px #767676 , 46px 1126px #767676 , 1019px 987px #767676 , 384px 700px #767676 , 625px 98px #767676 , 200px 794px #767676 , 1652px 703px #767676 , 329px 1713px #767676 , 1448px 1199px #767676 , 137px 307px #767676 , 622px 339px #767676 , 1469px 898px #767676 , 1354px 1657px #767676 , 1771px 237px #767676 , 1401px 1554px #767676 , 767px 639px #767676 , 137px 1883px #767676 , 1406px 370px #767676 , 1041px 491px #767676 , 84px 1748px #767676 , 1125px 1330px #767676 , 750px 1659px #767676 , 1007px 1675px #767676 , 18px 1967px #767676 , 1892px 1659px #767676 , 1951px 1593px #767676 , 532px 476px #767676 , 411px 495px #767676 , 683px 301px #767676 , 809px 744px #767676 , 698px 178px #767676 , 638px 102px #767676 , 584px 584px #767676 , 9px 1591px #767676 , 1438px 1389px #767676 , 1093px 1949px #767676 , 882px 1777px #767676 , 1452px 1077px #767676 , 1560px 468px #767676 , 326px 734px #767676 , 1130px 372px #767676 , 573px 724px #767676 , 336px 1663px #767676 , 749px 796px #767676 , 166px 1443px #767676 , 374px 1605px #767676 , 216px 1738px #767676 , 1778px 1632px #767676 , 1277px 1652px #767676 , 1534px 1722px #767676 , 1433px 559px #767676 , 1095px 878px #767676 , 1134px 599px #767676 , 657px 1781px #767676 , 855px 437px #767676 , 1013px 1891px #767676 , 278px 1272px #767676 , 576px 1889px #767676 , 905px 1745px #767676 , 224px 1215px #767676 , 1950px 1066px #767676 , 1960px 1549px #767676 , 406px 981px #767676 , 1054px 14px #767676 , 1173px 210px #767676 , 981px 518px #767676 , 116px 932px #767676 , 800px 1353px #767676 , 881px 1728px #767676 , 1466px 1111px #767676 , 1810px 1993px #767676 , 349px 1210px #767676 , 1847px 1590px #767676 , 449px 874px #767676 , 1889px 3px #767676 , 1861px 1415px #767676 , 649px 665px #767676 , 1645px 1453px #767676 , 1134px 1094px #767676 , 1043px 789px #767676 , 1558px 1482px #767676 , 1038px 1498px #767676 , 1889px 131px #767676 , 1989px 1165px #767676 , 1498px 1661px #767676 , 1469px 425px #767676 , 1949px 183px #767676 , 1312px 1537px #767676 , 1743px 756px #767676 , 1221px 82px #767676 , 394px 1184px #767676 , 1278px 1776px #767676 , 1681px 1896px #767676 , 1478px 860px #767676 , 1788px 1227px #767676 , 1245px 273px #767676 , 492px 1815px #767676 , 1057px 29px #767676 , 1830px 310px #767676 , 1434px 1449px #767676 , 91px 574px #767676 , 1546px 1313px #767676 , 1260px 608px #767676 , 1100px 962px #767676 , 906px 1386px #767676 , 110px 5px #767676 , 1400px 646px #767676 , 1777px 399px #767676 , 1482px 1459px #767676 , 925px 663px #767676 , 422px 487px #767676 , 1800px 1282px #767676 , 1908px 782px #767676 , 1644px 40px #767676 , 1264px 771px #767676 , 691px 119px #767676 , 754px 47px #767676 , 1280px 981px #767676 , 1248px 1481px #767676 , 1045px 1182px #767676 , 763px 1215px #767676 , 144px 1069px #767676 , 1170px 674px #767676 , 467px 364px #767676 , 1867px 554px #767676 , 582px 1974px #767676 , 1073px 247px #767676 , 1674px 1172px #767676 , 837px 1815px #767676 , 1251px 443px #767676 , 461px 1346px #767676 , 813px 1105px #767676 , 177px 881px #767676 , 701px 1212px #767676 , 1868px 1445px #767676 , 909px 1832px #767676 , 467px 1896px #767676 , 607px 684px #767676 , 1699px 536px #767676 , 1626px 205px #767676 , 1859px 433px #767676 , 1731px 555px #767676 , 1615px 549px #767676 , 1212px 34px #767676 , 206px 917px #767676 , 1398px 1251px #767676 , 1595px 279px #767676 , 364px 802px #767676 , 7px 1789px #767676 , 782px 808px #767676 , 1657px 1514px #767676 , 1286px 1311px #767676 , 600px 1545px #767676 , 611px 136px #767676 , 1333px 466px #767676 , 963px 1907px #767676 , 1789px 1478px #767676 , 68px 616px #767676 , 1496px 1293px #767676 , 1947px 1631px #767676 , 1953px 1289px #767676 , 282px 1589px #767676 , 1588px 1192px #767676 , 1170px 1671px #767676 , 206px 74px #767676 , 190px 374px #767676 , 546px 797px #767676 , 281px 1759px #767676 , 194px 264px #767676 , 75px 1721px #767676 , 735px 1374px #767676 , 1865px 172px #767676 , 1825px 506px #767676 , 1978px 753px #767676 , 201px 1435px #767676 , 564px 783px #767676 , 124px 836px #767676 , 1539px 1901px #767676 , 576px 1985px #767676 , 1049px 1570px #767676 , 1394px 1342px #767676 , 252px 755px #767676 , 961px 1940px #767676 , 868px 1803px #767676 , 1816px 1270px #767676 , 1660px 1687px #767676 , 1741px 18px #767676 , 1462px 280px #767676 , 1092px 1759px #767676 , 610px 802px #767676 , 897px 84px #767676 , 1018px 1720px #767676 , 1792px 1904px #767676 , 1518px 588px #767676 , 305px 27px #767676 , 259px 1424px #767676 , 188px 653px #767676 , 915px 797px #767676 , 1289px 682px #767676 , 1709px 1753px #767676 , 520px 1734px #767676 , 1158px 1484px #767676 , 391px 502px #767676 , 1519px 1142px #767676 , 584px 572px #767676 , 674px 1709px #767676 , 740px 234px #767676 , 1174px 549px #767676 , 148px 1234px #767676 , 87px 1092px #767676 , 1216px 1066px #767676 , 1979px 1861px #767676 , 1059px 754px #767676 , 1287px 288px #767676 , 69px 87px #767676 , 1729px 403px #767676 , 1773px 1565px #767676 , 1674px 1323px #767676 , 1717px 1398px #767676 , 131px 1549px #767676 , 1127px 1204px #767676 , 1571px 113px #767676 , 1015px 854px #767676 , 1516px 653px #767676 , 987px 820px #767676 , 901px 1226px #767676 , 1410px 394px #767676 , 1882px 152px #767676 , 1672px 1538px #767676 , 1631px 792px #767676 , 813px 1218px #767676 , 1841px 831px #767676 , 351px 1888px #767676 , 1336px 1982px #767676 , 46px 1178px #767676 , 314px 1501px #767676 , 1847px 354px #767676 , 46px 502px #767676 , 1354px 620px #767676 , 1946px 909px #767676 , 1258px 328px #767676 , 1418px 1578px #767676 , 572px 1682px #767676 , 1806px 537px #767676 , 1884px 1625px #767676 , 193px 1453px #767676 , 1015px 835px #767676 , 1080px 78px #767676 , 772px 457px #767676 , 1770px 1713px #767676 , 1091px 1044px #767676 , 1230px 588px #767676 , 1360px 1656px #767676 , 1984px 558px #767676 , 306px 1399px #767676 , 1824px 1602px #767676 , 1586px 89px #767676 , 132px 1221px #767676 , 1049px 1327px #767676 , 1222px 183px #767676 , 452px 560px #767676 , 1737px 1009px #767676 , 1582px 322px #767676 , 589px 285px #767676 , 400px 1090px #767676 , 203px 411px #767676 , 1792px 1759px #767676 , 1716px 1528px #767676 , 1524px 1767px #767676 , 998px 1865px #767676 , 482px 684px #767676 , 970px 930px #767676 , 354px 1689px #767676 , 380px 1144px #767676 , 627px 1347px #767676 , 1631px 1405px #767676 , 237px 367px #767676 , 257px 1286px #767676 , 978px 258px #767676 , 1898px 958px #767676 , 374px 257px #767676 , 563px 1419px #767676 , 580px 219px #767676 , 1331px 557px #767676 , 1119px 1576px #767676 , 209px 1402px #767676 , 1842px 1570px #767676 , 1207px 1389px #767676 , 1360px 219px #767676 , 1361px 668px #767676 , 312px 1557px #767676 , 352px 1066px #767676 , 878px 1580px #767676 , 1875px 260px #767676 , 894px 774px #767676 , 146px 1155px #767676 , 673px 927px #767676 , 1434px 1044px #767676 , 992px 1259px #767676 , 750px 260px #767676 , 579px 366px #767676 , 208px 134px #767676 , 811px 1820px #767676 , 1872px 1372px #767676 , 1126px 792px #767676 , 1201px 1822px #767676 , 248px 1252px #767676 , 441px 1px #767676 , 819px 251px #767676 , 323px 1008px #767676 , 1969px 869px #767676 , 1718px 489px #767676 , 1910px 948px #767676 , 1236px 467px #767676 , 1368px 4px #767676 , 1142px 1605px #767676 , 1535px 1833px #767676 , 1986px 217px #767676 , 837px 1245px #767676 , 1422px 1122px #767676 , 486px 1004px #767676 , 276px 819px #767676 , 1289px 216px #767676 , 1524px 1903px #767676 , 116px 341px #767676 , 1406px 1943px #767676 , 1642px 995px #767676 , 1205px 1501px #767676 , 1739px 86px #767676 , 1431px 390px #767676 , 944px 1723px #767676 , 1780px 1149px #767676 , 1016px 1058px #767676 , 1513px 1236px #767676 , 1382px 1955px #767676 , 648px 1928px #767676 , 1842px 1302px #767676 , 346px 1552px #767676 , 1369px 745px #767676 , 727px 394px #767676 , 176px 869px #767676 , 903px 784px #767676 , 1430px 299px #767676 , 1481px 227px #767676 , 1419px 1200px #767676 , 1912px 1170px #767676 , 29px 1232px #767676 , 1321px 229px #767676 , 1238px 408px #767676 , 1770px 1289px #767676 , 1317px 1576px #767676 , 1540px 1305px #767676 , 663px 229px #767676 , 655px 1754px #767676 , 1560px 1720px #767676 , 288px 1853px #767676 , 227px 398px #767676 , 429px 1288px #767676 , 231px 1924px #767676 , 1257px 1880px #767676 , 493px 565px #767676 , 837px 1035px #767676 , 2px 1023px #767676 , 1343px 1786px #767676 , 1252px 1414px #767676 , 1856px 1367px #767676 , 1940px 250px #767676 , 1182px 1982px #767676 , 943px 1664px #767676 , 1458px 1263px #767676 , 286px 553px #767676 , 1868px 508px #767676 , 1065px 1274px #767676 , 1052px 610px #767676 , 555px 1696px #767676 , 1646px 513px #767676 , 794px 803px #767676 , 467px 1217px #767676 , 1245px 35px #767676 , 1955px 394px #767676 , 486px 1162px #767676 , 1134px 1921px #767676 , 992px 515px #767676 , 1549px 1581px #767676 , 78px 53px #767676 , 1439px 133px #767676 , 551px 1031px #767676 , 1150px 654px #767676 , 547px 1852px #767676 , 717px 487px #767676 , 1599px 849px #767676 , 277px 218px #767676 , 1278px 1676px #767676 , 250px 503px #767676 , 1983px 1667px #767676 , 1782px 419px #767676 , 1447px 971px #767676 , 1775px 1733px #767676 , 1342px 1756px #767676 , 591px 1654px #767676 , 574px 104px #767676 , 443px 1003px #767676 , 1704px 920px #767676 , 1198px 1763px #767676 , 885px 1909px #767676 , 912px 1651px #767676 , 1510px 554px #767676 , 1205px 9px #767676 , 1287px 577px #767676 , 1711px 279px #767676 , 384px 832px #767676 , 971px 1649px #767676 , 288px 1611px #767676 , 1358px 1728px #767676 , 1442px 246px #767676 , 1884px 937px #767676 , 741px 1994px #767676 , 1273px 477px #767676 , 948px 1028px #767676 , 1031px 1139px #767676 , 1150px 1993px #767676 , 1806px 988px #767676 , 1341px 216px #767676 , 249px 162px #767676 , 1591px 1031px #767676 , 553px 1892px #767676 , 907px 1827px #767676 , 942px 1091px #767676 , 264px 1298px #767676 , 27px 1412px #767676 , 173px 1208px #767676 , 1078px 894px #767676 , 992px 682px #767676 , 1203px 12px #767676 , 1652px 1918px #767676 , 336px 27px #767676 , 26px 37px #767676 , 728px 810px #767676 , 506px 976px #767676 , 88px 1915px #767676 , 584px 993px #767676 , 770px 461px #767676 , 157px 505px #767676 , 1484px 1876px #767676 , 147px 1304px #767676 , 206px 1315px #767676 , 840px 1228px #767676 , 1563px 218px #767676 , 1272px 1369px #767676 , 233px 1751px #767676 , 1174px 702px #767676 , 224px 243px #767676 , 1143px 1990px #767676 , 858px 1085px #767676 , 1038px 1295px #767676 , 1173px 1510px #767676 , 949px 465px #767676 , 428px 138px #767676 , 477px 640px #767676 , 1466px 871px #767676 , 1326px 492px #767676 , 1314px 625px #767676 , 1026px 1853px #767676 , 47px 9px #767676 , 965px 1996px #767676 , 1988px 624px #767676 , 1912px 297px #767676 , 45px 812px #767676 , 631px 120px #767676 , 956px 746px #767676 , 1264px 330px #767676 , 1186px 1376px #767676 , 111px 177px #767676 , 619px 1841px #767676 , 1210px 589px #767676 , 1837px 44px #767676 , 705px 99px #767676 , 903px 1835px #767676 , 420px 1911px #767676 , 202px 1237px #767676 , 1328px 1838px #767676 , 1295px 1688px #767676 , 991px 21px #767676 , 1897px 1599px #767676 , 1416px 751px #767676 , 405px 93px #767676 , 1894px 1446px #767676 , 355px 494px #767676 , 989px 1931px #767676 , 1381px 1649px #767676 , 382px 238px #767676 , 1223px 1539px #767676 , 352px 1252px #767676 , 1855px 669px #767676 , 1768px 528px #767676 , 1142px 1152px #767676 , 1165px 1535px #767676 , 957px 518px #767676 , 543px 1116px #767676 , 169px 990px #767676 , 797px 1372px #767676 , 800px 1006px #767676 , 240px 1232px #767676 , 1123px 1242px #767676 , 653px 1491px #767676 , 806px 1186px #767676 , 1942px 1453px #767676 , 1508px 219px #767676 , 468px 747px #767676 , 94px 12px #767676 , 799px 1036px #767676 , 1633px 1276px #767676 , 937px 248px #767676 , 1122px 1586px #767676 , 1678px 1007px #767676 , 1798px 993px #767676 , 1073px 857px #767676 , 1982px 115px #767676 , 804px 252px #767676 , 1418px 1682px #767676 , 163px 666px #767676 , 1666px 1859px #767676 , 537px 1143px #767676 , 1690px 1646px #767676 , 1621px 498px #767676 , 1834px 1659px #767676 , 1566px 537px #767676 , 1873px 1241px #767676 , 1340px 42px #767676 , 1948px 1871px #767676 , 1287px 1002px #767676 , 1736px 1402px #767676 , 1090px 137px #767676 , 1789px 1958px #767676 , 1868px 537px #767676 , 1644px 34px #767676 , 1028px 1079px #767676 , 1695px 472px #767676 , 1738px 66px #767676 , 731px 863px #767676 , 1518px 1493px #767676 , 156px 456px #767676 , 1933px 1430px #767676 , 1658px 1974px #767676 , 1287px 786px #767676 , 338px 1398px #767676 , 1282px 75px #767676 , 1829px 46px #767676 , 1594px 1603px #767676 , 976px 1627px #767676 , 25px 1985px #767676 , 1032px 889px #767676 , 867px 1268px #767676 , 1827px 902px #767676 , 1069px 979px #767676 , 1317px 1357px #767676 , 1022px 1266px #767676 , 515px 1891px #767676 , 617px 1644px #767676 , 1901px 1538px #767676 , 1404px 717px #767676 , 925px 402px #767676 , 1158px 1358px #767676 , 161px 1511px #767676 , 1016px 1989px #767676 , 768px 1186px #767676 , 332px 547px #767676 , 1298px 1664px #767676 , 44px 770px #767676 , 1830px 1078px #767676 , 492px 183px #767676 , 517px 1312px #767676 , 264px 1877px #767676 , 1420px 258px #767676 , 691px 131px #767676 , 1161px 1334px #767676 , 485px 1835px #767676 , 28px 1546px #767676 , 135px 1461px #767676 , 756px 1697px #767676 , 426px 590px #767676 , 1941px 954px #767676 , 1145px 68px #767676 , 991px 1874px #767676 , 627px 1429px #767676 , 1153px 57px #767676 , 1706px 1022px #767676 , 1678px 406px #767676 , 616px 1981px #767676 , 732px 304px #767676 , 1322px 758px #767676 , 1986px 1955px #767676 , 1689px 1818px #767676 , 34px 1576px #767676 , 1041px 1067px #767676 , 366px 496px #767676 , 1900px 917px #767676 , 100px 1929px #767676 , 1861px 396px #767676 , 1265px 1396px #767676 , 283px 583px #767676 , 1228px 1568px #767676 , 163px 757px #767676 , 1059px 1210px #767676 , 911px 378px #767676 , 370px 531px #767676 , 1984px 728px #767676 , 1732px 983px #767676 , 1816px 1263px #767676 , 1023px 13px #767676 , 589px 688px #767676 , 80px 290px #767676 , 1368px 1214px #767676 , 555px 1905px #767676 , 681px 1322px #767676 , 1591px 63px #767676 , 322px 134px #767676 , 1302px 274px #767676 , 229px 1466px #767676 , 254px 1960px #767676 , 165px 1495px #767676 , 1884px 161px #767676 , 492px 1905px #767676 , 17px 974px #767676 , 1677px 1340px #767676 , 1166px 829px #767676;
    animation: starsAnimation 50s linear infinite;
  }
  .stars > .small:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 175px 337px #767676 , 1162px 1658px #767676 , 874px 1583px #767676 , 1679px 1049px #767676 , 971px 1124px #767676 , 1758px 65px #767676 , 904px 17px #767676 , 1919px 1604px #767676 , 1654px 831px #767676 , 1059px 221px #767676 , 650px 1558px #767676 , 489px 870px #767676 , 674px 696px #767676 , 1045px 1729px #767676 , 1128px 1932px #767676 , 1482px 1729px #767676 , 935px 1144px #767676 , 101px 1482px #767676 , 1851px 772px #767676 , 117px 260px #767676 , 1861px 1051px #767676 , 1300px 629px #767676 , 1043px 134px #767676 , 1869px 531px #767676 , 1672px 1889px #767676 , 1895px 428px #767676 , 1772px 550px #767676 , 1292px 1569px #767676 , 423px 809px #767676 , 158px 1873px #767676 , 489px 107px #767676 , 1000px 1447px #767676 , 1640px 169px #767676 , 157px 1645px #767676 , 1102px 1178px #767676 , 898px 766px #767676 , 593px 758px #767676 , 1382px 1196px #767676 , 798px 314px #767676 , 996px 1742px #767676 , 908px 805px #767676 , 1991px 1793px #767676 , 438px 1986px #767676 , 1572px 1635px #767676 , 961px 621px #767676 , 323px 588px #767676 , 167px 59px #767676 , 1202px 548px #767676 , 1432px 203px #767676 , 45px 1473px #767676 , 1864px 998px #767676 , 1970px 1488px #767676 , 7px 893px #767676 , 536px 422px #767676 , 102px 1312px #767676 , 865px 472px #767676 , 1246px 1416px #767676 , 1999px 40px #767676 , 1548px 746px #767676 , 1203px 1039px #767676 , 1237px 1446px #767676 , 707px 1466px #767676 , 1828px 980px #767676 , 1016px 400px #767676 , 1235px 1616px #767676 , 1493px 1672px #767676 , 1125px 1082px #767676 , 1717px 1588px #767676 , 1232px 1035px #767676 , 1533px 269px #767676 , 562px 1219px #767676 , 357px 1045px #767676 , 128px 336px #767676 , 254px 321px #767676 , 1154px 594px #767676 , 46px 1126px #767676 , 1019px 987px #767676 , 384px 700px #767676 , 625px 98px #767676 , 200px 794px #767676 , 1652px 703px #767676 , 329px 1713px #767676 , 1448px 1199px #767676 , 137px 307px #767676 , 622px 339px #767676 , 1469px 898px #767676 , 1354px 1657px #767676 , 1771px 237px #767676 , 1401px 1554px #767676 , 767px 639px #767676 , 137px 1883px #767676 , 1406px 370px #767676 , 1041px 491px #767676 , 84px 1748px #767676 , 1125px 1330px #767676 , 750px 1659px #767676 , 1007px 1675px #767676 , 18px 1967px #767676 , 1892px 1659px #767676 , 1951px 1593px #767676 , 532px 476px #767676 , 411px 495px #767676 , 683px 301px #767676 , 809px 744px #767676 , 698px 178px #767676 , 638px 102px #767676 , 584px 584px #767676 , 9px 1591px #767676 , 1438px 1389px #767676 , 1093px 1949px #767676 , 882px 1777px #767676 , 1452px 1077px #767676 , 1560px 468px #767676 , 326px 734px #767676 , 1130px 372px #767676 , 573px 724px #767676 , 336px 1663px #767676 , 749px 796px #767676 , 166px 1443px #767676 , 374px 1605px #767676 , 216px 1738px #767676 , 1778px 1632px #767676 , 1277px 1652px #767676 , 1534px 1722px #767676 , 1433px 559px #767676 , 1095px 878px #767676 , 1134px 599px #767676 , 657px 1781px #767676 , 855px 437px #767676 , 1013px 1891px #767676 , 278px 1272px #767676 , 576px 1889px #767676 , 905px 1745px #767676 , 224px 1215px #767676 , 1950px 1066px #767676 , 1960px 1549px #767676 , 406px 981px #767676 , 1054px 14px #767676 , 1173px 210px #767676 , 981px 518px #767676 , 116px 932px #767676 , 800px 1353px #767676 , 881px 1728px #767676 , 1466px 1111px #767676 , 1810px 1993px #767676 , 349px 1210px #767676 , 1847px 1590px #767676 , 449px 874px #767676 , 1889px 3px #767676 , 1861px 1415px #767676 , 649px 665px #767676 , 1645px 1453px #767676 , 1134px 1094px #767676 , 1043px 789px #767676 , 1558px 1482px #767676 , 1038px 1498px #767676 , 1889px 131px #767676 , 1989px 1165px #767676 , 1498px 1661px #767676 , 1469px 425px #767676 , 1949px 183px #767676 , 1312px 1537px #767676 , 1743px 756px #767676 , 1221px 82px #767676 , 394px 1184px #767676 , 1278px 1776px #767676 , 1681px 1896px #767676 , 1478px 860px #767676 , 1788px 1227px #767676 , 1245px 273px #767676 , 492px 1815px #767676 , 1057px 29px #767676 , 1830px 310px #767676 , 1434px 1449px #767676 , 91px 574px #767676 , 1546px 1313px #767676 , 1260px 608px #767676 , 1100px 962px #767676 , 906px 1386px #767676 , 110px 5px #767676 , 1400px 646px #767676 , 1777px 399px #767676 , 1482px 1459px #767676 , 925px 663px #767676 , 422px 487px #767676 , 1800px 1282px #767676 , 1908px 782px #767676 , 1644px 40px #767676 , 1264px 771px #767676 , 691px 119px #767676 , 754px 47px #767676 , 1280px 981px #767676 , 1248px 1481px #767676 , 1045px 1182px #767676 , 763px 1215px #767676 , 144px 1069px #767676 , 1170px 674px #767676 , 467px 364px #767676 , 1867px 554px #767676 , 582px 1974px #767676 , 1073px 247px #767676 , 1674px 1172px #767676 , 837px 1815px #767676 , 1251px 443px #767676 , 461px 1346px #767676 , 813px 1105px #767676 , 177px 881px #767676 , 701px 1212px #767676 , 1868px 1445px #767676 , 909px 1832px #767676 , 467px 1896px #767676 , 607px 684px #767676 , 1699px 536px #767676 , 1626px 205px #767676 , 1859px 433px #767676 , 1731px 555px #767676 , 1615px 549px #767676 , 1212px 34px #767676 , 206px 917px #767676 , 1398px 1251px #767676 , 1595px 279px #767676 , 364px 802px #767676 , 7px 1789px #767676 , 782px 808px #767676 , 1657px 1514px #767676 , 1286px 1311px #767676 , 600px 1545px #767676 , 611px 136px #767676 , 1333px 466px #767676 , 963px 1907px #767676 , 1789px 1478px #767676 , 68px 616px #767676 , 1496px 1293px #767676 , 1947px 1631px #767676 , 1953px 1289px #767676 , 282px 1589px #767676 , 1588px 1192px #767676 , 1170px 1671px #767676 , 206px 74px #767676 , 190px 374px #767676 , 546px 797px #767676 , 281px 1759px #767676 , 194px 264px #767676 , 75px 1721px #767676 , 735px 1374px #767676 , 1865px 172px #767676 , 1825px 506px #767676 , 1978px 753px #767676 , 201px 1435px #767676 , 564px 783px #767676 , 124px 836px #767676 , 1539px 1901px #767676 , 576px 1985px #767676 , 1049px 1570px #767676 , 1394px 1342px #767676 , 252px 755px #767676 , 961px 1940px #767676 , 868px 1803px #767676 , 1816px 1270px #767676 , 1660px 1687px #767676 , 1741px 18px #767676 , 1462px 280px #767676 , 1092px 1759px #767676 , 610px 802px #767676 , 897px 84px #767676 , 1018px 1720px #767676 , 1792px 1904px #767676 , 1518px 588px #767676 , 305px 27px #767676 , 259px 1424px #767676 , 188px 653px #767676 , 915px 797px #767676 , 1289px 682px #767676 , 1709px 1753px #767676 , 520px 1734px #767676 , 1158px 1484px #767676 , 391px 502px #767676 , 1519px 1142px #767676 , 584px 572px #767676 , 674px 1709px #767676 , 740px 234px #767676 , 1174px 549px #767676 , 148px 1234px #767676 , 87px 1092px #767676 , 1216px 1066px #767676 , 1979px 1861px #767676 , 1059px 754px #767676 , 1287px 288px #767676 , 69px 87px #767676 , 1729px 403px #767676 , 1773px 1565px #767676 , 1674px 1323px #767676 , 1717px 1398px #767676 , 131px 1549px #767676 , 1127px 1204px #767676 , 1571px 113px #767676 , 1015px 854px #767676 , 1516px 653px #767676 , 987px 820px #767676 , 901px 1226px #767676 , 1410px 394px #767676 , 1882px 152px #767676 , 1672px 1538px #767676 , 1631px 792px #767676 , 813px 1218px #767676 , 1841px 831px #767676 , 351px 1888px #767676 , 1336px 1982px #767676 , 46px 1178px #767676 , 314px 1501px #767676 , 1847px 354px #767676 , 46px 502px #767676 , 1354px 620px #767676 , 1946px 909px #767676 , 1258px 328px #767676 , 1418px 1578px #767676 , 572px 1682px #767676 , 1806px 537px #767676 , 1884px 1625px #767676 , 193px 1453px #767676 , 1015px 835px #767676 , 1080px 78px #767676 , 772px 457px #767676 , 1770px 1713px #767676 , 1091px 1044px #767676 , 1230px 588px #767676 , 1360px 1656px #767676 , 1984px 558px #767676 , 306px 1399px #767676 , 1824px 1602px #767676 , 1586px 89px #767676 , 132px 1221px #767676 , 1049px 1327px #767676 , 1222px 183px #767676 , 452px 560px #767676 , 1737px 1009px #767676 , 1582px 322px #767676 , 589px 285px #767676 , 400px 1090px #767676 , 203px 411px #767676 , 1792px 1759px #767676 , 1716px 1528px #767676 , 1524px 1767px #767676 , 998px 1865px #767676 , 482px 684px #767676 , 970px 930px #767676 , 354px 1689px #767676 , 380px 1144px #767676 , 627px 1347px #767676 , 1631px 1405px #767676 , 237px 367px #767676 , 257px 1286px #767676 , 978px 258px #767676 , 1898px 958px #767676 , 374px 257px #767676 , 563px 1419px #767676 , 580px 219px #767676 , 1331px 557px #767676 , 1119px 1576px #767676 , 209px 1402px #767676 , 1842px 1570px #767676 , 1207px 1389px #767676 , 1360px 219px #767676 , 1361px 668px #767676 , 312px 1557px #767676 , 352px 1066px #767676 , 878px 1580px #767676 , 1875px 260px #767676 , 894px 774px #767676 , 146px 1155px #767676 , 673px 927px #767676 , 1434px 1044px #767676 , 992px 1259px #767676 , 750px 260px #767676 , 579px 366px #767676 , 208px 134px #767676 , 811px 1820px #767676 , 1872px 1372px #767676 , 1126px 792px #767676 , 1201px 1822px #767676 , 248px 1252px #767676 , 441px 1px #767676 , 819px 251px #767676 , 323px 1008px #767676 , 1969px 869px #767676 , 1718px 489px #767676 , 1910px 948px #767676 , 1236px 467px #767676 , 1368px 4px #767676 , 1142px 1605px #767676 , 1535px 1833px #767676 , 1986px 217px #767676 , 837px 1245px #767676 , 1422px 1122px #767676 , 486px 1004px #767676 , 276px 819px #767676 , 1289px 216px #767676 , 1524px 1903px #767676 , 116px 341px #767676 , 1406px 1943px #767676 , 1642px 995px #767676 , 1205px 1501px #767676 , 1739px 86px #767676 , 1431px 390px #767676 , 944px 1723px #767676 , 1780px 1149px #767676 , 1016px 1058px #767676 , 1513px 1236px #767676 , 1382px 1955px #767676 , 648px 1928px #767676 , 1842px 1302px #767676 , 346px 1552px #767676 , 1369px 745px #767676 , 727px 394px #767676 , 176px 869px #767676 , 903px 784px #767676 , 1430px 299px #767676 , 1481px 227px #767676 , 1419px 1200px #767676 , 1912px 1170px #767676 , 29px 1232px #767676 , 1321px 229px #767676 , 1238px 408px #767676 , 1770px 1289px #767676 , 1317px 1576px #767676 , 1540px 1305px #767676 , 663px 229px #767676 , 655px 1754px #767676 , 1560px 1720px #767676 , 288px 1853px #767676 , 227px 398px #767676 , 429px 1288px #767676 , 231px 1924px #767676 , 1257px 1880px #767676 , 493px 565px #767676 , 837px 1035px #767676 , 2px 1023px #767676 , 1343px 1786px #767676 , 1252px 1414px #767676 , 1856px 1367px #767676 , 1940px 250px #767676 , 1182px 1982px #767676 , 943px 1664px #767676 , 1458px 1263px #767676 , 286px 553px #767676 , 1868px 508px #767676 , 1065px 1274px #767676 , 1052px 610px #767676 , 555px 1696px #767676 , 1646px 513px #767676 , 794px 803px #767676 , 467px 1217px #767676 , 1245px 35px #767676 , 1955px 394px #767676 , 486px 1162px #767676 , 1134px 1921px #767676 , 992px 515px #767676 , 1549px 1581px #767676 , 78px 53px #767676 , 1439px 133px #767676 , 551px 1031px #767676 , 1150px 654px #767676 , 547px 1852px #767676 , 717px 487px #767676 , 1599px 849px #767676 , 277px 218px #767676 , 1278px 1676px #767676 , 250px 503px #767676 , 1983px 1667px #767676 , 1782px 419px #767676 , 1447px 971px #767676 , 1775px 1733px #767676 , 1342px 1756px #767676 , 591px 1654px #767676 , 574px 104px #767676 , 443px 1003px #767676 , 1704px 920px #767676 , 1198px 1763px #767676 , 885px 1909px #767676 , 912px 1651px #767676 , 1510px 554px #767676 , 1205px 9px #767676 , 1287px 577px #767676 , 1711px 279px #767676 , 384px 832px #767676 , 971px 1649px #767676 , 288px 1611px #767676 , 1358px 1728px #767676 , 1442px 246px #767676 , 1884px 937px #767676 , 741px 1994px #767676 , 1273px 477px #767676 , 948px 1028px #767676 , 1031px 1139px #767676 , 1150px 1993px #767676 , 1806px 988px #767676 , 1341px 216px #767676 , 249px 162px #767676 , 1591px 1031px #767676 , 553px 1892px #767676 , 907px 1827px #767676 , 942px 1091px #767676 , 264px 1298px #767676 , 27px 1412px #767676 , 173px 1208px #767676 , 1078px 894px #767676 , 992px 682px #767676 , 1203px 12px #767676 , 1652px 1918px #767676 , 336px 27px #767676 , 26px 37px #767676 , 728px 810px #767676 , 506px 976px #767676 , 88px 1915px #767676 , 584px 993px #767676 , 770px 461px #767676 , 157px 505px #767676 , 1484px 1876px #767676 , 147px 1304px #767676 , 206px 1315px #767676 , 840px 1228px #767676 , 1563px 218px #767676 , 1272px 1369px #767676 , 233px 1751px #767676 , 1174px 702px #767676 , 224px 243px #767676 , 1143px 1990px #767676 , 858px 1085px #767676 , 1038px 1295px #767676 , 1173px 1510px #767676 , 949px 465px #767676 , 428px 138px #767676 , 477px 640px #767676 , 1466px 871px #767676 , 1326px 492px #767676 , 1314px 625px #767676 , 1026px 1853px #767676 , 47px 9px #767676 , 965px 1996px #767676 , 1988px 624px #767676 , 1912px 297px #767676 , 45px 812px #767676 , 631px 120px #767676 , 956px 746px #767676 , 1264px 330px #767676 , 1186px 1376px #767676 , 111px 177px #767676 , 619px 1841px #767676 , 1210px 589px #767676 , 1837px 44px #767676 , 705px 99px #767676 , 903px 1835px #767676 , 420px 1911px #767676 , 202px 1237px #767676 , 1328px 1838px #767676 , 1295px 1688px #767676 , 991px 21px #767676 , 1897px 1599px #767676 , 1416px 751px #767676 , 405px 93px #767676 , 1894px 1446px #767676 , 355px 494px #767676 , 989px 1931px #767676 , 1381px 1649px #767676 , 382px 238px #767676 , 1223px 1539px #767676 , 352px 1252px #767676 , 1855px 669px #767676 , 1768px 528px #767676 , 1142px 1152px #767676 , 1165px 1535px #767676 , 957px 518px #767676 , 543px 1116px #767676 , 169px 990px #767676 , 797px 1372px #767676 , 800px 1006px #767676 , 240px 1232px #767676 , 1123px 1242px #767676 , 653px 1491px #767676 , 806px 1186px #767676 , 1942px 1453px #767676 , 1508px 219px #767676 , 468px 747px #767676 , 94px 12px #767676 , 799px 1036px #767676 , 1633px 1276px #767676 , 937px 248px #767676 , 1122px 1586px #767676 , 1678px 1007px #767676 , 1798px 993px #767676 , 1073px 857px #767676 , 1982px 115px #767676 , 804px 252px #767676 , 1418px 1682px #767676 , 163px 666px #767676 , 1666px 1859px #767676 , 537px 1143px #767676 , 1690px 1646px #767676 , 1621px 498px #767676 , 1834px 1659px #767676 , 1566px 537px #767676 , 1873px 1241px #767676 , 1340px 42px #767676 , 1948px 1871px #767676 , 1287px 1002px #767676 , 1736px 1402px #767676 , 1090px 137px #767676 , 1789px 1958px #767676 , 1868px 537px #767676 , 1644px 34px #767676 , 1028px 1079px #767676 , 1695px 472px #767676 , 1738px 66px #767676 , 731px 863px #767676 , 1518px 1493px #767676 , 156px 456px #767676 , 1933px 1430px #767676 , 1658px 1974px #767676 , 1287px 786px #767676 , 338px 1398px #767676 , 1282px 75px #767676 , 1829px 46px #767676 , 1594px 1603px #767676 , 976px 1627px #767676 , 25px 1985px #767676 , 1032px 889px #767676 , 867px 1268px #767676 , 1827px 902px #767676 , 1069px 979px #767676 , 1317px 1357px #767676 , 1022px 1266px #767676 , 515px 1891px #767676 , 617px 1644px #767676 , 1901px 1538px #767676 , 1404px 717px #767676 , 925px 402px #767676 , 1158px 1358px #767676 , 161px 1511px #767676 , 1016px 1989px #767676 , 768px 1186px #767676 , 332px 547px #767676 , 1298px 1664px #767676 , 44px 770px #767676 , 1830px 1078px #767676 , 492px 183px #767676 , 517px 1312px #767676 , 264px 1877px #767676 , 1420px 258px #767676 , 691px 131px #767676 , 1161px 1334px #767676 , 485px 1835px #767676 , 28px 1546px #767676 , 135px 1461px #767676 , 756px 1697px #767676 , 426px 590px #767676 , 1941px 954px #767676 , 1145px 68px #767676 , 991px 1874px #767676 , 627px 1429px #767676 , 1153px 57px #767676 , 1706px 1022px #767676 , 1678px 406px #767676 , 616px 1981px #767676 , 732px 304px #767676 , 1322px 758px #767676 , 1986px 1955px #767676 , 1689px 1818px #767676 , 34px 1576px #767676 , 1041px 1067px #767676 , 366px 496px #767676 , 1900px 917px #767676 , 100px 1929px #767676 , 1861px 396px #767676 , 1265px 1396px #767676 , 283px 583px #767676 , 1228px 1568px #767676 , 163px 757px #767676 , 1059px 1210px #767676 , 911px 378px #767676 , 370px 531px #767676 , 1984px 728px #767676 , 1732px 983px #767676 , 1816px 1263px #767676 , 1023px 13px #767676 , 589px 688px #767676 , 80px 290px #767676 , 1368px 1214px #767676 , 555px 1905px #767676 , 681px 1322px #767676 , 1591px 63px #767676 , 322px 134px #767676 , 1302px 274px #767676 , 229px 1466px #767676 , 254px 1960px #767676 , 165px 1495px #767676 , 1884px 161px #767676 , 492px 1905px #767676 , 17px 974px #767676 , 1677px 1340px #767676 , 1166px 829px #767676;
  }
  .stars > .medium {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 77px 823px #767676 , 707px 1273px #767676 , 77px 1728px #767676 , 271px 268px #767676 , 1627px 1606px #767676 , 1219px 99px #767676 , 1525px 1295px #767676 , 1501px 2000px #767676 , 1498px 927px #767676 , 758px 601px #767676 , 1461px 451px #767676 , 276px 817px #767676 , 1184px 1889px #767676 , 1694px 1053px #767676 , 1140px 638px #767676 , 1620px 622px #767676 , 1831px 220px #767676 , 927px 1855px #767676 , 1226px 1355px #767676 , 190px 614px #767676 , 1421px 1765px #767676 , 191px 484px #767676 , 365px 1509px #767676 , 856px 266px #767676 , 720px 835px #767676 , 137px 1308px #767676 , 760px 1469px #767676 , 1090px 1903px #767676 , 1903px 1277px #767676 , 1240px 81px #767676 , 951px 1772px #767676 , 231px 981px #767676 , 1776px 729px #767676 , 535px 696px #767676 , 911px 1492px #767676 , 1403px 1897px #767676 , 1715px 1400px #767676 , 1583px 12px #767676 , 1269px 1754px #767676 , 816px 249px #767676 , 1501px 31px #767676 , 750px 1316px #767676 , 1054px 728px #767676 , 1598px 182px #767676 , 1621px 967px #767676 , 996px 1911px #767676 , 1526px 45px #767676 , 865px 430px #767676 , 1504px 1613px #767676 , 1092px 314px #767676 , 922px 257px #767676 , 272px 998px #767676 , 850px 1306px #767676 , 180px 1827px #767676 , 601px 584px #767676 , 1020px 1990px #767676 , 550px 353px #767676 , 1793px 793px #767676 , 707px 1278px #767676 , 271px 989px #767676 , 216px 1919px #767676 , 1970px 1273px #767676 , 1814px 1619px #767676 , 1087px 1704px #767676 , 194px 1047px #767676 , 1197px 966px #767676 , 266px 1486px #767676 , 859px 1041px #767676 , 895px 1498px #767676 , 808px 222px #767676 , 969px 1329px #767676 , 1730px 1749px #767676 , 1189px 365px #767676 , 1306px 1781px #767676 , 1790px 475px #767676 , 1535px 1201px #767676 , 1932px 1949px #767676 , 1389px 1100px #767676 , 441px 638px #767676 , 593px 1855px #767676 , 58px 544px #767676 , 878px 324px #767676 , 1924px 363px #767676 , 1943px 478px #767676 , 1917px 1649px #767676 , 1712px 190px #767676 , 1605px 1519px #767676 , 742px 834px #767676 , 629px 457px #767676 , 1385px 1866px #767676 , 851px 1802px #767676 , 1386px 1944px #767676 , 387px 1731px #767676 , 1938px 242px #767676 , 958px 566px #767676 , 347px 1595px #767676 , 436px 1105px #767676 , 376px 1244px #767676 , 480px 401px #767676 , 359px 1887px #767676 , 268px 1418px #767676 , 1000px 740px #767676 , 1311px 1118px #767676 , 1565px 1270px #767676 , 714px 979px #767676 , 1921px 810px #767676 , 1056px 1056px #767676 , 1766px 490px #767676 , 1889px 1865px #767676 , 73px 536px #767676 , 1924px 75px #767676 , 1030px 1603px #767676 , 1833px 1778px #767676 , 1029px 909px #767676 , 700px 335px #767676 , 927px 254px #767676 , 1347px 1224px #767676 , 1145px 585px #767676 , 1400px 1108px #767676 , 290px 1945px #767676 , 878px 181px #767676 , 174px 1794px #767676 , 581px 1875px #767676 , 729px 1735px #767676 , 364px 989px #767676 , 1523px 280px #767676 , 1038px 1812px #767676 , 363px 1789px #767676 , 235px 1374px #767676 , 1001px 274px #767676 , 1171px 1731px #767676 , 1651px 1955px #767676 , 1894px 1894px #767676 , 1491px 1266px #767676 , 353px 896px #767676 , 1281px 1485px #767676 , 324px 1915px #767676 , 1651px 1769px #767676 , 1206px 955px #767676 , 1905px 782px #767676 , 1948px 181px #767676 , 894px 756px #767676 , 294px 1430px #767676 , 1188px 875px #767676 , 1265px 913px #767676 , 202px 1916px #767676 , 1886px 1002px #767676 , 13px 701px #767676 , 1441px 740px #767676 , 59px 1961px #767676 , 1231px 1975px #767676 , 1264px 788px #767676 , 242px 1519px #767676 , 1328px 77px #767676 , 1477px 1055px #767676 , 13px 1601px #767676 , 1584px 150px #767676 , 1016px 1159px #767676 , 1908px 669px #767676 , 848px 809px #767676 , 1034px 822px #767676 , 1860px 1249px #767676 , 522px 581px #767676 , 1770px 1273px #767676 , 189px 677px #767676 , 979px 1363px #767676 , 1865px 174px #767676 , 206px 85px #767676 , 166px 385px #767676 , 798px 1340px #767676 , 1120px 842px #767676 , 1548px 826px #767676 , 1044px 1756px #767676 , 1493px 744px #767676 , 998px 1058px #767676 , 1084px 1216px #767676 , 44px 1478px #767676 , 1193px 311px #767676 , 225px 1144px #767676 , 586px 1478px #767676 , 1460px 1346px #767676 , 877px 788px #767676 , 1690px 955px #767676 , 763px 962px #767676 , 1884px 1977px #767676 , 1256px 869px #767676 , 662px 163px #767676 , 1511px 1301px #767676 , 898px 648px #767676 , 109px 836px #767676 , 853px 1520px #767676 , 434px 1528px #767676 , 771px 1431px #767676 , 1383px 1200px #767676 , 1184px 1231px #767676 , 921px 1671px #767676 , 434px 1369px #767676 , 1033px 977px #767676 , 739px 225px #767676 , 1460px 1631px #767676;
    animation: starsAnimation 100s linear infinite;
  }
  .stars > .medium:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 77px 823px #767676 , 707px 1273px #767676 , 77px 1728px #767676 , 271px 268px #767676 , 1627px 1606px #767676 , 1219px 99px #767676 , 1525px 1295px #767676 , 1501px 2000px #767676 , 1498px 927px #767676 , 758px 601px #767676 , 1461px 451px #767676 , 276px 817px #767676 , 1184px 1889px #767676 , 1694px 1053px #767676 , 1140px 638px #767676 , 1620px 622px #767676 , 1831px 220px #767676 , 927px 1855px #767676 , 1226px 1355px #767676 , 190px 614px #767676 , 1421px 1765px #767676 , 191px 484px #767676 , 365px 1509px #767676 , 856px 266px #767676 , 720px 835px #767676 , 137px 1308px #767676 , 760px 1469px #767676 , 1090px 1903px #767676 , 1903px 1277px #767676 , 1240px 81px #767676 , 951px 1772px #767676 , 231px 981px #767676 , 1776px 729px #767676 , 535px 696px #767676 , 911px 1492px #767676 , 1403px 1897px #767676 , 1715px 1400px #767676 , 1583px 12px #767676 , 1269px 1754px #767676 , 816px 249px #767676 , 1501px 31px #767676 , 750px 1316px #767676 , 1054px 728px #767676 , 1598px 182px #767676 , 1621px 967px #767676 , 996px 1911px #767676 , 1526px 45px #767676 , 865px 430px #767676 , 1504px 1613px #767676 , 1092px 314px #767676 , 922px 257px #767676 , 272px 998px #767676 , 850px 1306px #767676 , 180px 1827px #767676 , 601px 584px #767676 , 1020px 1990px #767676 , 550px 353px #767676 , 1793px 793px #767676 , 707px 1278px #767676 , 271px 989px #767676 , 216px 1919px #767676 , 1970px 1273px #767676 , 1814px 1619px #767676 , 1087px 1704px #767676 , 194px 1047px #767676 , 1197px 966px #767676 , 266px 1486px #767676 , 859px 1041px #767676 , 895px 1498px #767676 , 808px 222px #767676 , 969px 1329px #767676 , 1730px 1749px #767676 , 1189px 365px #767676 , 1306px 1781px #767676 , 1790px 475px #767676 , 1535px 1201px #767676 , 1932px 1949px #767676 , 1389px 1100px #767676 , 441px 638px #767676 , 593px 1855px #767676 , 58px 544px #767676 , 878px 324px #767676 , 1924px 363px #767676 , 1943px 478px #767676 , 1917px 1649px #767676 , 1712px 190px #767676 , 1605px 1519px #767676 , 742px 834px #767676 , 629px 457px #767676 , 1385px 1866px #767676 , 851px 1802px #767676 , 1386px 1944px #767676 , 387px 1731px #767676 , 1938px 242px #767676 , 958px 566px #767676 , 347px 1595px #767676 , 436px 1105px #767676 , 376px 1244px #767676 , 480px 401px #767676 , 359px 1887px #767676 , 268px 1418px #767676 , 1000px 740px #767676 , 1311px 1118px #767676 , 1565px 1270px #767676 , 714px 979px #767676 , 1921px 810px #767676 , 1056px 1056px #767676 , 1766px 490px #767676 , 1889px 1865px #767676 , 73px 536px #767676 , 1924px 75px #767676 , 1030px 1603px #767676 , 1833px 1778px #767676 , 1029px 909px #767676 , 700px 335px #767676 , 927px 254px #767676 , 1347px 1224px #767676 , 1145px 585px #767676 , 1400px 1108px #767676 , 290px 1945px #767676 , 878px 181px #767676 , 174px 1794px #767676 , 581px 1875px #767676 , 729px 1735px #767676 , 364px 989px #767676 , 1523px 280px #767676 , 1038px 1812px #767676 , 363px 1789px #767676 , 235px 1374px #767676 , 1001px 274px #767676 , 1171px 1731px #767676 , 1651px 1955px #767676 , 1894px 1894px #767676 , 1491px 1266px #767676 , 353px 896px #767676 , 1281px 1485px #767676 , 324px 1915px #767676 , 1651px 1769px #767676 , 1206px 955px #767676 , 1905px 782px #767676 , 1948px 181px #767676 , 894px 756px #767676 , 294px 1430px #767676 , 1188px 875px #767676 , 1265px 913px #767676 , 202px 1916px #767676 , 1886px 1002px #767676 , 13px 701px #767676 , 1441px 740px #767676 , 59px 1961px #767676 , 1231px 1975px #767676 , 1264px 788px #767676 , 242px 1519px #767676 , 1328px 77px #767676 , 1477px 1055px #767676 , 13px 1601px #767676 , 1584px 150px #767676 , 1016px 1159px #767676 , 1908px 669px #767676 , 848px 809px #767676 , 1034px 822px #767676 , 1860px 1249px #767676 , 522px 581px #767676 , 1770px 1273px #767676 , 189px 677px #767676 , 979px 1363px #767676 , 1865px 174px #767676 , 206px 85px #767676 , 166px 385px #767676 , 798px 1340px #767676 , 1120px 842px #767676 , 1548px 826px #767676 , 1044px 1756px #767676 , 1493px 744px #767676 , 998px 1058px #767676 , 1084px 1216px #767676 , 44px 1478px #767676 , 1193px 311px #767676 , 225px 1144px #767676 , 586px 1478px #767676 , 1460px 1346px #767676 , 877px 788px #767676 , 1690px 955px #767676 , 763px 962px #767676 , 1884px 1977px #767676 , 1256px 869px #767676 , 662px 163px #767676 , 1511px 1301px #767676 , 898px 648px #767676 , 109px 836px #767676 , 853px 1520px #767676 , 434px 1528px #767676 , 771px 1431px #767676 , 1383px 1200px #767676 , 1184px 1231px #767676 , 921px 1671px #767676 , 434px 1369px #767676 , 1033px 977px #767676 , 739px 225px #767676 , 1460px 1631px #767676;
  }
  .stars > .big {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1636px 125px #767676 , 1819px 1968px #767676 , 984px 496px #767676 , 1973px 1881px #767676 , 555px 34px #767676 , 1348px 1313px #767676 , 1926px 163px #767676 , 127px 577px #767676 , 1990px 1672px #767676 , 47px 462px #767676 , 1525px 1532px #767676 , 1504px 1198px #767676 , 117px 794px #767676 , 815px 717px #767676 , 722px 1119px #767676 , 1918px 1841px #767676 , 530px 1162px #767676 , 791px 1137px #767676 , 1286px 1684px #767676 , 686px 1818px #767676 , 1359px 338px #767676 , 1125px 1750px #767676 , 1709px 1271px #767676 , 1880px 730px #767676 , 1583px 777px #767676 , 1768px 1992px #767676 , 1823px 394px #767676 , 1344px 407px #767676 , 1592px 1406px #767676 , 1951px 144px #767676 , 452px 1230px #767676 , 1426px 187px #767676 , 880px 1028px #767676 , 420px 141px #767676 , 91px 1722px #767676 , 1331px 42px #767676 , 1282px 500px #767676 , 457px 420px #767676 , 1531px 109px #767676 , 1289px 1051px #767676 , 579px 580px #767676 , 305px 1247px #767676 , 722px 1625px #767676 , 1657px 779px #767676 , 1452px 872px #767676 , 890px 877px #767676 , 1665px 967px #767676 , 452px 715px #767676 , 1036px 1595px #767676 , 616px 1268px #767676 , 949px 1852px #767676 , 173px 664px #767676 , 1708px 1477px #767676 , 102px 1301px #767676 , 1425px 1948px #767676 , 1228px 1061px #767676 , 435px 254px #767676 , 1146px 1727px #767676 , 1090px 1693px #767676 , 854px 1039px #767676 , 1125px 1286px #767676 , 594px 420px #767676 , 214px 1410px #767676 , 1568px 1166px #767676 , 377px 1715px #767676 , 1042px 566px #767676 , 295px 1226px #767676 , 418px 49px #767676 , 165px 869px #767676 , 603px 1019px #767676 , 628px 1500px #767676 , 399px 829px #767676 , 827px 662px #767676 , 452px 298px #767676 , 827px 609px #767676 , 764px 829px #767676 , 679px 1264px #767676 , 572px 1827px #767676 , 1655px 933px #767676 , 1163px 1896px #767676 , 1401px 277px #767676 , 746px 182px #767676 , 432px 1425px #767676 , 1911px 1472px #767676 , 1127px 1630px #767676 , 663px 1598px #767676 , 337px 1733px #767676 , 553px 1354px #767676 , 978px 1566px #767676 , 167px 335px #767676 , 995px 1309px #767676 , 1380px 224px #767676 , 1455px 1433px #767676 , 1316px 681px #767676 , 585px 6px #767676 , 499px 353px #767676 , 1609px 325px #767676 , 1348px 1330px #767676 , 303px 1658px #767676 , 1616px 1509px #767676;
    border-radius: 100%;
    animation: starsAnimation 150s linear infinite;
  }
  .stars > .big:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1636px 125px #767676 , 1819px 1968px #767676 , 984px 496px #767676 , 1973px 1881px #767676 , 555px 34px #767676 , 1348px 1313px #767676 , 1926px 163px #767676 , 127px 577px #767676 , 1990px 1672px #767676 , 47px 462px #767676 , 1525px 1532px #767676 , 1504px 1198px #767676 , 117px 794px #767676 , 815px 717px #767676 , 722px 1119px #767676 , 1918px 1841px #767676 , 530px 1162px #767676 , 791px 1137px #767676 , 1286px 1684px #767676 , 686px 1818px #767676 , 1359px 338px #767676 , 1125px 1750px #767676 , 1709px 1271px #767676 , 1880px 730px #767676 , 1583px 777px #767676 , 1768px 1992px #767676 , 1823px 394px #767676 , 1344px 407px #767676 , 1592px 1406px #767676 , 1951px 144px #767676 , 452px 1230px #767676 , 1426px 187px #767676 , 880px 1028px #767676 , 420px 141px #767676 , 91px 1722px #767676 , 1331px 42px #767676 , 1282px 500px #767676 , 457px 420px #767676 , 1531px 109px #767676 , 1289px 1051px #767676 , 579px 580px #767676 , 305px 1247px #767676 , 722px 1625px #767676 , 1657px 779px #767676 , 1452px 872px #767676 , 890px 877px #767676 , 1665px 967px #767676 , 452px 715px #767676 , 1036px 1595px #767676 , 616px 1268px #767676 , 949px 1852px #767676 , 173px 664px #767676 , 1708px 1477px #767676 , 102px 1301px #767676 , 1425px 1948px #767676 , 1228px 1061px #767676 , 435px 254px #767676 , 1146px 1727px #767676 , 1090px 1693px #767676 , 854px 1039px #767676 , 1125px 1286px #767676 , 594px 420px #767676 , 214px 1410px #767676 , 1568px 1166px #767676 , 377px 1715px #767676 , 1042px 566px #767676 , 295px 1226px #767676 , 418px 49px #767676 , 165px 869px #767676 , 603px 1019px #767676 , 628px 1500px #767676 , 399px 829px #767676 , 827px 662px #767676 , 452px 298px #767676 , 827px 609px #767676 , 764px 829px #767676 , 679px 1264px #767676 , 572px 1827px #767676 , 1655px 933px #767676 , 1163px 1896px #767676 , 1401px 277px #767676 , 746px 182px #767676 , 432px 1425px #767676 , 1911px 1472px #767676 , 1127px 1630px #767676 , 663px 1598px #767676 , 337px 1733px #767676 , 553px 1354px #767676 , 978px 1566px #767676 , 167px 335px #767676 , 995px 1309px #767676 , 1380px 224px #767676 , 1455px 1433px #767676 , 1316px 681px #767676 , 585px 6px #767676 , 499px 353px #767676 , 1609px 325px #767676 , 1348px 1330px #767676 , 303px 1658px #767676 , 1616px 1509px #767676;
    border-radius: 100%;
  }
  @keyframes starsAnimation {
    from {
      transform: translateY(-2000px);
    }
    to {
      transform: translateY(0px);
    }
  }
  #hero {
    position: relative;
    /* prevents overflow from the lines extending past the screen width */
    overflow: hidden;
    /* changes on tablet */
    padding: 0 1rem;
    padding-bottom: 6.25rem;
    font-family: "Poppins", "Arial", sans-serif;
    /* Centers button */
    text-align: center;
    background: linear-gradient(to right, #4e4376, #2b5876);
  }
  #hero:after {
    content: "";
    background: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
  #hero .pinetree {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    object-fit: cover;
    mask: url("/assets/svgs/trees-sillouette.svg") no-repeat bottom;
    -webkit-mask: url("/assets/svgs/trees-sillouette.svg") no-repeat bottom;
    /* Safari support */
    mask-size: 150vw;
    z-index: 1;
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);
    background: linear-gradient(to right, #4e4376, #2b5876);
  }
  #hero .cs-picture {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    /* Background Image */
    width: 100%;
  }
  #hero .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes image act like a background-image */
    object-fit: cover;
    mask: url("/assets/svgs/trees-sillouette.svg") no-repeat center;
    mask-size: 100%;
  }
  #hero .cs-container {
    position: relative;
    margin: auto;
    max-width: 80em;
    width: 100%;
    height: 100vh;
    /* we put the padding top and bottom on the container instead of #Hero so the pseudo element lines go to the top and bottom of the section */
    /* 144px - 280px - leaving extra space for the navigation */
    /* changes on tablet */
  }
  #hero .cs-container:before {
    position: absolute;
    top: 0;
    left: 0;
    /* Left Line */
    content: "";
    opacity: 1;
    display: block;
    height: 100%;
    width: 1px;
  }
  #hero .cs-flex-group {
    padding-top: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* 60px - 220px */
    /* 464px - 562px */
    max-width: clamp(29em, 60vw, 35.125em);
    width: 80vw;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    transform: translateX(-50%) translateY(-50%);
  }
  #hero .cs-flex-group span,
  #hero .cs-flex-group h1,
  #hero .cs-flex-group p {
    animation: glitch1 8s infinite;
  }
  #hero .cs-flex-group:nth-child(2) span,
  #hero .cs-flex-group:nth-child(2) h1,
  #hero .cs-flex-group:nth-child(2) p {
    color: #67f3da;
    animation: glitch2 8s infinite;
  }
  #hero .cs-flex-group:nth-child(3) span,
  #hero .cs-flex-group:nth-child(3) h1,
  #hero .cs-flex-group:nth-child(3) p {
    color: #f16f6f;
    animation: glitch3 8s infinite;
  }
  #hero .cs-topper {
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
  }
  #hero .cs-title {
    width: 100%;
    color: #fff;
    text-align: center;
  }
  #hero .cs-text {
    /* 32px - 40px */
    margin: 0 auto clamp(2rem, 4vw, 2.5rem) 0;
    /* 40px - 48px */
    margin-bottom: clamp(2.5rem, 4vw, 3rem);
    color: #fff;
    text-align: center;
  }
  #hero .cs-button-solid {
    margin-bottom: 1rem;
    height: initial;
    line-height: clamp(2.875em, 5.5vw, 3.5em);
  }
  #hero .cs-button-transparent {
    z-index: 1;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--bodyTextColorWhite);
    margin: 0 0.5rem;
    background-color: transparent;
    /* 46px - 56px */
    height: clamp(2.875em, 5.5vw, 3.5em);
    width: 11.25rem;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    font-weight: 700;
    color: #fff;
  }
  #hero .cs-button-transparent .cs-img {
    display: block;
    margin-right: 0.75rem;
  }
  #hero .cs-button-transparent:before {
    z-index: -1;
    position: absolute;
    /* so it sits on top of the border */
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    content: "";
    opacity: 1;
    /* this is what creates the grow affect on hover */
    transform: scaleX(0);
    display: block;
    background: #000;
    transition: transform 0.3s;
    transform-origin: left;
  }
  #hero .cs-button-transparent:hover:before {
    transform: scaleX(1);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #hero {
    /* 32px - 40px */
    padding: 0 clamp(2em, 5vw, 2.5em);
  }
  #hero:after {
    content: "";
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
  #hero .cs-container:after {
    position: absolute;
    top: 0;
    right: 0;
    /* Right Line */
    content: "";
    opacity: 1;
    display: block;
    height: 100%;
    width: 1px;
  }
  #hero .pinetree {
    mask-size: 1200px;
  }
  #hero .cs-flex-group {
    padding-top: 10.625em;
  }
  #hero .cs-flex-group .cs-topper {
    color: #fff;
  }
  #hero .cs-flex-group .cs-title {
    color: #fff;
  }
  #hero .cs-flex-group .cs-text {
    color: #fff;
  }
  #hero .cs-flex-group .cs-button-solid {
    margin-right: 1.25rem;
    margin-bottom: 0;
  }
}
/* Desktop Parallax Effect - 1300px */
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #hero {
    background: linear-gradient(to right, #0a0f1a, #000814);
  }
  body.dark-mode #hero .pinetree {
    background: linear-gradient(to right, #0a0f1a, #000814);
  }
}
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0rem) {
  .services {
    z-index: 100;
    position: relative;
    margin: auto;
    max-width: 82.5em;
    width: 90%;
  }
  .services .cs-flex-group {
    padding: var(--sectionPadding);
    text-align: -webkit-center;
  }
  .services .card-stack:not(:last-child) {
    margin-bottom: 3.125em;
  }
  .services .card-stack .card {
    display: block;
    margin: auto;
    margin-bottom: 3.125em;
    max-width: 22.3125em;
    min-width: 3.125em;
    width: 100%;
    background: white;
    padding: 3.125em 1.25em;
    border-radius: 15px;
    /* border: 0.375em solid var(--primary); */
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease;
  }
  .services .card-stack .card:hover {
    transform: scale(1.05);
    transform: translateY(-5px);
  }
  .services .card-stack .card picture {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 1.4375em;
    background: var(--primary);
    height: 5.5em;
    width: 5.5em;
  }
  .services .card-stack .card picture img {
    height: 3em;
    width: 3em;
  }
  .services .card-stack .card h2 {
    margin-bottom: 0.65em;
    font-size: 2em;
    line-height: 1.35em;
    font-weight: 700;
    color: #1a1a1a;
    text-align: center;
  }
  .services .card-stack .card p {
    opacity: 0.7;
    width: 100%;
    line-height: 1.3333333333em;
    text-align: center;
  }
}
/* Inbetween */
@media only screen and (min-width: 768px) {
  .services {
    display: flex;
    flex-direction: column;
    width: 98%;
    font-size: min(1.8vw, 1em);
  }
  .services .card-stack {
    display: flex;
    justify-content: space-evenly;
  }
  .services .card-stack .card {
    margin: 0.65em;
  }
}
/* Large Desktop */
@media only screen and (min-width: 1300px) {
  .services {
    padding: 3.125em 5em;
  }
  .services .card-stack .card {
    max-width: 22.3125em;
  }
}
/* Dark mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #services .cs-flex-group .cs-topper {
    color: var(--primaryLight);
  }
  body.dark-mode #services .card {
    background: var(--medium);
    box-shadow: 0px 20px 40px rgba(255, 255, 255, 0.1);
  }
  body.dark-mode #services picture {
    background: var(--primaryDark);
    border: 1px solid white;
  }
  body.dark-mode #services h2 {
    font-weight: bold;
    color: #fff;
  }
}

/*# sourceMappingURL=critical.css.map */
