/* STYLES FOR ABOVE THE FOLD */
/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  /*Keyframes*/
  @keyframes glitch1 {
    0% {
      transform: none;
      opacity: 1;
    }
    3% {
      transform: skew(-0.5deg, -0.9deg);
      opacity: 0.75;
    }
    6% {
      transform: none;
      opacity: 1;
    }
    10% {
      transform: none;
      opacity: 1;
    }
    12% {
      transform: skew(0.8deg, -0.1deg);
      opacity: 0.75;
    }
    15% {
      transform: none;
      opacity: 1;
    }
    18% {
      transform: none;
      opacity: 1;
    }
    21% {
      transform: skew(-1deg, 0.2deg);
      opacity: 0.75;
    }
    23% {
      transform: none;
      opacity: 1;
    }
    25% {
      transform: none;
      opacity: 1;
    }
    27% {
      transform: skew(0.4deg, 1deg);
      opacity: 0.75;
    }
    29% {
      transform: none;
      opacity: 1;
    }
    100% {
      transform: none;
      opacity: 1;
    }
  }
  @keyframes glitch2 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    3% {
      transform: translate(-2px, -3px);
      opacity: 0.5;
    }
    6% {
      transform: none;
      opacity: 0.25;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    12% {
      transform: translate(-5px, -2px);
      opacity: 0.5;
    }
    15% {
      transform: none;
      opacity: 0.25;
    }
    18% {
      transform: none;
      opacity: 0.25;
    }
    21% {
      transform: translate(-5px, -1px);
      opacity: 0.5;
    }
    23% {
      transform: none;
      opacity: 0.25;
    }
    25% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: translate(-2px, -6px);
      opacity: 0.5;
    }
    29% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
  }
  @keyframes glitch3 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    3% {
      transform: translate(2px, 3px);
      opacity: 0.5;
    }
    6% {
      transform: none;
      opacity: 0.25;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    12% {
      transform: translate(5px, 2px);
      opacity: 0.5;
    }
    15% {
      transform: none;
      opacity: 0.25;
    }
    18% {
      transform: none;
      opacity: 0.25;
    }
    21% {
      transform: translate(5px, 1px);
      opacity: 0.5;
    }
    23% {
      transform: none;
      opacity: 0.25;
    }
    25% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: translate(2px, 6px);
      opacity: 0.5;
    }
    29% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
  }
  .glow-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: radial-gradient(circle at 30% 30%, #A8C6A0, transparent 40%), radial-gradient(circle at 70% 70%, #5A9367, transparent 40%);
    animation: moveGlow 10s ease-in-out infinite;
    filter: blur(50px);
    z-index: 0;
  }
  @keyframes moveGlow {
    0%, 100% {
      transform: translate(0%, 0%);
    }
    25% {
      transform: translate(25%, -10%);
    }
    50% {
      transform: translate(10%, 25%);
    }
    75% {
      transform: translate(-10%, -15%);
    }
  }
  .stars {
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: opacity 1s ease-in-out;
    position: absolute;
  }
  .stars > .small {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 80px 1211px #767676 , 590px 1462px #767676 , 180px 1764px #767676 , 764px 959px #767676 , 370px 1098px #767676 , 124px 441px #767676 , 1819px 1874px #767676 , 618px 1859px #767676 , 707px 1959px #767676 , 927px 1658px #767676 , 396px 424px #767676 , 428px 1771px #767676 , 686px 1925px #767676 , 1982px 759px #767676 , 812px 875px #767676 , 1941px 676px #767676 , 1857px 376px #767676 , 1595px 842px #767676 , 1526px 464px #767676 , 745px 974px #767676 , 385px 1668px #767676 , 885px 1599px #767676 , 1821px 1995px #767676 , 1628px 1858px #767676 , 1912px 719px #767676 , 749px 707px #767676 , 220px 1835px #767676 , 1766px 782px #767676 , 366px 1902px #767676 , 192px 215px #767676 , 457px 186px #767676 , 838px 574px #767676 , 1720px 958px #767676 , 1809px 1282px #767676 , 1977px 1186px #767676 , 981px 1115px #767676 , 144px 1218px #767676 , 283px 1230px #767676 , 616px 1691px #767676 , 1032px 1338px #767676 , 195px 907px #767676 , 834px 568px #767676 , 451px 1946px #767676 , 1460px 219px #767676 , 1184px 688px #767676 , 1386px 111px #767676 , 1704px 523px #767676 , 1732px 917px #767676 , 1349px 1329px #767676 , 1395px 1546px #767676 , 147px 1160px #767676 , 1555px 545px #767676 , 143px 1777px #767676 , 1389px 1990px #767676 , 1466px 756px #767676 , 1225px 1471px #767676 , 1834px 969px #767676 , 1000px 176px #767676 , 1697px 1959px #767676 , 940px 1815px #767676 , 868px 1908px #767676 , 493px 450px #767676 , 255px 1145px #767676 , 1326px 878px #767676 , 290px 933px #767676 , 186px 1855px #767676 , 1839px 1669px #767676 , 1573px 160px #767676 , 1810px 637px #767676 , 1303px 571px #767676 , 1675px 1651px #767676 , 1597px 693px #767676 , 1035px 448px #767676 , 908px 1158px #767676 , 498px 1306px #767676 , 1496px 1478px #767676 , 1239px 1647px #767676 , 1840px 1311px #767676 , 1784px 822px #767676 , 1536px 1795px #767676 , 989px 1293px #767676 , 502px 1703px #767676 , 471px 550px #767676 , 812px 1544px #767676 , 570px 431px #767676 , 18px 1808px #767676 , 1987px 1604px #767676 , 2000px 1158px #767676 , 1337px 488px #767676 , 1564px 1244px #767676 , 1973px 1675px #767676 , 487px 816px #767676 , 256px 121px #767676 , 814px 1686px #767676 , 842px 1759px #767676 , 1992px 834px #767676 , 784px 988px #767676 , 1327px 13px #767676 , 1463px 1897px #767676 , 1914px 645px #767676 , 749px 1447px #767676 , 1279px 1874px #767676 , 808px 597px #767676 , 1005px 1748px #767676 , 1333px 1254px #767676 , 1450px 273px #767676 , 1371px 312px #767676 , 1282px 741px #767676 , 953px 1485px #767676 , 1374px 607px #767676 , 1198px 729px #767676 , 1319px 1407px #767676 , 835px 1043px #767676 , 569px 1668px #767676 , 806px 273px #767676 , 965px 1055px #767676 , 943px 1110px #767676 , 508px 275px #767676 , 953px 176px #767676 , 116px 1598px #767676 , 592px 1826px #767676 , 225px 1394px #767676 , 960px 1160px #767676 , 492px 1429px #767676 , 643px 1144px #767676 , 576px 565px #767676 , 1643px 1783px #767676 , 1281px 867px #767676 , 1904px 1783px #767676 , 1418px 455px #767676 , 1257px 1685px #767676 , 1902px 245px #767676 , 1395px 1860px #767676 , 708px 996px #767676 , 828px 1225px #767676 , 992px 438px #767676 , 13px 476px #767676 , 1921px 1244px #767676 , 1268px 122px #767676 , 62px 1251px #767676 , 1996px 1179px #767676 , 1307px 452px #767676 , 1596px 521px #767676 , 1087px 1742px #767676 , 1156px 902px #767676 , 1343px 1941px #767676 , 43px 638px #767676 , 683px 1375px #767676 , 752px 386px #767676 , 61px 1111px #767676 , 1945px 1837px #767676 , 1190px 163px #767676 , 801px 1057px #767676 , 658px 1070px #767676 , 1888px 733px #767676 , 1227px 432px #767676 , 183px 741px #767676 , 607px 1234px #767676 , 1700px 1248px #767676 , 416px 1820px #767676 , 761px 1867px #767676 , 1585px 206px #767676 , 1130px 90px #767676 , 1648px 686px #767676 , 1756px 1499px #767676 , 892px 1910px #767676 , 1960px 868px #767676 , 934px 926px #767676 , 549px 435px #767676 , 1363px 1353px #767676 , 1631px 496px #767676 , 456px 1851px #767676 , 1552px 870px #767676 , 991px 811px #767676 , 565px 1433px #767676 , 1310px 1566px #767676 , 97px 114px #767676 , 117px 191px #767676 , 1509px 100px #767676 , 761px 1738px #767676 , 1285px 130px #767676 , 1425px 1133px #767676 , 505px 1464px #767676 , 877px 1232px #767676 , 1968px 117px #767676 , 1190px 1990px #767676 , 308px 299px #767676 , 1616px 1512px #767676 , 152px 1828px #767676 , 1457px 1033px #767676 , 1729px 251px #767676 , 953px 905px #767676 , 1524px 1778px #767676 , 1480px 1527px #767676 , 668px 331px #767676 , 1948px 690px #767676 , 552px 652px #767676 , 1934px 1171px #767676 , 683px 1331px #767676 , 1053px 111px #767676 , 1752px 1141px #767676 , 673px 967px #767676 , 1573px 1844px #767676 , 1056px 1351px #767676 , 1125px 1987px #767676 , 411px 239px #767676 , 1310px 1274px #767676 , 1718px 595px #767676 , 26px 211px #767676 , 1323px 33px #767676 , 515px 1814px #767676 , 881px 535px #767676 , 1506px 902px #767676 , 1195px 603px #767676 , 348px 1630px #767676 , 1149px 1489px #767676 , 1817px 1182px #767676 , 221px 951px #767676 , 557px 1709px #767676 , 1264px 984px #767676 , 965px 270px #767676 , 1712px 1032px #767676 , 1647px 335px #767676 , 1523px 760px #767676 , 1700px 552px #767676 , 1416px 943px #767676 , 183px 559px #767676 , 1213px 1252px #767676 , 763px 1697px #767676 , 1851px 654px #767676 , 352px 1434px #767676 , 1870px 1376px #767676 , 501px 869px #767676 , 1942px 839px #767676 , 1645px 668px #767676 , 184px 1586px #767676 , 1312px 1079px #767676 , 1510px 188px #767676 , 1068px 1219px #767676 , 1752px 689px #767676 , 1954px 1700px #767676 , 1289px 17px #767676 , 865px 506px #767676 , 1746px 877px #767676 , 418px 120px #767676 , 1595px 238px #767676 , 1354px 1295px #767676 , 1411px 1316px #767676 , 296px 1349px #767676 , 269px 1817px #767676 , 1254px 700px #767676 , 1708px 1911px #767676 , 478px 1611px #767676 , 419px 1969px #767676 , 868px 1159px #767676 , 864px 1903px #767676 , 517px 1992px #767676 , 1678px 1815px #767676 , 324px 1236px #767676 , 177px 220px #767676 , 1434px 1070px #767676 , 1772px 1288px #767676 , 1263px 558px #767676 , 1553px 1759px #767676 , 441px 54px #767676 , 1996px 443px #767676 , 911px 238px #767676 , 36px 763px #767676 , 1535px 1759px #767676 , 732px 924px #767676 , 1426px 1196px #767676 , 403px 439px #767676 , 362px 1977px #767676 , 494px 1625px #767676 , 1994px 1403px #767676 , 983px 1959px #767676 , 203px 2px #767676 , 1575px 1604px #767676 , 178px 1816px #767676 , 1257px 21px #767676 , 1434px 811px #767676 , 401px 786px #767676 , 464px 664px #767676 , 1139px 1313px #767676 , 1295px 1837px #767676 , 922px 1535px #767676 , 810px 620px #767676 , 748px 1775px #767676 , 701px 180px #767676 , 1841px 1107px #767676 , 1980px 306px #767676 , 758px 1095px #767676 , 1495px 864px #767676 , 280px 291px #767676 , 732px 50px #767676 , 1155px 253px #767676 , 1083px 1371px #767676 , 1276px 1993px #767676 , 1665px 1263px #767676 , 1591px 572px #767676 , 1956px 136px #767676 , 352px 1647px #767676 , 653px 1017px #767676 , 1587px 1472px #767676 , 1597px 892px #767676 , 40px 1306px #767676 , 1484px 1778px #767676 , 1656px 29px #767676 , 172px 1276px #767676 , 936px 36px #767676 , 1629px 1211px #767676 , 613px 1369px #767676 , 469px 1106px #767676 , 688px 1012px #767676 , 1546px 1930px #767676 , 980px 930px #767676 , 320px 1818px #767676 , 1666px 528px #767676 , 1907px 1547px #767676 , 701px 1278px #767676 , 377px 1260px #767676 , 350px 1373px #767676 , 1690px 396px #767676 , 1851px 897px #767676 , 626px 658px #767676 , 216px 1356px #767676 , 1812px 4px #767676 , 1319px 221px #767676 , 250px 233px #767676 , 1832px 1704px #767676 , 748px 186px #767676 , 1880px 1654px #767676 , 1439px 484px #767676 , 1132px 139px #767676 , 1157px 1086px #767676 , 187px 1633px #767676 , 635px 529px #767676 , 1229px 1704px #767676 , 1268px 102px #767676 , 343px 151px #767676 , 1621px 640px #767676 , 176px 1122px #767676 , 282px 437px #767676 , 1606px 613px #767676 , 1633px 548px #767676 , 1202px 1638px #767676 , 548px 1373px #767676 , 1747px 157px #767676 , 774px 1068px #767676 , 1128px 1081px #767676 , 1113px 1103px #767676 , 95px 1352px #767676 , 760px 733px #767676 , 1235px 502px #767676 , 1352px 400px #767676 , 853px 1316px #767676 , 762px 1111px #767676 , 249px 1595px #767676 , 944px 378px #767676 , 88px 1452px #767676 , 1538px 553px #767676 , 1597px 917px #767676 , 1593px 368px #767676 , 1236px 456px #767676 , 1772px 1559px #767676 , 1220px 864px #767676 , 383px 969px #767676 , 964px 342px #767676 , 1436px 1878px #767676 , 1964px 55px #767676 , 1110px 1110px #767676 , 855px 996px #767676 , 1436px 563px #767676 , 977px 865px #767676 , 1589px 1683px #767676 , 1045px 1279px #767676 , 730px 976px #767676 , 781px 1137px #767676 , 510px 399px #767676 , 792px 1570px #767676 , 1874px 1906px #767676 , 1458px 299px #767676 , 1765px 716px #767676 , 1616px 573px #767676 , 1724px 1256px #767676 , 1301px 1762px #767676 , 106px 81px #767676 , 1315px 520px #767676 , 910px 283px #767676 , 262px 711px #767676 , 639px 1316px #767676 , 920px 60px #767676 , 189px 1021px #767676 , 837px 578px #767676 , 1895px 1671px #767676 , 319px 95px #767676 , 450px 1534px #767676 , 1024px 1433px #767676 , 819px 737px #767676 , 1486px 1653px #767676 , 1753px 1006px #767676 , 915px 601px #767676 , 613px 994px #767676 , 1866px 714px #767676 , 101px 2000px #767676 , 1029px 429px #767676 , 311px 1627px #767676 , 474px 1754px #767676 , 1473px 1038px #767676 , 1769px 385px #767676 , 741px 739px #767676 , 1426px 925px #767676 , 1575px 1235px #767676 , 1346px 1037px #767676 , 1800px 1746px #767676 , 523px 262px #767676 , 1086px 1986px #767676 , 151px 175px #767676 , 1973px 1264px #767676 , 633px 281px #767676 , 1834px 1555px #767676 , 838px 387px #767676 , 1233px 1614px #767676 , 1897px 1570px #767676 , 1034px 1703px #767676 , 1840px 1544px #767676 , 463px 1874px #767676 , 841px 967px #767676 , 1529px 1954px #767676 , 897px 3px #767676 , 1870px 383px #767676 , 289px 508px #767676 , 734px 426px #767676 , 1482px 526px #767676 , 1158px 1750px #767676 , 1944px 336px #767676 , 784px 478px #767676 , 1032px 1773px #767676 , 562px 419px #767676 , 1838px 1370px #767676 , 480px 1181px #767676 , 1278px 1128px #767676 , 1998px 1728px #767676 , 891px 866px #767676 , 585px 1973px #767676 , 1469px 669px #767676 , 1869px 1339px #767676 , 268px 1242px #767676 , 589px 1960px #767676 , 277px 236px #767676 , 555px 1019px #767676 , 383px 1354px #767676 , 1377px 77px #767676 , 612px 885px #767676 , 638px 166px #767676 , 1723px 716px #767676 , 755px 855px #767676 , 1129px 147px #767676 , 797px 464px #767676 , 1702px 1986px #767676 , 89px 237px #767676 , 1966px 1467px #767676 , 488px 1125px #767676 , 53px 1294px #767676 , 1292px 734px #767676 , 527px 1567px #767676 , 83px 1049px #767676 , 1928px 163px #767676 , 704px 1019px #767676 , 899px 1843px #767676 , 819px 28px #767676 , 1382px 123px #767676 , 137px 1654px #767676 , 1553px 1268px #767676 , 235px 326px #767676 , 330px 780px #767676 , 1853px 386px #767676 , 681px 1010px #767676 , 63px 674px #767676 , 1847px 1052px #767676 , 771px 22px #767676 , 1771px 1101px #767676 , 1594px 1670px #767676 , 449px 1917px #767676 , 978px 494px #767676 , 838px 634px #767676 , 1371px 242px #767676 , 341px 1888px #767676 , 420px 483px #767676 , 416px 853px #767676 , 228px 230px #767676 , 974px 730px #767676 , 98px 1636px #767676 , 237px 176px #767676 , 839px 513px #767676 , 1373px 75px #767676 , 1007px 1764px #767676 , 590px 206px #767676 , 497px 72px #767676 , 1631px 1920px #767676 , 263px 1425px #767676 , 1498px 824px #767676 , 287px 807px #767676 , 1585px 1212px #767676 , 465px 1890px #767676 , 1181px 1224px #767676 , 984px 1696px #767676 , 511px 1476px #767676 , 1090px 1337px #767676 , 418px 145px #767676 , 1131px 1507px #767676 , 1983px 776px #767676 , 1957px 985px #767676 , 810px 984px #767676 , 1855px 692px #767676 , 1919px 816px #767676 , 1092px 1118px #767676 , 23px 1828px #767676 , 757px 1246px #767676 , 553px 1873px #767676 , 1020px 661px #767676 , 1830px 748px #767676 , 1575px 1835px #767676 , 1638px 1185px #767676 , 1718px 1307px #767676 , 109px 1101px #767676 , 1900px 1947px #767676 , 308px 1899px #767676 , 474px 1500px #767676 , 185px 1161px #767676 , 1673px 240px #767676 , 1161px 1408px #767676 , 767px 1301px #767676 , 1578px 411px #767676 , 1176px 1881px #767676 , 1530px 549px #767676 , 69px 1718px #767676 , 1537px 1598px #767676 , 1398px 988px #767676 , 436px 1556px #767676 , 1908px 1801px #767676 , 1869px 534px #767676 , 1371px 1605px #767676 , 893px 1484px #767676 , 519px 102px #767676 , 735px 902px #767676 , 833px 544px #767676 , 1278px 1624px #767676 , 1280px 1833px #767676 , 522px 87px #767676 , 604px 424px #767676 , 397px 561px #767676 , 1631px 1066px #767676 , 1166px 1160px #767676 , 405px 495px #767676 , 406px 165px #767676 , 1436px 39px #767676 , 1464px 37px #767676 , 350px 1062px #767676 , 1945px 1537px #767676 , 876px 794px #767676 , 1135px 1176px #767676 , 260px 1673px #767676 , 1026px 83px #767676 , 1098px 1165px #767676 , 1184px 1297px #767676 , 1470px 1645px #767676 , 1104px 1229px #767676 , 715px 1595px #767676 , 885px 1836px #767676 , 1199px 432px #767676 , 1898px 1184px #767676 , 1229px 1562px #767676 , 1311px 906px #767676 , 1863px 1289px #767676 , 1153px 1181px #767676 , 432px 1095px #767676 , 240px 1517px #767676 , 1820px 1117px #767676 , 1553px 1483px #767676 , 1184px 1857px #767676 , 949px 498px #767676 , 371px 1992px #767676 , 760px 1253px #767676 , 1939px 151px #767676 , 618px 1067px #767676 , 203px 1344px #767676 , 642px 828px #767676 , 950px 1705px #767676 , 910px 1914px #767676 , 1062px 800px #767676 , 910px 1049px #767676 , 1686px 1824px #767676 , 1987px 1044px #767676 , 595px 1641px #767676 , 1032px 173px #767676 , 267px 169px #767676 , 780px 1503px #767676 , 1331px 434px #767676 , 1758px 1924px #767676 , 681px 1523px #767676 , 664px 1316px #767676 , 1029px 1202px #767676 , 577px 894px #767676 , 956px 530px #767676 , 627px 1618px #767676 , 777px 1766px #767676 , 1552px 349px #767676 , 541px 374px #767676 , 976px 410px #767676 , 1558px 1652px #767676 , 1226px 171px #767676 , 1703px 826px #767676 , 1180px 1877px #767676 , 735px 1481px #767676 , 846px 1836px #767676 , 1877px 24px #767676 , 1024px 87px #767676 , 1646px 765px #767676 , 1538px 1770px #767676 , 1014px 1029px #767676 , 909px 162px #767676 , 1486px 1573px #767676 , 1181px 1748px #767676 , 126px 1217px #767676 , 1360px 750px #767676 , 36px 936px #767676 , 772px 1276px #767676 , 1729px 338px #767676 , 317px 834px #767676 , 1194px 1201px #767676 , 1207px 1487px #767676 , 1076px 136px #767676 , 1478px 114px #767676 , 309px 783px #767676 , 401px 940px #767676 , 64px 314px #767676 , 96px 620px #767676 , 224px 1541px #767676 , 683px 1907px #767676 , 302px 1676px #767676 , 181px 1010px #767676 , 1847px 250px #767676 , 1717px 1755px #767676 , 1830px 1215px #767676 , 1698px 1496px #767676 , 293px 391px #767676 , 1044px 432px #767676 , 983px 349px #767676 , 230px 1059px #767676 , 1573px 357px #767676 , 1282px 537px #767676 , 516px 840px #767676 , 485px 340px #767676 , 623px 1004px #767676 , 489px 7px #767676 , 817px 727px #767676 , 1017px 714px #767676 , 1060px 1650px #767676 , 577px 422px #767676 , 642px 883px #767676 , 958px 199px #767676 , 1037px 1071px #767676 , 80px 1277px #767676 , 578px 1269px #767676 , 1417px 1984px #767676 , 285px 1337px #767676 , 156px 201px #767676 , 1732px 1175px #767676 , 1226px 1159px #767676 , 1211px 333px #767676 , 1644px 76px #767676 , 1415px 1506px #767676 , 1058px 1168px #767676 , 1797px 904px #767676 , 1364px 1912px #767676 , 1130px 1349px #767676 , 817px 248px #767676 , 472px 864px #767676 , 1747px 498px #767676 , 651px 869px #767676 , 1346px 858px #767676 , 987px 1639px #767676 , 803px 618px #767676 , 1335px 558px #767676 , 127px 1799px #767676 , 1985px 1349px #767676 , 339px 439px #767676 , 1869px 1348px #767676 , 785px 1246px #767676 , 812px 1464px #767676 , 205px 731px #767676 , 170px 1780px #767676 , 21px 1063px #767676 , 1054px 1873px #767676 , 1107px 502px #767676 , 1505px 288px #767676 , 1176px 1532px #767676 , 1357px 1523px #767676 , 20px 296px #767676;
    animation: starsAnimation 50s linear infinite;
  }
  .stars > .small:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 80px 1211px #767676 , 590px 1462px #767676 , 180px 1764px #767676 , 764px 959px #767676 , 370px 1098px #767676 , 124px 441px #767676 , 1819px 1874px #767676 , 618px 1859px #767676 , 707px 1959px #767676 , 927px 1658px #767676 , 396px 424px #767676 , 428px 1771px #767676 , 686px 1925px #767676 , 1982px 759px #767676 , 812px 875px #767676 , 1941px 676px #767676 , 1857px 376px #767676 , 1595px 842px #767676 , 1526px 464px #767676 , 745px 974px #767676 , 385px 1668px #767676 , 885px 1599px #767676 , 1821px 1995px #767676 , 1628px 1858px #767676 , 1912px 719px #767676 , 749px 707px #767676 , 220px 1835px #767676 , 1766px 782px #767676 , 366px 1902px #767676 , 192px 215px #767676 , 457px 186px #767676 , 838px 574px #767676 , 1720px 958px #767676 , 1809px 1282px #767676 , 1977px 1186px #767676 , 981px 1115px #767676 , 144px 1218px #767676 , 283px 1230px #767676 , 616px 1691px #767676 , 1032px 1338px #767676 , 195px 907px #767676 , 834px 568px #767676 , 451px 1946px #767676 , 1460px 219px #767676 , 1184px 688px #767676 , 1386px 111px #767676 , 1704px 523px #767676 , 1732px 917px #767676 , 1349px 1329px #767676 , 1395px 1546px #767676 , 147px 1160px #767676 , 1555px 545px #767676 , 143px 1777px #767676 , 1389px 1990px #767676 , 1466px 756px #767676 , 1225px 1471px #767676 , 1834px 969px #767676 , 1000px 176px #767676 , 1697px 1959px #767676 , 940px 1815px #767676 , 868px 1908px #767676 , 493px 450px #767676 , 255px 1145px #767676 , 1326px 878px #767676 , 290px 933px #767676 , 186px 1855px #767676 , 1839px 1669px #767676 , 1573px 160px #767676 , 1810px 637px #767676 , 1303px 571px #767676 , 1675px 1651px #767676 , 1597px 693px #767676 , 1035px 448px #767676 , 908px 1158px #767676 , 498px 1306px #767676 , 1496px 1478px #767676 , 1239px 1647px #767676 , 1840px 1311px #767676 , 1784px 822px #767676 , 1536px 1795px #767676 , 989px 1293px #767676 , 502px 1703px #767676 , 471px 550px #767676 , 812px 1544px #767676 , 570px 431px #767676 , 18px 1808px #767676 , 1987px 1604px #767676 , 2000px 1158px #767676 , 1337px 488px #767676 , 1564px 1244px #767676 , 1973px 1675px #767676 , 487px 816px #767676 , 256px 121px #767676 , 814px 1686px #767676 , 842px 1759px #767676 , 1992px 834px #767676 , 784px 988px #767676 , 1327px 13px #767676 , 1463px 1897px #767676 , 1914px 645px #767676 , 749px 1447px #767676 , 1279px 1874px #767676 , 808px 597px #767676 , 1005px 1748px #767676 , 1333px 1254px #767676 , 1450px 273px #767676 , 1371px 312px #767676 , 1282px 741px #767676 , 953px 1485px #767676 , 1374px 607px #767676 , 1198px 729px #767676 , 1319px 1407px #767676 , 835px 1043px #767676 , 569px 1668px #767676 , 806px 273px #767676 , 965px 1055px #767676 , 943px 1110px #767676 , 508px 275px #767676 , 953px 176px #767676 , 116px 1598px #767676 , 592px 1826px #767676 , 225px 1394px #767676 , 960px 1160px #767676 , 492px 1429px #767676 , 643px 1144px #767676 , 576px 565px #767676 , 1643px 1783px #767676 , 1281px 867px #767676 , 1904px 1783px #767676 , 1418px 455px #767676 , 1257px 1685px #767676 , 1902px 245px #767676 , 1395px 1860px #767676 , 708px 996px #767676 , 828px 1225px #767676 , 992px 438px #767676 , 13px 476px #767676 , 1921px 1244px #767676 , 1268px 122px #767676 , 62px 1251px #767676 , 1996px 1179px #767676 , 1307px 452px #767676 , 1596px 521px #767676 , 1087px 1742px #767676 , 1156px 902px #767676 , 1343px 1941px #767676 , 43px 638px #767676 , 683px 1375px #767676 , 752px 386px #767676 , 61px 1111px #767676 , 1945px 1837px #767676 , 1190px 163px #767676 , 801px 1057px #767676 , 658px 1070px #767676 , 1888px 733px #767676 , 1227px 432px #767676 , 183px 741px #767676 , 607px 1234px #767676 , 1700px 1248px #767676 , 416px 1820px #767676 , 761px 1867px #767676 , 1585px 206px #767676 , 1130px 90px #767676 , 1648px 686px #767676 , 1756px 1499px #767676 , 892px 1910px #767676 , 1960px 868px #767676 , 934px 926px #767676 , 549px 435px #767676 , 1363px 1353px #767676 , 1631px 496px #767676 , 456px 1851px #767676 , 1552px 870px #767676 , 991px 811px #767676 , 565px 1433px #767676 , 1310px 1566px #767676 , 97px 114px #767676 , 117px 191px #767676 , 1509px 100px #767676 , 761px 1738px #767676 , 1285px 130px #767676 , 1425px 1133px #767676 , 505px 1464px #767676 , 877px 1232px #767676 , 1968px 117px #767676 , 1190px 1990px #767676 , 308px 299px #767676 , 1616px 1512px #767676 , 152px 1828px #767676 , 1457px 1033px #767676 , 1729px 251px #767676 , 953px 905px #767676 , 1524px 1778px #767676 , 1480px 1527px #767676 , 668px 331px #767676 , 1948px 690px #767676 , 552px 652px #767676 , 1934px 1171px #767676 , 683px 1331px #767676 , 1053px 111px #767676 , 1752px 1141px #767676 , 673px 967px #767676 , 1573px 1844px #767676 , 1056px 1351px #767676 , 1125px 1987px #767676 , 411px 239px #767676 , 1310px 1274px #767676 , 1718px 595px #767676 , 26px 211px #767676 , 1323px 33px #767676 , 515px 1814px #767676 , 881px 535px #767676 , 1506px 902px #767676 , 1195px 603px #767676 , 348px 1630px #767676 , 1149px 1489px #767676 , 1817px 1182px #767676 , 221px 951px #767676 , 557px 1709px #767676 , 1264px 984px #767676 , 965px 270px #767676 , 1712px 1032px #767676 , 1647px 335px #767676 , 1523px 760px #767676 , 1700px 552px #767676 , 1416px 943px #767676 , 183px 559px #767676 , 1213px 1252px #767676 , 763px 1697px #767676 , 1851px 654px #767676 , 352px 1434px #767676 , 1870px 1376px #767676 , 501px 869px #767676 , 1942px 839px #767676 , 1645px 668px #767676 , 184px 1586px #767676 , 1312px 1079px #767676 , 1510px 188px #767676 , 1068px 1219px #767676 , 1752px 689px #767676 , 1954px 1700px #767676 , 1289px 17px #767676 , 865px 506px #767676 , 1746px 877px #767676 , 418px 120px #767676 , 1595px 238px #767676 , 1354px 1295px #767676 , 1411px 1316px #767676 , 296px 1349px #767676 , 269px 1817px #767676 , 1254px 700px #767676 , 1708px 1911px #767676 , 478px 1611px #767676 , 419px 1969px #767676 , 868px 1159px #767676 , 864px 1903px #767676 , 517px 1992px #767676 , 1678px 1815px #767676 , 324px 1236px #767676 , 177px 220px #767676 , 1434px 1070px #767676 , 1772px 1288px #767676 , 1263px 558px #767676 , 1553px 1759px #767676 , 441px 54px #767676 , 1996px 443px #767676 , 911px 238px #767676 , 36px 763px #767676 , 1535px 1759px #767676 , 732px 924px #767676 , 1426px 1196px #767676 , 403px 439px #767676 , 362px 1977px #767676 , 494px 1625px #767676 , 1994px 1403px #767676 , 983px 1959px #767676 , 203px 2px #767676 , 1575px 1604px #767676 , 178px 1816px #767676 , 1257px 21px #767676 , 1434px 811px #767676 , 401px 786px #767676 , 464px 664px #767676 , 1139px 1313px #767676 , 1295px 1837px #767676 , 922px 1535px #767676 , 810px 620px #767676 , 748px 1775px #767676 , 701px 180px #767676 , 1841px 1107px #767676 , 1980px 306px #767676 , 758px 1095px #767676 , 1495px 864px #767676 , 280px 291px #767676 , 732px 50px #767676 , 1155px 253px #767676 , 1083px 1371px #767676 , 1276px 1993px #767676 , 1665px 1263px #767676 , 1591px 572px #767676 , 1956px 136px #767676 , 352px 1647px #767676 , 653px 1017px #767676 , 1587px 1472px #767676 , 1597px 892px #767676 , 40px 1306px #767676 , 1484px 1778px #767676 , 1656px 29px #767676 , 172px 1276px #767676 , 936px 36px #767676 , 1629px 1211px #767676 , 613px 1369px #767676 , 469px 1106px #767676 , 688px 1012px #767676 , 1546px 1930px #767676 , 980px 930px #767676 , 320px 1818px #767676 , 1666px 528px #767676 , 1907px 1547px #767676 , 701px 1278px #767676 , 377px 1260px #767676 , 350px 1373px #767676 , 1690px 396px #767676 , 1851px 897px #767676 , 626px 658px #767676 , 216px 1356px #767676 , 1812px 4px #767676 , 1319px 221px #767676 , 250px 233px #767676 , 1832px 1704px #767676 , 748px 186px #767676 , 1880px 1654px #767676 , 1439px 484px #767676 , 1132px 139px #767676 , 1157px 1086px #767676 , 187px 1633px #767676 , 635px 529px #767676 , 1229px 1704px #767676 , 1268px 102px #767676 , 343px 151px #767676 , 1621px 640px #767676 , 176px 1122px #767676 , 282px 437px #767676 , 1606px 613px #767676 , 1633px 548px #767676 , 1202px 1638px #767676 , 548px 1373px #767676 , 1747px 157px #767676 , 774px 1068px #767676 , 1128px 1081px #767676 , 1113px 1103px #767676 , 95px 1352px #767676 , 760px 733px #767676 , 1235px 502px #767676 , 1352px 400px #767676 , 853px 1316px #767676 , 762px 1111px #767676 , 249px 1595px #767676 , 944px 378px #767676 , 88px 1452px #767676 , 1538px 553px #767676 , 1597px 917px #767676 , 1593px 368px #767676 , 1236px 456px #767676 , 1772px 1559px #767676 , 1220px 864px #767676 , 383px 969px #767676 , 964px 342px #767676 , 1436px 1878px #767676 , 1964px 55px #767676 , 1110px 1110px #767676 , 855px 996px #767676 , 1436px 563px #767676 , 977px 865px #767676 , 1589px 1683px #767676 , 1045px 1279px #767676 , 730px 976px #767676 , 781px 1137px #767676 , 510px 399px #767676 , 792px 1570px #767676 , 1874px 1906px #767676 , 1458px 299px #767676 , 1765px 716px #767676 , 1616px 573px #767676 , 1724px 1256px #767676 , 1301px 1762px #767676 , 106px 81px #767676 , 1315px 520px #767676 , 910px 283px #767676 , 262px 711px #767676 , 639px 1316px #767676 , 920px 60px #767676 , 189px 1021px #767676 , 837px 578px #767676 , 1895px 1671px #767676 , 319px 95px #767676 , 450px 1534px #767676 , 1024px 1433px #767676 , 819px 737px #767676 , 1486px 1653px #767676 , 1753px 1006px #767676 , 915px 601px #767676 , 613px 994px #767676 , 1866px 714px #767676 , 101px 2000px #767676 , 1029px 429px #767676 , 311px 1627px #767676 , 474px 1754px #767676 , 1473px 1038px #767676 , 1769px 385px #767676 , 741px 739px #767676 , 1426px 925px #767676 , 1575px 1235px #767676 , 1346px 1037px #767676 , 1800px 1746px #767676 , 523px 262px #767676 , 1086px 1986px #767676 , 151px 175px #767676 , 1973px 1264px #767676 , 633px 281px #767676 , 1834px 1555px #767676 , 838px 387px #767676 , 1233px 1614px #767676 , 1897px 1570px #767676 , 1034px 1703px #767676 , 1840px 1544px #767676 , 463px 1874px #767676 , 841px 967px #767676 , 1529px 1954px #767676 , 897px 3px #767676 , 1870px 383px #767676 , 289px 508px #767676 , 734px 426px #767676 , 1482px 526px #767676 , 1158px 1750px #767676 , 1944px 336px #767676 , 784px 478px #767676 , 1032px 1773px #767676 , 562px 419px #767676 , 1838px 1370px #767676 , 480px 1181px #767676 , 1278px 1128px #767676 , 1998px 1728px #767676 , 891px 866px #767676 , 585px 1973px #767676 , 1469px 669px #767676 , 1869px 1339px #767676 , 268px 1242px #767676 , 589px 1960px #767676 , 277px 236px #767676 , 555px 1019px #767676 , 383px 1354px #767676 , 1377px 77px #767676 , 612px 885px #767676 , 638px 166px #767676 , 1723px 716px #767676 , 755px 855px #767676 , 1129px 147px #767676 , 797px 464px #767676 , 1702px 1986px #767676 , 89px 237px #767676 , 1966px 1467px #767676 , 488px 1125px #767676 , 53px 1294px #767676 , 1292px 734px #767676 , 527px 1567px #767676 , 83px 1049px #767676 , 1928px 163px #767676 , 704px 1019px #767676 , 899px 1843px #767676 , 819px 28px #767676 , 1382px 123px #767676 , 137px 1654px #767676 , 1553px 1268px #767676 , 235px 326px #767676 , 330px 780px #767676 , 1853px 386px #767676 , 681px 1010px #767676 , 63px 674px #767676 , 1847px 1052px #767676 , 771px 22px #767676 , 1771px 1101px #767676 , 1594px 1670px #767676 , 449px 1917px #767676 , 978px 494px #767676 , 838px 634px #767676 , 1371px 242px #767676 , 341px 1888px #767676 , 420px 483px #767676 , 416px 853px #767676 , 228px 230px #767676 , 974px 730px #767676 , 98px 1636px #767676 , 237px 176px #767676 , 839px 513px #767676 , 1373px 75px #767676 , 1007px 1764px #767676 , 590px 206px #767676 , 497px 72px #767676 , 1631px 1920px #767676 , 263px 1425px #767676 , 1498px 824px #767676 , 287px 807px #767676 , 1585px 1212px #767676 , 465px 1890px #767676 , 1181px 1224px #767676 , 984px 1696px #767676 , 511px 1476px #767676 , 1090px 1337px #767676 , 418px 145px #767676 , 1131px 1507px #767676 , 1983px 776px #767676 , 1957px 985px #767676 , 810px 984px #767676 , 1855px 692px #767676 , 1919px 816px #767676 , 1092px 1118px #767676 , 23px 1828px #767676 , 757px 1246px #767676 , 553px 1873px #767676 , 1020px 661px #767676 , 1830px 748px #767676 , 1575px 1835px #767676 , 1638px 1185px #767676 , 1718px 1307px #767676 , 109px 1101px #767676 , 1900px 1947px #767676 , 308px 1899px #767676 , 474px 1500px #767676 , 185px 1161px #767676 , 1673px 240px #767676 , 1161px 1408px #767676 , 767px 1301px #767676 , 1578px 411px #767676 , 1176px 1881px #767676 , 1530px 549px #767676 , 69px 1718px #767676 , 1537px 1598px #767676 , 1398px 988px #767676 , 436px 1556px #767676 , 1908px 1801px #767676 , 1869px 534px #767676 , 1371px 1605px #767676 , 893px 1484px #767676 , 519px 102px #767676 , 735px 902px #767676 , 833px 544px #767676 , 1278px 1624px #767676 , 1280px 1833px #767676 , 522px 87px #767676 , 604px 424px #767676 , 397px 561px #767676 , 1631px 1066px #767676 , 1166px 1160px #767676 , 405px 495px #767676 , 406px 165px #767676 , 1436px 39px #767676 , 1464px 37px #767676 , 350px 1062px #767676 , 1945px 1537px #767676 , 876px 794px #767676 , 1135px 1176px #767676 , 260px 1673px #767676 , 1026px 83px #767676 , 1098px 1165px #767676 , 1184px 1297px #767676 , 1470px 1645px #767676 , 1104px 1229px #767676 , 715px 1595px #767676 , 885px 1836px #767676 , 1199px 432px #767676 , 1898px 1184px #767676 , 1229px 1562px #767676 , 1311px 906px #767676 , 1863px 1289px #767676 , 1153px 1181px #767676 , 432px 1095px #767676 , 240px 1517px #767676 , 1820px 1117px #767676 , 1553px 1483px #767676 , 1184px 1857px #767676 , 949px 498px #767676 , 371px 1992px #767676 , 760px 1253px #767676 , 1939px 151px #767676 , 618px 1067px #767676 , 203px 1344px #767676 , 642px 828px #767676 , 950px 1705px #767676 , 910px 1914px #767676 , 1062px 800px #767676 , 910px 1049px #767676 , 1686px 1824px #767676 , 1987px 1044px #767676 , 595px 1641px #767676 , 1032px 173px #767676 , 267px 169px #767676 , 780px 1503px #767676 , 1331px 434px #767676 , 1758px 1924px #767676 , 681px 1523px #767676 , 664px 1316px #767676 , 1029px 1202px #767676 , 577px 894px #767676 , 956px 530px #767676 , 627px 1618px #767676 , 777px 1766px #767676 , 1552px 349px #767676 , 541px 374px #767676 , 976px 410px #767676 , 1558px 1652px #767676 , 1226px 171px #767676 , 1703px 826px #767676 , 1180px 1877px #767676 , 735px 1481px #767676 , 846px 1836px #767676 , 1877px 24px #767676 , 1024px 87px #767676 , 1646px 765px #767676 , 1538px 1770px #767676 , 1014px 1029px #767676 , 909px 162px #767676 , 1486px 1573px #767676 , 1181px 1748px #767676 , 126px 1217px #767676 , 1360px 750px #767676 , 36px 936px #767676 , 772px 1276px #767676 , 1729px 338px #767676 , 317px 834px #767676 , 1194px 1201px #767676 , 1207px 1487px #767676 , 1076px 136px #767676 , 1478px 114px #767676 , 309px 783px #767676 , 401px 940px #767676 , 64px 314px #767676 , 96px 620px #767676 , 224px 1541px #767676 , 683px 1907px #767676 , 302px 1676px #767676 , 181px 1010px #767676 , 1847px 250px #767676 , 1717px 1755px #767676 , 1830px 1215px #767676 , 1698px 1496px #767676 , 293px 391px #767676 , 1044px 432px #767676 , 983px 349px #767676 , 230px 1059px #767676 , 1573px 357px #767676 , 1282px 537px #767676 , 516px 840px #767676 , 485px 340px #767676 , 623px 1004px #767676 , 489px 7px #767676 , 817px 727px #767676 , 1017px 714px #767676 , 1060px 1650px #767676 , 577px 422px #767676 , 642px 883px #767676 , 958px 199px #767676 , 1037px 1071px #767676 , 80px 1277px #767676 , 578px 1269px #767676 , 1417px 1984px #767676 , 285px 1337px #767676 , 156px 201px #767676 , 1732px 1175px #767676 , 1226px 1159px #767676 , 1211px 333px #767676 , 1644px 76px #767676 , 1415px 1506px #767676 , 1058px 1168px #767676 , 1797px 904px #767676 , 1364px 1912px #767676 , 1130px 1349px #767676 , 817px 248px #767676 , 472px 864px #767676 , 1747px 498px #767676 , 651px 869px #767676 , 1346px 858px #767676 , 987px 1639px #767676 , 803px 618px #767676 , 1335px 558px #767676 , 127px 1799px #767676 , 1985px 1349px #767676 , 339px 439px #767676 , 1869px 1348px #767676 , 785px 1246px #767676 , 812px 1464px #767676 , 205px 731px #767676 , 170px 1780px #767676 , 21px 1063px #767676 , 1054px 1873px #767676 , 1107px 502px #767676 , 1505px 288px #767676 , 1176px 1532px #767676 , 1357px 1523px #767676 , 20px 296px #767676;
  }
  .stars > .medium {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1145px 334px #767676 , 1015px 138px #767676 , 1299px 397px #767676 , 382px 1693px #767676 , 948px 1251px #767676 , 3px 300px #767676 , 1934px 1416px #767676 , 1220px 372px #767676 , 626px 1083px #767676 , 1843px 1340px #767676 , 349px 1249px #767676 , 825px 1241px #767676 , 965px 1982px #767676 , 500px 159px #767676 , 462px 721px #767676 , 1351px 1782px #767676 , 204px 1567px #767676 , 841px 1747px #767676 , 661px 88px #767676 , 860px 875px #767676 , 100px 1302px #767676 , 1840px 971px #767676 , 1146px 1308px #767676 , 1264px 1023px #767676 , 834px 968px #767676 , 144px 1760px #767676 , 879px 1322px #767676 , 1961px 609px #767676 , 1785px 489px #767676 , 1548px 396px #767676 , 1173px 920px #767676 , 1557px 1258px #767676 , 716px 1114px #767676 , 515px 622px #767676 , 444px 114px #767676 , 484px 1085px #767676 , 654px 501px #767676 , 1205px 878px #767676 , 487px 612px #767676 , 1546px 199px #767676 , 1372px 1419px #767676 , 1110px 220px #767676 , 638px 367px #767676 , 1097px 1108px #767676 , 550px 679px #767676 , 729px 1114px #767676 , 1831px 640px #767676 , 612px 440px #767676 , 6px 1719px #767676 , 904px 1696px #767676 , 1377px 201px #767676 , 1780px 592px #767676 , 633px 1384px #767676 , 1312px 1843px #767676 , 344px 1779px #767676 , 1575px 93px #767676 , 501px 119px #767676 , 167px 1478px #767676 , 1866px 1169px #767676 , 1310px 1651px #767676 , 583px 1476px #767676 , 1688px 931px #767676 , 912px 682px #767676 , 821px 155px #767676 , 1164px 910px #767676 , 749px 443px #767676 , 231px 376px #767676 , 106px 262px #767676 , 1534px 1331px #767676 , 1616px 1450px #767676 , 1691px 1634px #767676 , 268px 952px #767676 , 105px 1061px #767676 , 1290px 1031px #767676 , 943px 1724px #767676 , 293px 1301px #767676 , 1102px 560px #767676 , 172px 1257px #767676 , 314px 65px #767676 , 1662px 223px #767676 , 16px 1077px #767676 , 84px 825px #767676 , 1038px 1054px #767676 , 1608px 1592px #767676 , 756px 1305px #767676 , 1220px 1628px #767676 , 124px 1461px #767676 , 1343px 151px #767676 , 1166px 261px #767676 , 1555px 956px #767676 , 992px 758px #767676 , 1460px 40px #767676 , 1014px 1167px #767676 , 8px 1130px #767676 , 286px 59px #767676 , 798px 1841px #767676 , 45px 1606px #767676 , 663px 1799px #767676 , 1376px 715px #767676 , 374px 864px #767676 , 883px 1962px #767676 , 1731px 1633px #767676 , 1044px 1277px #767676 , 881px 1394px #767676 , 1640px 288px #767676 , 481px 173px #767676 , 216px 1765px #767676 , 880px 36px #767676 , 471px 402px #767676 , 840px 1218px #767676 , 1998px 1305px #767676 , 151px 1494px #767676 , 845px 1353px #767676 , 1723px 84px #767676 , 514px 866px #767676 , 1224px 273px #767676 , 1538px 1290px #767676 , 842px 1050px #767676 , 518px 373px #767676 , 1103px 565px #767676 , 1430px 667px #767676 , 947px 818px #767676 , 1433px 1918px #767676 , 271px 735px #767676 , 802px 1981px #767676 , 1675px 187px #767676 , 1430px 1250px #767676 , 1720px 1170px #767676 , 1470px 1278px #767676 , 580px 1244px #767676 , 379px 883px #767676 , 1048px 257px #767676 , 488px 768px #767676 , 1084px 1096px #767676 , 502px 1657px #767676 , 1494px 785px #767676 , 1428px 167px #767676 , 56px 1491px #767676 , 309px 1302px #767676 , 554px 899px #767676 , 128px 350px #767676 , 622px 47px #767676 , 869px 346px #767676 , 879px 76px #767676 , 1437px 1460px #767676 , 894px 1699px #767676 , 269px 147px #767676 , 859px 51px #767676 , 382px 874px #767676 , 1302px 1937px #767676 , 555px 1903px #767676 , 1978px 863px #767676 , 995px 209px #767676 , 721px 375px #767676 , 459px 498px #767676 , 1070px 1282px #767676 , 1635px 848px #767676 , 1165px 623px #767676 , 1026px 1960px #767676 , 63px 1365px #767676 , 862px 389px #767676 , 1477px 606px #767676 , 1659px 1354px #767676 , 1330px 376px #767676 , 1201px 1681px #767676 , 1077px 1898px #767676 , 677px 766px #767676 , 1410px 580px #767676 , 1359px 403px #767676 , 106px 510px #767676 , 1477px 765px #767676 , 394px 1639px #767676 , 134px 1261px #767676 , 136px 145px #767676 , 383px 1159px #767676 , 988px 1621px #767676 , 626px 146px #767676 , 1229px 870px #767676 , 1967px 357px #767676 , 1737px 1253px #767676 , 1441px 1844px #767676 , 732px 80px #767676 , 335px 252px #767676 , 830px 1617px #767676 , 426px 408px #767676 , 1408px 1481px #767676 , 1067px 1246px #767676 , 949px 1693px #767676 , 640px 621px #767676 , 1166px 149px #767676 , 392px 434px #767676 , 1821px 610px #767676 , 1964px 520px #767676 , 858px 1390px #767676 , 1619px 980px #767676 , 1860px 520px #767676 , 243px 1538px #767676 , 1965px 1557px #767676 , 144px 1706px #767676 , 276px 8px #767676;
    animation: starsAnimation 100s linear infinite;
  }
  .stars > .medium:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1145px 334px #767676 , 1015px 138px #767676 , 1299px 397px #767676 , 382px 1693px #767676 , 948px 1251px #767676 , 3px 300px #767676 , 1934px 1416px #767676 , 1220px 372px #767676 , 626px 1083px #767676 , 1843px 1340px #767676 , 349px 1249px #767676 , 825px 1241px #767676 , 965px 1982px #767676 , 500px 159px #767676 , 462px 721px #767676 , 1351px 1782px #767676 , 204px 1567px #767676 , 841px 1747px #767676 , 661px 88px #767676 , 860px 875px #767676 , 100px 1302px #767676 , 1840px 971px #767676 , 1146px 1308px #767676 , 1264px 1023px #767676 , 834px 968px #767676 , 144px 1760px #767676 , 879px 1322px #767676 , 1961px 609px #767676 , 1785px 489px #767676 , 1548px 396px #767676 , 1173px 920px #767676 , 1557px 1258px #767676 , 716px 1114px #767676 , 515px 622px #767676 , 444px 114px #767676 , 484px 1085px #767676 , 654px 501px #767676 , 1205px 878px #767676 , 487px 612px #767676 , 1546px 199px #767676 , 1372px 1419px #767676 , 1110px 220px #767676 , 638px 367px #767676 , 1097px 1108px #767676 , 550px 679px #767676 , 729px 1114px #767676 , 1831px 640px #767676 , 612px 440px #767676 , 6px 1719px #767676 , 904px 1696px #767676 , 1377px 201px #767676 , 1780px 592px #767676 , 633px 1384px #767676 , 1312px 1843px #767676 , 344px 1779px #767676 , 1575px 93px #767676 , 501px 119px #767676 , 167px 1478px #767676 , 1866px 1169px #767676 , 1310px 1651px #767676 , 583px 1476px #767676 , 1688px 931px #767676 , 912px 682px #767676 , 821px 155px #767676 , 1164px 910px #767676 , 749px 443px #767676 , 231px 376px #767676 , 106px 262px #767676 , 1534px 1331px #767676 , 1616px 1450px #767676 , 1691px 1634px #767676 , 268px 952px #767676 , 105px 1061px #767676 , 1290px 1031px #767676 , 943px 1724px #767676 , 293px 1301px #767676 , 1102px 560px #767676 , 172px 1257px #767676 , 314px 65px #767676 , 1662px 223px #767676 , 16px 1077px #767676 , 84px 825px #767676 , 1038px 1054px #767676 , 1608px 1592px #767676 , 756px 1305px #767676 , 1220px 1628px #767676 , 124px 1461px #767676 , 1343px 151px #767676 , 1166px 261px #767676 , 1555px 956px #767676 , 992px 758px #767676 , 1460px 40px #767676 , 1014px 1167px #767676 , 8px 1130px #767676 , 286px 59px #767676 , 798px 1841px #767676 , 45px 1606px #767676 , 663px 1799px #767676 , 1376px 715px #767676 , 374px 864px #767676 , 883px 1962px #767676 , 1731px 1633px #767676 , 1044px 1277px #767676 , 881px 1394px #767676 , 1640px 288px #767676 , 481px 173px #767676 , 216px 1765px #767676 , 880px 36px #767676 , 471px 402px #767676 , 840px 1218px #767676 , 1998px 1305px #767676 , 151px 1494px #767676 , 845px 1353px #767676 , 1723px 84px #767676 , 514px 866px #767676 , 1224px 273px #767676 , 1538px 1290px #767676 , 842px 1050px #767676 , 518px 373px #767676 , 1103px 565px #767676 , 1430px 667px #767676 , 947px 818px #767676 , 1433px 1918px #767676 , 271px 735px #767676 , 802px 1981px #767676 , 1675px 187px #767676 , 1430px 1250px #767676 , 1720px 1170px #767676 , 1470px 1278px #767676 , 580px 1244px #767676 , 379px 883px #767676 , 1048px 257px #767676 , 488px 768px #767676 , 1084px 1096px #767676 , 502px 1657px #767676 , 1494px 785px #767676 , 1428px 167px #767676 , 56px 1491px #767676 , 309px 1302px #767676 , 554px 899px #767676 , 128px 350px #767676 , 622px 47px #767676 , 869px 346px #767676 , 879px 76px #767676 , 1437px 1460px #767676 , 894px 1699px #767676 , 269px 147px #767676 , 859px 51px #767676 , 382px 874px #767676 , 1302px 1937px #767676 , 555px 1903px #767676 , 1978px 863px #767676 , 995px 209px #767676 , 721px 375px #767676 , 459px 498px #767676 , 1070px 1282px #767676 , 1635px 848px #767676 , 1165px 623px #767676 , 1026px 1960px #767676 , 63px 1365px #767676 , 862px 389px #767676 , 1477px 606px #767676 , 1659px 1354px #767676 , 1330px 376px #767676 , 1201px 1681px #767676 , 1077px 1898px #767676 , 677px 766px #767676 , 1410px 580px #767676 , 1359px 403px #767676 , 106px 510px #767676 , 1477px 765px #767676 , 394px 1639px #767676 , 134px 1261px #767676 , 136px 145px #767676 , 383px 1159px #767676 , 988px 1621px #767676 , 626px 146px #767676 , 1229px 870px #767676 , 1967px 357px #767676 , 1737px 1253px #767676 , 1441px 1844px #767676 , 732px 80px #767676 , 335px 252px #767676 , 830px 1617px #767676 , 426px 408px #767676 , 1408px 1481px #767676 , 1067px 1246px #767676 , 949px 1693px #767676 , 640px 621px #767676 , 1166px 149px #767676 , 392px 434px #767676 , 1821px 610px #767676 , 1964px 520px #767676 , 858px 1390px #767676 , 1619px 980px #767676 , 1860px 520px #767676 , 243px 1538px #767676 , 1965px 1557px #767676 , 144px 1706px #767676 , 276px 8px #767676;
  }
  .stars > .big {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1072px 577px #767676 , 1716px 910px #767676 , 336px 1067px #767676 , 440px 1235px #767676 , 1835px 397px #767676 , 1858px 104px #767676 , 1801px 914px #767676 , 11px 377px #767676 , 1020px 886px #767676 , 202px 1565px #767676 , 335px 1576px #767676 , 1164px 811px #767676 , 1866px 1489px #767676 , 1833px 1884px #767676 , 356px 201px #767676 , 1341px 356px #767676 , 1694px 1369px #767676 , 365px 668px #767676 , 1473px 245px #767676 , 90px 1327px #767676 , 1559px 589px #767676 , 1506px 1302px #767676 , 1963px 213px #767676 , 1735px 1784px #767676 , 1134px 586px #767676 , 326px 928px #767676 , 1229px 1139px #767676 , 1730px 1393px #767676 , 805px 1886px #767676 , 267px 1411px #767676 , 1806px 779px #767676 , 169px 1090px #767676 , 211px 290px #767676 , 911px 521px #767676 , 417px 1214px #767676 , 791px 46px #767676 , 1007px 1607px #767676 , 1853px 15px #767676 , 385px 202px #767676 , 1853px 1177px #767676 , 815px 1159px #767676 , 1766px 1258px #767676 , 104px 85px #767676 , 331px 386px #767676 , 920px 397px #767676 , 1669px 27px #767676 , 493px 735px #767676 , 602px 1457px #767676 , 1899px 1808px #767676 , 944px 944px #767676 , 1792px 1648px #767676 , 1754px 776px #767676 , 1063px 1086px #767676 , 1401px 671px #767676 , 155px 951px #767676 , 1673px 472px #767676 , 880px 592px #767676 , 773px 1034px #767676 , 785px 1124px #767676 , 1681px 1281px #767676 , 1273px 687px #767676 , 1008px 1816px #767676 , 1738px 148px #767676 , 1710px 898px #767676 , 566px 1673px #767676 , 514px 570px #767676 , 444px 107px #767676 , 407px 1598px #767676 , 75px 1957px #767676 , 451px 152px #767676 , 405px 886px #767676 , 655px 16px #767676 , 208px 138px #767676 , 387px 1597px #767676 , 1524px 1815px #767676 , 1195px 182px #767676 , 372px 1556px #767676 , 185px 1330px #767676 , 1081px 1105px #767676 , 1615px 965px #767676 , 1078px 598px #767676 , 505px 746px #767676 , 173px 305px #767676 , 1511px 710px #767676 , 714px 1741px #767676 , 1298px 494px #767676 , 48px 559px #767676 , 178px 1162px #767676 , 839px 1986px #767676 , 256px 1583px #767676 , 1364px 341px #767676 , 845px 177px #767676 , 374px 1584px #767676 , 1197px 1870px #767676 , 1569px 1130px #767676 , 1626px 154px #767676 , 1625px 1794px #767676 , 1660px 1635px #767676 , 1902px 536px #767676 , 453px 41px #767676;
    border-radius: 100%;
    animation: starsAnimation 150s linear infinite;
  }
  .stars > .big:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1072px 577px #767676 , 1716px 910px #767676 , 336px 1067px #767676 , 440px 1235px #767676 , 1835px 397px #767676 , 1858px 104px #767676 , 1801px 914px #767676 , 11px 377px #767676 , 1020px 886px #767676 , 202px 1565px #767676 , 335px 1576px #767676 , 1164px 811px #767676 , 1866px 1489px #767676 , 1833px 1884px #767676 , 356px 201px #767676 , 1341px 356px #767676 , 1694px 1369px #767676 , 365px 668px #767676 , 1473px 245px #767676 , 90px 1327px #767676 , 1559px 589px #767676 , 1506px 1302px #767676 , 1963px 213px #767676 , 1735px 1784px #767676 , 1134px 586px #767676 , 326px 928px #767676 , 1229px 1139px #767676 , 1730px 1393px #767676 , 805px 1886px #767676 , 267px 1411px #767676 , 1806px 779px #767676 , 169px 1090px #767676 , 211px 290px #767676 , 911px 521px #767676 , 417px 1214px #767676 , 791px 46px #767676 , 1007px 1607px #767676 , 1853px 15px #767676 , 385px 202px #767676 , 1853px 1177px #767676 , 815px 1159px #767676 , 1766px 1258px #767676 , 104px 85px #767676 , 331px 386px #767676 , 920px 397px #767676 , 1669px 27px #767676 , 493px 735px #767676 , 602px 1457px #767676 , 1899px 1808px #767676 , 944px 944px #767676 , 1792px 1648px #767676 , 1754px 776px #767676 , 1063px 1086px #767676 , 1401px 671px #767676 , 155px 951px #767676 , 1673px 472px #767676 , 880px 592px #767676 , 773px 1034px #767676 , 785px 1124px #767676 , 1681px 1281px #767676 , 1273px 687px #767676 , 1008px 1816px #767676 , 1738px 148px #767676 , 1710px 898px #767676 , 566px 1673px #767676 , 514px 570px #767676 , 444px 107px #767676 , 407px 1598px #767676 , 75px 1957px #767676 , 451px 152px #767676 , 405px 886px #767676 , 655px 16px #767676 , 208px 138px #767676 , 387px 1597px #767676 , 1524px 1815px #767676 , 1195px 182px #767676 , 372px 1556px #767676 , 185px 1330px #767676 , 1081px 1105px #767676 , 1615px 965px #767676 , 1078px 598px #767676 , 505px 746px #767676 , 173px 305px #767676 , 1511px 710px #767676 , 714px 1741px #767676 , 1298px 494px #767676 , 48px 559px #767676 , 178px 1162px #767676 , 839px 1986px #767676 , 256px 1583px #767676 , 1364px 341px #767676 , 845px 177px #767676 , 374px 1584px #767676 , 1197px 1870px #767676 , 1569px 1130px #767676 , 1626px 154px #767676 , 1625px 1794px #767676 , 1660px 1635px #767676 , 1902px 536px #767676 , 453px 41px #767676;
    border-radius: 100%;
  }
  @keyframes starsAnimation {
    from {
      transform: translateY(-2000px);
    }
    to {
      transform: translateY(0px);
    }
  }
  #hero {
    position: relative;
    /* prevents overflow from the lines extending past the screen width */
    overflow: hidden;
    /* changes on tablet */
    padding: 0 1rem;
    padding-bottom: 6.25rem;
    font-family: "Poppins", "Arial", sans-serif;
    /* Centers button */
    text-align: center;
    background: linear-gradient(to right, #4e4376, #2b5876);
  }
  #hero:after {
    content: "";
    background: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
  #hero .pinetree {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    object-fit: cover;
    mask: url("/assets/svgs/trees-sillouette.svg") no-repeat bottom;
    -webkit-mask: url("/assets/svgs/trees-sillouette.svg") no-repeat bottom;
    /* Safari support */
    mask-size: 150vw;
    z-index: 1;
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);
    background: linear-gradient(to right, #4e4376, #2b5876);
  }
  #hero .cs-picture {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    /* Background Image */
    width: 100%;
  }
  #hero .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes image act like a background-image */
    object-fit: cover;
    mask: url("/assets/svgs/trees-sillouette.svg") no-repeat center;
    mask-size: 100%;
  }
  #hero .cs-container {
    position: relative;
    margin: auto;
    max-width: 80em;
    width: 100%;
    height: 100vh;
    /* we put the padding top and bottom on the container instead of #Hero so the pseudo element lines go to the top and bottom of the section */
    /* 144px - 280px - leaving extra space for the navigation */
    /* changes on tablet */
  }
  #hero .cs-container:before {
    position: absolute;
    top: 0;
    left: 0;
    /* Left Line */
    content: "";
    opacity: 1;
    display: block;
    height: 100%;
    width: 1px;
  }
  #hero .cs-flex-group {
    padding-top: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* 60px - 220px */
    /* 464px - 562px */
    max-width: clamp(29em, 60vw, 35.125em);
    width: 80vw;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    transform: translateX(-50%) translateY(-50%);
  }
  #hero .cs-flex-group span,
  #hero .cs-flex-group h1,
  #hero .cs-flex-group p {
    animation: glitch1 8s infinite;
  }
  #hero .cs-flex-group:nth-child(2) span,
  #hero .cs-flex-group:nth-child(2) h1,
  #hero .cs-flex-group:nth-child(2) p {
    color: #67f3da;
    animation: glitch2 8s infinite;
  }
  #hero .cs-flex-group:nth-child(3) span,
  #hero .cs-flex-group:nth-child(3) h1,
  #hero .cs-flex-group:nth-child(3) p {
    color: #f16f6f;
    animation: glitch3 8s infinite;
  }
  #hero .cs-topper {
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
  }
  #hero .cs-title {
    width: 100%;
    color: #fff;
    text-align: center;
  }
  #hero .cs-text {
    /* 32px - 40px */
    margin: 0 auto clamp(2rem, 4vw, 2.5rem) 0;
    /* 40px - 48px */
    margin-bottom: clamp(2.5rem, 4vw, 3rem);
    color: #fff;
    text-align: center;
  }
  #hero .cs-button-solid {
    margin-bottom: 1rem;
    height: initial;
    line-height: clamp(2.875em, 5.5vw, 3.5em);
  }
  #hero .cs-button-transparent {
    z-index: 1;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--bodyTextColorWhite);
    margin: 0 0.5rem;
    background-color: transparent;
    /* 46px - 56px */
    height: clamp(2.875em, 5.5vw, 3.5em);
    width: 11.25rem;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    font-weight: 700;
    color: #fff;
  }
  #hero .cs-button-transparent .cs-img {
    display: block;
    margin-right: 0.75rem;
  }
  #hero .cs-button-transparent:before {
    z-index: -1;
    position: absolute;
    /* so it sits on top of the border */
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    content: "";
    opacity: 1;
    /* this is what creates the grow affect on hover */
    transform: scaleX(0);
    display: block;
    background: #000;
    transition: transform 0.3s;
    transform-origin: left;
  }
  #hero .cs-button-transparent:hover:before {
    transform: scaleX(1);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #hero {
    /* 32px - 40px */
    padding: 0 clamp(2em, 5vw, 2.5em);
  }
  #hero:after {
    content: "";
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
  #hero .cs-container:after {
    position: absolute;
    top: 0;
    right: 0;
    /* Right Line */
    content: "";
    opacity: 1;
    display: block;
    height: 100%;
    width: 1px;
  }
  #hero .pinetree {
    mask-size: 1200px;
  }
  #hero .cs-flex-group {
    padding-top: 10.625em;
  }
  #hero .cs-flex-group .cs-topper {
    color: #fff;
  }
  #hero .cs-flex-group .cs-title {
    color: #fff;
  }
  #hero .cs-flex-group .cs-text {
    color: #fff;
  }
  #hero .cs-flex-group .cs-button-solid {
    margin-right: 1.25rem;
    margin-bottom: 0;
  }
}
/* Desktop Parallax Effect - 1300px */
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #hero {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0rem) {
  .services {
    z-index: 100;
    position: relative;
    margin: auto;
    max-width: 82.5em;
    width: 90%;
  }
  .services .cs-flex-group {
    padding: var(--sectionPadding);
    text-align: -webkit-center;
  }
  .services .card-stack:not(:last-child) {
    margin-bottom: 3.125em;
  }
  .services .card-stack .card {
    display: block;
    margin: auto;
    margin-bottom: 3.125em;
    max-width: 22.3125em;
    min-width: 3.125em;
    width: 100%;
    background: white;
    padding: 3.125em 1.25em;
    border-radius: 15px;
    /* border: 0.375em solid var(--primary); */
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease;
  }
  .services .card-stack .card:hover {
    transform: scale(1.05);
    transform: translateY(-5px);
  }
  .services .card-stack .card picture {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 1.4375em;
    background: var(--primary);
    height: 5.5em;
    width: 5.5em;
  }
  .services .card-stack .card picture img {
    height: 3em;
    width: 3em;
  }
  .services .card-stack .card h2 {
    margin-bottom: 0.65em;
    font-size: 2em;
    line-height: 1.35em;
    font-weight: 700;
    color: #1a1a1a;
    text-align: center;
  }
  .services .card-stack .card p {
    opacity: 0.7;
    width: 100%;
    line-height: 1.3333333333em;
    text-align: center;
  }
}
/* Inbetween */
@media only screen and (min-width: 768px) {
  .services {
    display: flex;
    flex-direction: column;
    width: 98%;
    font-size: min(1.8vw, 1em);
  }
  .services .card-stack {
    display: flex;
    justify-content: space-evenly;
  }
  .services .card-stack .card {
    margin: 0.65em;
  }
}
/* Large Desktop */
@media only screen and (min-width: 1300px) {
  .services {
    padding: 3.125em 5em;
  }
  .services .card-stack .card {
    max-width: 22.3125em;
  }
}
/* Dark mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #services .cs-flex-group .cs-topper {
    color: var(--primaryLight);
  }
  body.dark-mode #services .card {
    background: var(--medium);
    box-shadow: 0px 20px 40px rgba(255, 255, 255, 0.1);
  }
  body.dark-mode #services picture {
    background: var(--primaryDark);
    border: 1px solid white;
  }
  body.dark-mode #services h2 {
    font-weight: bold;
    color: #fff;
  }
}

/*# sourceMappingURL=critical.css.map */
