/* STYLES FOR ABOVE THE FOLD */
/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  /*Keyframes*/
  @keyframes glitch1 {
    0% {
      transform: none;
      opacity: 1;
    }
    3% {
      transform: skew(-0.5deg, -0.9deg);
      opacity: 0.75;
    }
    6% {
      transform: none;
      opacity: 1;
    }
    10% {
      transform: none;
      opacity: 1;
    }
    12% {
      transform: skew(0.8deg, -0.1deg);
      opacity: 0.75;
    }
    15% {
      transform: none;
      opacity: 1;
    }
    18% {
      transform: none;
      opacity: 1;
    }
    21% {
      transform: skew(-1deg, 0.2deg);
      opacity: 0.75;
    }
    23% {
      transform: none;
      opacity: 1;
    }
    25% {
      transform: none;
      opacity: 1;
    }
    27% {
      transform: skew(0.4deg, 1deg);
      opacity: 0.75;
    }
    29% {
      transform: none;
      opacity: 1;
    }
    100% {
      transform: none;
      opacity: 1;
    }
  }
  @keyframes glitch2 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    3% {
      transform: translate(-2px, -3px);
      opacity: 0.5;
    }
    6% {
      transform: none;
      opacity: 0.25;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    12% {
      transform: translate(-5px, -2px);
      opacity: 0.5;
    }
    15% {
      transform: none;
      opacity: 0.25;
    }
    18% {
      transform: none;
      opacity: 0.25;
    }
    21% {
      transform: translate(-5px, -1px);
      opacity: 0.5;
    }
    23% {
      transform: none;
      opacity: 0.25;
    }
    25% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: translate(-2px, -6px);
      opacity: 0.5;
    }
    29% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
  }
  @keyframes glitch3 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    3% {
      transform: translate(2px, 3px);
      opacity: 0.5;
    }
    6% {
      transform: none;
      opacity: 0.25;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    12% {
      transform: translate(5px, 2px);
      opacity: 0.5;
    }
    15% {
      transform: none;
      opacity: 0.25;
    }
    18% {
      transform: none;
      opacity: 0.25;
    }
    21% {
      transform: translate(5px, 1px);
      opacity: 0.5;
    }
    23% {
      transform: none;
      opacity: 0.25;
    }
    25% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: translate(2px, 6px);
      opacity: 0.5;
    }
    29% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
  }
  .glow-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: radial-gradient(circle at 30% 30%, #A8C6A0, transparent 40%), radial-gradient(circle at 70% 70%, #5A9367, transparent 40%);
    animation: moveGlow 10s ease-in-out infinite;
    filter: blur(50px);
    z-index: 0;
  }
  @keyframes moveGlow {
    0%, 100% {
      transform: translate(0%, 0%);
    }
    25% {
      transform: translate(25%, -10%);
    }
    50% {
      transform: translate(10%, 25%);
    }
    75% {
      transform: translate(-10%, -15%);
    }
  }
  .stars {
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: opacity 1s ease-in-out;
    position: absolute;
  }
  .stars > .small {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1342px 843px #767676 , 1510px 45px #767676 , 1419px 881px #767676 , 192px 1522px #767676 , 928px 1569px #767676 , 1998px 349px #767676 , 804px 1795px #767676 , 883px 536px #767676 , 1759px 940px #767676 , 960px 1337px #767676 , 1143px 845px #767676 , 1291px 1700px #767676 , 206px 1961px #767676 , 154px 1387px #767676 , 660px 1692px #767676 , 582px 1109px #767676 , 33px 457px #767676 , 654px 249px #767676 , 970px 937px #767676 , 1474px 1716px #767676 , 612px 1603px #767676 , 540px 1748px #767676 , 1952px 935px #767676 , 720px 211px #767676 , 1497px 386px #767676 , 1358px 40px #767676 , 979px 296px #767676 , 296px 1268px #767676 , 81px 303px #767676 , 1661px 1165px #767676 , 928px 619px #767676 , 286px 1488px #767676 , 957px 1848px #767676 , 355px 66px #767676 , 1019px 1805px #767676 , 1230px 1750px #767676 , 984px 1144px #767676 , 1407px 1301px #767676 , 1928px 1577px #767676 , 248px 1712px #767676 , 1233px 554px #767676 , 360px 2px #767676 , 821px 1717px #767676 , 1671px 662px #767676 , 7px 1239px #767676 , 1380px 1233px #767676 , 1825px 180px #767676 , 758px 1473px #767676 , 1932px 644px #767676 , 301px 466px #767676 , 1171px 71px #767676 , 1050px 1790px #767676 , 929px 1469px #767676 , 451px 809px #767676 , 1870px 1989px #767676 , 332px 1180px #767676 , 748px 1587px #767676 , 1219px 1628px #767676 , 953px 1391px #767676 , 341px 1228px #767676 , 683px 1230px #767676 , 490px 1614px #767676 , 187px 92px #767676 , 1789px 862px #767676 , 1961px 1523px #767676 , 338px 188px #767676 , 1795px 827px #767676 , 373px 936px #767676 , 39px 675px #767676 , 1579px 427px #767676 , 643px 334px #767676 , 944px 1536px #767676 , 352px 352px #767676 , 33px 269px #767676 , 1524px 1420px #767676 , 395px 1549px #767676 , 1358px 135px #767676 , 1317px 85px #767676 , 1017px 1193px #767676 , 148px 56px #767676 , 756px 801px #767676 , 1031px 1884px #767676 , 1012px 226px #767676 , 1384px 629px #767676 , 247px 1510px #767676 , 1374px 903px #767676 , 1710px 537px #767676 , 1202px 621px #767676 , 710px 1178px #767676 , 787px 1973px #767676 , 61px 1605px #767676 , 1068px 1745px #767676 , 867px 853px #767676 , 737px 511px #767676 , 890px 1110px #767676 , 228px 1925px #767676 , 1801px 782px #767676 , 428px 1482px #767676 , 1046px 1274px #767676 , 1183px 1679px #767676 , 1577px 1468px #767676 , 1310px 453px #767676 , 1597px 1879px #767676 , 956px 1690px #767676 , 1545px 238px #767676 , 995px 1812px #767676 , 211px 908px #767676 , 1593px 184px #767676 , 1473px 219px #767676 , 1444px 1501px #767676 , 1368px 1775px #767676 , 1814px 614px #767676 , 361px 141px #767676 , 1557px 408px #767676 , 876px 803px #767676 , 519px 649px #767676 , 730px 1221px #767676 , 529px 782px #767676 , 758px 1929px #767676 , 1655px 1761px #767676 , 77px 1345px #767676 , 573px 1953px #767676 , 147px 244px #767676 , 1115px 161px #767676 , 1870px 1879px #767676 , 1011px 1420px #767676 , 1626px 1831px #767676 , 669px 148px #767676 , 1400px 1865px #767676 , 1499px 825px #767676 , 1862px 1330px #767676 , 1852px 759px #767676 , 637px 1384px #767676 , 623px 1219px #767676 , 294px 335px #767676 , 954px 1748px #767676 , 1872px 869px #767676 , 246px 1716px #767676 , 1193px 37px #767676 , 1788px 1140px #767676 , 331px 803px #767676 , 139px 103px #767676 , 1872px 1583px #767676 , 1458px 1053px #767676 , 1810px 1061px #767676 , 1192px 326px #767676 , 1874px 824px #767676 , 1369px 1379px #767676 , 693px 1318px #767676 , 185px 495px #767676 , 373px 104px #767676 , 832px 666px #767676 , 1185px 376px #767676 , 210px 170px #767676 , 779px 427px #767676 , 1118px 73px #767676 , 1733px 196px #767676 , 748px 1989px #767676 , 1439px 927px #767676 , 1629px 953px #767676 , 1596px 1893px #767676 , 759px 843px #767676 , 591px 297px #767676 , 279px 935px #767676 , 27px 495px #767676 , 308px 1638px #767676 , 425px 57px #767676 , 1471px 1226px #767676 , 1306px 1686px #767676 , 1680px 1557px #767676 , 1236px 1628px #767676 , 883px 1556px #767676 , 301px 380px #767676 , 1363px 1295px #767676 , 152px 1197px #767676 , 1387px 316px #767676 , 700px 1874px #767676 , 1778px 839px #767676 , 1524px 428px #767676 , 1491px 182px #767676 , 474px 1306px #767676 , 1328px 978px #767676 , 704px 1682px #767676 , 1884px 1878px #767676 , 1812px 827px #767676 , 1937px 947px #767676 , 581px 944px #767676 , 249px 541px #767676 , 691px 319px #767676 , 1260px 1742px #767676 , 1824px 1459px #767676 , 753px 1724px #767676 , 1304px 717px #767676 , 1948px 1681px #767676 , 506px 209px #767676 , 73px 1728px #767676 , 1665px 116px #767676 , 294px 1842px #767676 , 505px 1612px #767676 , 1222px 853px #767676 , 564px 1315px #767676 , 994px 645px #767676 , 194px 1617px #767676 , 1097px 709px #767676 , 1558px 420px #767676 , 1219px 97px #767676 , 1871px 1275px #767676 , 1562px 1585px #767676 , 1841px 644px #767676 , 302px 39px #767676 , 1484px 154px #767676 , 1789px 15px #767676 , 828px 1047px #767676 , 692px 1954px #767676 , 1472px 1737px #767676 , 1349px 1321px #767676 , 1419px 882px #767676 , 1402px 364px #767676 , 1333px 1574px #767676 , 205px 1116px #767676 , 727px 1507px #767676 , 936px 617px #767676 , 1645px 1052px #767676 , 268px 436px #767676 , 891px 143px #767676 , 946px 1879px #767676 , 1200px 307px #767676 , 1190px 195px #767676 , 340px 1686px #767676 , 1959px 1936px #767676 , 1345px 440px #767676 , 191px 958px #767676 , 1714px 783px #767676 , 1656px 1282px #767676 , 89px 1793px #767676 , 1210px 204px #767676 , 1520px 322px #767676 , 319px 256px #767676 , 248px 20px #767676 , 106px 89px #767676 , 1028px 1125px #767676 , 1124px 1414px #767676 , 778px 153px #767676 , 918px 844px #767676 , 1122px 133px #767676 , 1117px 1992px #767676 , 59px 1521px #767676 , 1598px 249px #767676 , 1289px 1459px #767676 , 1235px 453px #767676 , 1692px 211px #767676 , 1978px 1155px #767676 , 987px 1441px #767676 , 879px 439px #767676 , 1793px 1369px #767676 , 1247px 735px #767676 , 1383px 1875px #767676 , 224px 131px #767676 , 341px 992px #767676 , 1808px 606px #767676 , 1890px 1152px #767676 , 1318px 392px #767676 , 1831px 1578px #767676 , 1484px 1589px #767676 , 1538px 1108px #767676 , 1px 670px #767676 , 1560px 1958px #767676 , 406px 942px #767676 , 591px 773px #767676 , 1803px 590px #767676 , 1558px 1456px #767676 , 912px 1595px #767676 , 1252px 272px #767676 , 1475px 978px #767676 , 1467px 1308px #767676 , 1390px 1724px #767676 , 128px 759px #767676 , 394px 1665px #767676 , 415px 1281px #767676 , 325px 1927px #767676 , 129px 783px #767676 , 1250px 1506px #767676 , 759px 472px #767676 , 1666px 1810px #767676 , 846px 1719px #767676 , 34px 1457px #767676 , 1473px 109px #767676 , 1490px 1463px #767676 , 548px 848px #767676 , 868px 905px #767676 , 282px 931px #767676 , 689px 1485px #767676 , 1434px 1988px #767676 , 671px 1388px #767676 , 616px 1385px #767676 , 1540px 165px #767676 , 445px 1817px #767676 , 1579px 1014px #767676 , 510px 1346px #767676 , 1166px 1162px #767676 , 1229px 1293px #767676 , 1184px 839px #767676 , 698px 1504px #767676 , 147px 1551px #767676 , 1847px 756px #767676 , 1226px 771px #767676 , 1798px 1867px #767676 , 1854px 1147px #767676 , 1773px 1706px #767676 , 411px 2000px #767676 , 341px 1489px #767676 , 1392px 601px #767676 , 862px 728px #767676 , 488px 1013px #767676 , 1054px 1686px #767676 , 819px 455px #767676 , 339px 531px #767676 , 370px 837px #767676 , 723px 1769px #767676 , 678px 559px #767676 , 1819px 1946px #767676 , 1290px 252px #767676 , 1216px 165px #767676 , 278px 1691px #767676 , 1217px 419px #767676 , 383px 1848px #767676 , 1547px 514px #767676 , 1231px 1712px #767676 , 1303px 378px #767676 , 1489px 1740px #767676 , 741px 147px #767676 , 1062px 219px #767676 , 422px 28px #767676 , 1851px 257px #767676 , 1085px 1302px #767676 , 1155px 193px #767676 , 1431px 1638px #767676 , 1701px 724px #767676 , 1503px 369px #767676 , 235px 1028px #767676 , 1522px 839px #767676 , 1631px 250px #767676 , 1034px 34px #767676 , 465px 1901px #767676 , 1842px 443px #767676 , 613px 1357px #767676 , 1493px 1003px #767676 , 392px 1612px #767676 , 637px 266px #767676 , 1173px 207px #767676 , 1682px 251px #767676 , 1485px 308px #767676 , 27px 738px #767676 , 563px 452px #767676 , 516px 712px #767676 , 1221px 1187px #767676 , 1067px 290px #767676 , 1277px 1482px #767676 , 774px 1458px #767676 , 303px 1961px #767676 , 924px 35px #767676 , 1028px 299px #767676 , 479px 641px #767676 , 1529px 913px #767676 , 1471px 362px #767676 , 1406px 469px #767676 , 1921px 1561px #767676 , 1323px 721px #767676 , 11px 1675px #767676 , 1878px 215px #767676 , 1603px 1082px #767676 , 1944px 641px #767676 , 404px 545px #767676 , 328px 1253px #767676 , 1800px 980px #767676 , 405px 1641px #767676 , 462px 178px #767676 , 1608px 678px #767676 , 1041px 13px #767676 , 1232px 1106px #767676 , 503px 518px #767676 , 1401px 93px #767676 , 1084px 1398px #767676 , 1287px 1463px #767676 , 507px 1316px #767676 , 1426px 970px #767676 , 34px 853px #767676 , 1864px 593px #767676 , 1427px 455px #767676 , 1563px 1291px #767676 , 647px 1524px #767676 , 1804px 1165px #767676 , 286px 431px #767676 , 1122px 762px #767676 , 788px 570px #767676 , 968px 1835px #767676 , 221px 811px #767676 , 457px 80px #767676 , 1105px 1919px #767676 , 259px 1420px #767676 , 186px 755px #767676 , 1987px 501px #767676 , 234px 522px #767676 , 1095px 1073px #767676 , 1392px 1058px #767676 , 1906px 1751px #767676 , 150px 1706px #767676 , 1421px 308px #767676 , 136px 1846px #767676 , 692px 1736px #767676 , 1690px 1931px #767676 , 73px 216px #767676 , 1312px 29px #767676 , 1163px 1399px #767676 , 1260px 550px #767676 , 893px 1366px #767676 , 1746px 396px #767676 , 455px 135px #767676 , 1969px 489px #767676 , 584px 367px #767676 , 1569px 1745px #767676 , 897px 1673px #767676 , 831px 906px #767676 , 947px 89px #767676 , 709px 227px #767676 , 1781px 1638px #767676 , 1152px 797px #767676 , 89px 271px #767676 , 1648px 1009px #767676 , 1861px 1372px #767676 , 1052px 1989px #767676 , 722px 42px #767676 , 1844px 1829px #767676 , 948px 349px #767676 , 515px 1705px #767676 , 1514px 363px #767676 , 973px 1371px #767676 , 297px 1926px #767676 , 162px 1660px #767676 , 159px 1940px #767676 , 1658px 513px #767676 , 573px 1463px #767676 , 1867px 1326px #767676 , 832px 782px #767676 , 1382px 1920px #767676 , 1190px 1534px #767676 , 418px 329px #767676 , 263px 460px #767676 , 390px 1976px #767676 , 361px 1890px #767676 , 1059px 431px #767676 , 841px 1794px #767676 , 1690px 156px #767676 , 342px 644px #767676 , 388px 578px #767676 , 740px 574px #767676 , 1429px 1356px #767676 , 1868px 368px #767676 , 185px 1965px #767676 , 1660px 565px #767676 , 1386px 1147px #767676 , 61px 713px #767676 , 181px 1388px #767676 , 311px 121px #767676 , 1289px 25px #767676 , 1364px 1540px #767676 , 70px 46px #767676 , 198px 1681px #767676 , 77px 328px #767676 , 472px 1927px #767676 , 982px 1642px #767676 , 1475px 1306px #767676 , 1819px 600px #767676 , 1096px 1730px #767676 , 1366px 987px #767676 , 1052px 522px #767676 , 632px 58px #767676 , 1642px 1014px #767676 , 1464px 1553px #767676 , 1742px 1572px #767676 , 395px 959px #767676 , 984px 1684px #767676 , 1308px 249px #767676 , 114px 1983px #767676 , 1899px 654px #767676 , 1871px 1336px #767676 , 1866px 993px #767676 , 587px 1260px #767676 , 263px 766px #767676 , 913px 1169px #767676 , 1346px 584px #767676 , 144px 609px #767676 , 1192px 369px #767676 , 951px 1134px #767676 , 801px 497px #767676 , 1423px 1526px #767676 , 294px 1553px #767676 , 397px 684px #767676 , 175px 666px #767676 , 1866px 1318px #767676 , 35px 571px #767676 , 1294px 1212px #767676 , 1187px 937px #767676 , 524px 532px #767676 , 1015px 166px #767676 , 1735px 1045px #767676 , 770px 546px #767676 , 1866px 1989px #767676 , 557px 1012px #767676 , 686px 1865px #767676 , 1271px 1571px #767676 , 798px 46px #767676 , 1507px 576px #767676 , 997px 686px #767676 , 299px 144px #767676 , 861px 111px #767676 , 208px 827px #767676 , 1163px 1991px #767676 , 1188px 1342px #767676 , 73px 50px #767676 , 1582px 1210px #767676 , 1028px 1406px #767676 , 835px 1501px #767676 , 1116px 1023px #767676 , 963px 1807px #767676 , 411px 1149px #767676 , 124px 1436px #767676 , 1663px 902px #767676 , 1502px 365px #767676 , 1149px 1249px #767676 , 276px 572px #767676 , 1825px 162px #767676 , 1702px 332px #767676 , 1731px 1924px #767676 , 1220px 1769px #767676 , 1912px 137px #767676 , 241px 1184px #767676 , 771px 1059px #767676 , 1302px 1762px #767676 , 37px 571px #767676 , 1990px 368px #767676 , 758px 1823px #767676 , 1639px 876px #767676 , 465px 1646px #767676 , 1588px 1073px #767676 , 209px 743px #767676 , 1765px 538px #767676 , 1267px 487px #767676 , 1697px 534px #767676 , 699px 1832px #767676 , 1469px 369px #767676 , 148px 870px #767676 , 15px 343px #767676 , 1966px 1636px #767676 , 842px 1277px #767676 , 1417px 580px #767676 , 1592px 1252px #767676 , 1691px 1262px #767676 , 1120px 386px #767676 , 1969px 1068px #767676 , 1444px 1368px #767676 , 589px 508px #767676 , 1180px 1296px #767676 , 638px 1664px #767676 , 1335px 765px #767676 , 604px 1124px #767676 , 1563px 1168px #767676 , 5px 705px #767676 , 895px 643px #767676 , 688px 1521px #767676 , 1175px 139px #767676 , 77px 831px #767676 , 465px 409px #767676 , 1871px 52px #767676 , 769px 384px #767676 , 1017px 476px #767676 , 1359px 1756px #767676 , 440px 1034px #767676 , 356px 723px #767676 , 888px 311px #767676 , 656px 258px #767676 , 6px 384px #767676 , 1331px 1721px #767676 , 879px 1994px #767676 , 1408px 1652px #767676 , 306px 1394px #767676 , 1018px 1002px #767676 , 458px 1497px #767676 , 1024px 1763px #767676 , 1104px 1137px #767676 , 221px 27px #767676 , 1882px 310px #767676 , 1614px 33px #767676 , 1347px 304px #767676 , 1747px 12px #767676 , 1423px 483px #767676 , 181px 917px #767676 , 1639px 1664px #767676 , 63px 1656px #767676 , 638px 1194px #767676 , 576px 1435px #767676 , 1840px 1058px #767676 , 1508px 647px #767676 , 845px 1594px #767676 , 1299px 426px #767676 , 1088px 1014px #767676 , 109px 1670px #767676 , 427px 157px #767676 , 1673px 369px #767676 , 1542px 1220px #767676 , 130px 17px #767676 , 1764px 1px #767676 , 469px 1215px #767676 , 1919px 1986px #767676 , 1187px 570px #767676 , 1370px 1032px #767676 , 1038px 1450px #767676 , 1064px 810px #767676 , 788px 950px #767676 , 182px 1392px #767676 , 1672px 1047px #767676 , 274px 879px #767676 , 773px 1285px #767676 , 312px 508px #767676 , 1278px 1570px #767676 , 1259px 501px #767676 , 1705px 1956px #767676 , 1998px 247px #767676 , 1736px 616px #767676 , 1278px 265px #767676 , 1826px 1498px #767676 , 1129px 590px #767676 , 844px 705px #767676 , 1024px 90px #767676 , 293px 1284px #767676 , 1930px 1437px #767676 , 1826px 627px #767676 , 216px 474px #767676 , 1789px 1848px #767676 , 1929px 774px #767676 , 1095px 638px #767676 , 1649px 197px #767676 , 649px 371px #767676 , 1347px 1196px #767676 , 1771px 1301px #767676 , 820px 812px #767676 , 49px 568px #767676 , 143px 95px #767676 , 1464px 18px #767676 , 42px 1771px #767676 , 396px 1776px #767676 , 50px 692px #767676 , 1627px 577px #767676 , 721px 1313px #767676 , 106px 266px #767676 , 866px 121px #767676 , 1794px 858px #767676 , 326px 1928px #767676 , 119px 1890px #767676 , 382px 1021px #767676 , 1474px 1626px #767676 , 1076px 1591px #767676 , 890px 427px #767676 , 945px 1091px #767676 , 1254px 651px #767676 , 830px 36px #767676 , 448px 1670px #767676 , 3px 501px #767676 , 1390px 981px #767676 , 1214px 1386px #767676 , 971px 1493px #767676 , 1789px 802px #767676 , 1152px 643px #767676 , 1941px 857px #767676 , 46px 368px #767676 , 1102px 1487px #767676 , 218px 1586px #767676 , 1639px 1868px #767676 , 772px 1094px #767676 , 1411px 1362px #767676 , 1236px 480px #767676 , 1369px 1181px #767676 , 1198px 280px #767676 , 1473px 193px #767676 , 43px 42px #767676 , 1386px 257px #767676 , 795px 919px #767676 , 1977px 1270px #767676 , 1194px 1110px #767676 , 413px 3px #767676 , 1751px 1554px #767676 , 851px 999px #767676 , 217px 1817px #767676 , 1002px 1181px #767676 , 1287px 293px #767676 , 628px 1373px #767676 , 184px 1604px #767676 , 1367px 519px #767676 , 350px 858px #767676 , 1416px 97px #767676;
    animation: starsAnimation 50s linear infinite;
  }
  .stars > .small:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1342px 843px #767676 , 1510px 45px #767676 , 1419px 881px #767676 , 192px 1522px #767676 , 928px 1569px #767676 , 1998px 349px #767676 , 804px 1795px #767676 , 883px 536px #767676 , 1759px 940px #767676 , 960px 1337px #767676 , 1143px 845px #767676 , 1291px 1700px #767676 , 206px 1961px #767676 , 154px 1387px #767676 , 660px 1692px #767676 , 582px 1109px #767676 , 33px 457px #767676 , 654px 249px #767676 , 970px 937px #767676 , 1474px 1716px #767676 , 612px 1603px #767676 , 540px 1748px #767676 , 1952px 935px #767676 , 720px 211px #767676 , 1497px 386px #767676 , 1358px 40px #767676 , 979px 296px #767676 , 296px 1268px #767676 , 81px 303px #767676 , 1661px 1165px #767676 , 928px 619px #767676 , 286px 1488px #767676 , 957px 1848px #767676 , 355px 66px #767676 , 1019px 1805px #767676 , 1230px 1750px #767676 , 984px 1144px #767676 , 1407px 1301px #767676 , 1928px 1577px #767676 , 248px 1712px #767676 , 1233px 554px #767676 , 360px 2px #767676 , 821px 1717px #767676 , 1671px 662px #767676 , 7px 1239px #767676 , 1380px 1233px #767676 , 1825px 180px #767676 , 758px 1473px #767676 , 1932px 644px #767676 , 301px 466px #767676 , 1171px 71px #767676 , 1050px 1790px #767676 , 929px 1469px #767676 , 451px 809px #767676 , 1870px 1989px #767676 , 332px 1180px #767676 , 748px 1587px #767676 , 1219px 1628px #767676 , 953px 1391px #767676 , 341px 1228px #767676 , 683px 1230px #767676 , 490px 1614px #767676 , 187px 92px #767676 , 1789px 862px #767676 , 1961px 1523px #767676 , 338px 188px #767676 , 1795px 827px #767676 , 373px 936px #767676 , 39px 675px #767676 , 1579px 427px #767676 , 643px 334px #767676 , 944px 1536px #767676 , 352px 352px #767676 , 33px 269px #767676 , 1524px 1420px #767676 , 395px 1549px #767676 , 1358px 135px #767676 , 1317px 85px #767676 , 1017px 1193px #767676 , 148px 56px #767676 , 756px 801px #767676 , 1031px 1884px #767676 , 1012px 226px #767676 , 1384px 629px #767676 , 247px 1510px #767676 , 1374px 903px #767676 , 1710px 537px #767676 , 1202px 621px #767676 , 710px 1178px #767676 , 787px 1973px #767676 , 61px 1605px #767676 , 1068px 1745px #767676 , 867px 853px #767676 , 737px 511px #767676 , 890px 1110px #767676 , 228px 1925px #767676 , 1801px 782px #767676 , 428px 1482px #767676 , 1046px 1274px #767676 , 1183px 1679px #767676 , 1577px 1468px #767676 , 1310px 453px #767676 , 1597px 1879px #767676 , 956px 1690px #767676 , 1545px 238px #767676 , 995px 1812px #767676 , 211px 908px #767676 , 1593px 184px #767676 , 1473px 219px #767676 , 1444px 1501px #767676 , 1368px 1775px #767676 , 1814px 614px #767676 , 361px 141px #767676 , 1557px 408px #767676 , 876px 803px #767676 , 519px 649px #767676 , 730px 1221px #767676 , 529px 782px #767676 , 758px 1929px #767676 , 1655px 1761px #767676 , 77px 1345px #767676 , 573px 1953px #767676 , 147px 244px #767676 , 1115px 161px #767676 , 1870px 1879px #767676 , 1011px 1420px #767676 , 1626px 1831px #767676 , 669px 148px #767676 , 1400px 1865px #767676 , 1499px 825px #767676 , 1862px 1330px #767676 , 1852px 759px #767676 , 637px 1384px #767676 , 623px 1219px #767676 , 294px 335px #767676 , 954px 1748px #767676 , 1872px 869px #767676 , 246px 1716px #767676 , 1193px 37px #767676 , 1788px 1140px #767676 , 331px 803px #767676 , 139px 103px #767676 , 1872px 1583px #767676 , 1458px 1053px #767676 , 1810px 1061px #767676 , 1192px 326px #767676 , 1874px 824px #767676 , 1369px 1379px #767676 , 693px 1318px #767676 , 185px 495px #767676 , 373px 104px #767676 , 832px 666px #767676 , 1185px 376px #767676 , 210px 170px #767676 , 779px 427px #767676 , 1118px 73px #767676 , 1733px 196px #767676 , 748px 1989px #767676 , 1439px 927px #767676 , 1629px 953px #767676 , 1596px 1893px #767676 , 759px 843px #767676 , 591px 297px #767676 , 279px 935px #767676 , 27px 495px #767676 , 308px 1638px #767676 , 425px 57px #767676 , 1471px 1226px #767676 , 1306px 1686px #767676 , 1680px 1557px #767676 , 1236px 1628px #767676 , 883px 1556px #767676 , 301px 380px #767676 , 1363px 1295px #767676 , 152px 1197px #767676 , 1387px 316px #767676 , 700px 1874px #767676 , 1778px 839px #767676 , 1524px 428px #767676 , 1491px 182px #767676 , 474px 1306px #767676 , 1328px 978px #767676 , 704px 1682px #767676 , 1884px 1878px #767676 , 1812px 827px #767676 , 1937px 947px #767676 , 581px 944px #767676 , 249px 541px #767676 , 691px 319px #767676 , 1260px 1742px #767676 , 1824px 1459px #767676 , 753px 1724px #767676 , 1304px 717px #767676 , 1948px 1681px #767676 , 506px 209px #767676 , 73px 1728px #767676 , 1665px 116px #767676 , 294px 1842px #767676 , 505px 1612px #767676 , 1222px 853px #767676 , 564px 1315px #767676 , 994px 645px #767676 , 194px 1617px #767676 , 1097px 709px #767676 , 1558px 420px #767676 , 1219px 97px #767676 , 1871px 1275px #767676 , 1562px 1585px #767676 , 1841px 644px #767676 , 302px 39px #767676 , 1484px 154px #767676 , 1789px 15px #767676 , 828px 1047px #767676 , 692px 1954px #767676 , 1472px 1737px #767676 , 1349px 1321px #767676 , 1419px 882px #767676 , 1402px 364px #767676 , 1333px 1574px #767676 , 205px 1116px #767676 , 727px 1507px #767676 , 936px 617px #767676 , 1645px 1052px #767676 , 268px 436px #767676 , 891px 143px #767676 , 946px 1879px #767676 , 1200px 307px #767676 , 1190px 195px #767676 , 340px 1686px #767676 , 1959px 1936px #767676 , 1345px 440px #767676 , 191px 958px #767676 , 1714px 783px #767676 , 1656px 1282px #767676 , 89px 1793px #767676 , 1210px 204px #767676 , 1520px 322px #767676 , 319px 256px #767676 , 248px 20px #767676 , 106px 89px #767676 , 1028px 1125px #767676 , 1124px 1414px #767676 , 778px 153px #767676 , 918px 844px #767676 , 1122px 133px #767676 , 1117px 1992px #767676 , 59px 1521px #767676 , 1598px 249px #767676 , 1289px 1459px #767676 , 1235px 453px #767676 , 1692px 211px #767676 , 1978px 1155px #767676 , 987px 1441px #767676 , 879px 439px #767676 , 1793px 1369px #767676 , 1247px 735px #767676 , 1383px 1875px #767676 , 224px 131px #767676 , 341px 992px #767676 , 1808px 606px #767676 , 1890px 1152px #767676 , 1318px 392px #767676 , 1831px 1578px #767676 , 1484px 1589px #767676 , 1538px 1108px #767676 , 1px 670px #767676 , 1560px 1958px #767676 , 406px 942px #767676 , 591px 773px #767676 , 1803px 590px #767676 , 1558px 1456px #767676 , 912px 1595px #767676 , 1252px 272px #767676 , 1475px 978px #767676 , 1467px 1308px #767676 , 1390px 1724px #767676 , 128px 759px #767676 , 394px 1665px #767676 , 415px 1281px #767676 , 325px 1927px #767676 , 129px 783px #767676 , 1250px 1506px #767676 , 759px 472px #767676 , 1666px 1810px #767676 , 846px 1719px #767676 , 34px 1457px #767676 , 1473px 109px #767676 , 1490px 1463px #767676 , 548px 848px #767676 , 868px 905px #767676 , 282px 931px #767676 , 689px 1485px #767676 , 1434px 1988px #767676 , 671px 1388px #767676 , 616px 1385px #767676 , 1540px 165px #767676 , 445px 1817px #767676 , 1579px 1014px #767676 , 510px 1346px #767676 , 1166px 1162px #767676 , 1229px 1293px #767676 , 1184px 839px #767676 , 698px 1504px #767676 , 147px 1551px #767676 , 1847px 756px #767676 , 1226px 771px #767676 , 1798px 1867px #767676 , 1854px 1147px #767676 , 1773px 1706px #767676 , 411px 2000px #767676 , 341px 1489px #767676 , 1392px 601px #767676 , 862px 728px #767676 , 488px 1013px #767676 , 1054px 1686px #767676 , 819px 455px #767676 , 339px 531px #767676 , 370px 837px #767676 , 723px 1769px #767676 , 678px 559px #767676 , 1819px 1946px #767676 , 1290px 252px #767676 , 1216px 165px #767676 , 278px 1691px #767676 , 1217px 419px #767676 , 383px 1848px #767676 , 1547px 514px #767676 , 1231px 1712px #767676 , 1303px 378px #767676 , 1489px 1740px #767676 , 741px 147px #767676 , 1062px 219px #767676 , 422px 28px #767676 , 1851px 257px #767676 , 1085px 1302px #767676 , 1155px 193px #767676 , 1431px 1638px #767676 , 1701px 724px #767676 , 1503px 369px #767676 , 235px 1028px #767676 , 1522px 839px #767676 , 1631px 250px #767676 , 1034px 34px #767676 , 465px 1901px #767676 , 1842px 443px #767676 , 613px 1357px #767676 , 1493px 1003px #767676 , 392px 1612px #767676 , 637px 266px #767676 , 1173px 207px #767676 , 1682px 251px #767676 , 1485px 308px #767676 , 27px 738px #767676 , 563px 452px #767676 , 516px 712px #767676 , 1221px 1187px #767676 , 1067px 290px #767676 , 1277px 1482px #767676 , 774px 1458px #767676 , 303px 1961px #767676 , 924px 35px #767676 , 1028px 299px #767676 , 479px 641px #767676 , 1529px 913px #767676 , 1471px 362px #767676 , 1406px 469px #767676 , 1921px 1561px #767676 , 1323px 721px #767676 , 11px 1675px #767676 , 1878px 215px #767676 , 1603px 1082px #767676 , 1944px 641px #767676 , 404px 545px #767676 , 328px 1253px #767676 , 1800px 980px #767676 , 405px 1641px #767676 , 462px 178px #767676 , 1608px 678px #767676 , 1041px 13px #767676 , 1232px 1106px #767676 , 503px 518px #767676 , 1401px 93px #767676 , 1084px 1398px #767676 , 1287px 1463px #767676 , 507px 1316px #767676 , 1426px 970px #767676 , 34px 853px #767676 , 1864px 593px #767676 , 1427px 455px #767676 , 1563px 1291px #767676 , 647px 1524px #767676 , 1804px 1165px #767676 , 286px 431px #767676 , 1122px 762px #767676 , 788px 570px #767676 , 968px 1835px #767676 , 221px 811px #767676 , 457px 80px #767676 , 1105px 1919px #767676 , 259px 1420px #767676 , 186px 755px #767676 , 1987px 501px #767676 , 234px 522px #767676 , 1095px 1073px #767676 , 1392px 1058px #767676 , 1906px 1751px #767676 , 150px 1706px #767676 , 1421px 308px #767676 , 136px 1846px #767676 , 692px 1736px #767676 , 1690px 1931px #767676 , 73px 216px #767676 , 1312px 29px #767676 , 1163px 1399px #767676 , 1260px 550px #767676 , 893px 1366px #767676 , 1746px 396px #767676 , 455px 135px #767676 , 1969px 489px #767676 , 584px 367px #767676 , 1569px 1745px #767676 , 897px 1673px #767676 , 831px 906px #767676 , 947px 89px #767676 , 709px 227px #767676 , 1781px 1638px #767676 , 1152px 797px #767676 , 89px 271px #767676 , 1648px 1009px #767676 , 1861px 1372px #767676 , 1052px 1989px #767676 , 722px 42px #767676 , 1844px 1829px #767676 , 948px 349px #767676 , 515px 1705px #767676 , 1514px 363px #767676 , 973px 1371px #767676 , 297px 1926px #767676 , 162px 1660px #767676 , 159px 1940px #767676 , 1658px 513px #767676 , 573px 1463px #767676 , 1867px 1326px #767676 , 832px 782px #767676 , 1382px 1920px #767676 , 1190px 1534px #767676 , 418px 329px #767676 , 263px 460px #767676 , 390px 1976px #767676 , 361px 1890px #767676 , 1059px 431px #767676 , 841px 1794px #767676 , 1690px 156px #767676 , 342px 644px #767676 , 388px 578px #767676 , 740px 574px #767676 , 1429px 1356px #767676 , 1868px 368px #767676 , 185px 1965px #767676 , 1660px 565px #767676 , 1386px 1147px #767676 , 61px 713px #767676 , 181px 1388px #767676 , 311px 121px #767676 , 1289px 25px #767676 , 1364px 1540px #767676 , 70px 46px #767676 , 198px 1681px #767676 , 77px 328px #767676 , 472px 1927px #767676 , 982px 1642px #767676 , 1475px 1306px #767676 , 1819px 600px #767676 , 1096px 1730px #767676 , 1366px 987px #767676 , 1052px 522px #767676 , 632px 58px #767676 , 1642px 1014px #767676 , 1464px 1553px #767676 , 1742px 1572px #767676 , 395px 959px #767676 , 984px 1684px #767676 , 1308px 249px #767676 , 114px 1983px #767676 , 1899px 654px #767676 , 1871px 1336px #767676 , 1866px 993px #767676 , 587px 1260px #767676 , 263px 766px #767676 , 913px 1169px #767676 , 1346px 584px #767676 , 144px 609px #767676 , 1192px 369px #767676 , 951px 1134px #767676 , 801px 497px #767676 , 1423px 1526px #767676 , 294px 1553px #767676 , 397px 684px #767676 , 175px 666px #767676 , 1866px 1318px #767676 , 35px 571px #767676 , 1294px 1212px #767676 , 1187px 937px #767676 , 524px 532px #767676 , 1015px 166px #767676 , 1735px 1045px #767676 , 770px 546px #767676 , 1866px 1989px #767676 , 557px 1012px #767676 , 686px 1865px #767676 , 1271px 1571px #767676 , 798px 46px #767676 , 1507px 576px #767676 , 997px 686px #767676 , 299px 144px #767676 , 861px 111px #767676 , 208px 827px #767676 , 1163px 1991px #767676 , 1188px 1342px #767676 , 73px 50px #767676 , 1582px 1210px #767676 , 1028px 1406px #767676 , 835px 1501px #767676 , 1116px 1023px #767676 , 963px 1807px #767676 , 411px 1149px #767676 , 124px 1436px #767676 , 1663px 902px #767676 , 1502px 365px #767676 , 1149px 1249px #767676 , 276px 572px #767676 , 1825px 162px #767676 , 1702px 332px #767676 , 1731px 1924px #767676 , 1220px 1769px #767676 , 1912px 137px #767676 , 241px 1184px #767676 , 771px 1059px #767676 , 1302px 1762px #767676 , 37px 571px #767676 , 1990px 368px #767676 , 758px 1823px #767676 , 1639px 876px #767676 , 465px 1646px #767676 , 1588px 1073px #767676 , 209px 743px #767676 , 1765px 538px #767676 , 1267px 487px #767676 , 1697px 534px #767676 , 699px 1832px #767676 , 1469px 369px #767676 , 148px 870px #767676 , 15px 343px #767676 , 1966px 1636px #767676 , 842px 1277px #767676 , 1417px 580px #767676 , 1592px 1252px #767676 , 1691px 1262px #767676 , 1120px 386px #767676 , 1969px 1068px #767676 , 1444px 1368px #767676 , 589px 508px #767676 , 1180px 1296px #767676 , 638px 1664px #767676 , 1335px 765px #767676 , 604px 1124px #767676 , 1563px 1168px #767676 , 5px 705px #767676 , 895px 643px #767676 , 688px 1521px #767676 , 1175px 139px #767676 , 77px 831px #767676 , 465px 409px #767676 , 1871px 52px #767676 , 769px 384px #767676 , 1017px 476px #767676 , 1359px 1756px #767676 , 440px 1034px #767676 , 356px 723px #767676 , 888px 311px #767676 , 656px 258px #767676 , 6px 384px #767676 , 1331px 1721px #767676 , 879px 1994px #767676 , 1408px 1652px #767676 , 306px 1394px #767676 , 1018px 1002px #767676 , 458px 1497px #767676 , 1024px 1763px #767676 , 1104px 1137px #767676 , 221px 27px #767676 , 1882px 310px #767676 , 1614px 33px #767676 , 1347px 304px #767676 , 1747px 12px #767676 , 1423px 483px #767676 , 181px 917px #767676 , 1639px 1664px #767676 , 63px 1656px #767676 , 638px 1194px #767676 , 576px 1435px #767676 , 1840px 1058px #767676 , 1508px 647px #767676 , 845px 1594px #767676 , 1299px 426px #767676 , 1088px 1014px #767676 , 109px 1670px #767676 , 427px 157px #767676 , 1673px 369px #767676 , 1542px 1220px #767676 , 130px 17px #767676 , 1764px 1px #767676 , 469px 1215px #767676 , 1919px 1986px #767676 , 1187px 570px #767676 , 1370px 1032px #767676 , 1038px 1450px #767676 , 1064px 810px #767676 , 788px 950px #767676 , 182px 1392px #767676 , 1672px 1047px #767676 , 274px 879px #767676 , 773px 1285px #767676 , 312px 508px #767676 , 1278px 1570px #767676 , 1259px 501px #767676 , 1705px 1956px #767676 , 1998px 247px #767676 , 1736px 616px #767676 , 1278px 265px #767676 , 1826px 1498px #767676 , 1129px 590px #767676 , 844px 705px #767676 , 1024px 90px #767676 , 293px 1284px #767676 , 1930px 1437px #767676 , 1826px 627px #767676 , 216px 474px #767676 , 1789px 1848px #767676 , 1929px 774px #767676 , 1095px 638px #767676 , 1649px 197px #767676 , 649px 371px #767676 , 1347px 1196px #767676 , 1771px 1301px #767676 , 820px 812px #767676 , 49px 568px #767676 , 143px 95px #767676 , 1464px 18px #767676 , 42px 1771px #767676 , 396px 1776px #767676 , 50px 692px #767676 , 1627px 577px #767676 , 721px 1313px #767676 , 106px 266px #767676 , 866px 121px #767676 , 1794px 858px #767676 , 326px 1928px #767676 , 119px 1890px #767676 , 382px 1021px #767676 , 1474px 1626px #767676 , 1076px 1591px #767676 , 890px 427px #767676 , 945px 1091px #767676 , 1254px 651px #767676 , 830px 36px #767676 , 448px 1670px #767676 , 3px 501px #767676 , 1390px 981px #767676 , 1214px 1386px #767676 , 971px 1493px #767676 , 1789px 802px #767676 , 1152px 643px #767676 , 1941px 857px #767676 , 46px 368px #767676 , 1102px 1487px #767676 , 218px 1586px #767676 , 1639px 1868px #767676 , 772px 1094px #767676 , 1411px 1362px #767676 , 1236px 480px #767676 , 1369px 1181px #767676 , 1198px 280px #767676 , 1473px 193px #767676 , 43px 42px #767676 , 1386px 257px #767676 , 795px 919px #767676 , 1977px 1270px #767676 , 1194px 1110px #767676 , 413px 3px #767676 , 1751px 1554px #767676 , 851px 999px #767676 , 217px 1817px #767676 , 1002px 1181px #767676 , 1287px 293px #767676 , 628px 1373px #767676 , 184px 1604px #767676 , 1367px 519px #767676 , 350px 858px #767676 , 1416px 97px #767676;
  }
  .stars > .medium {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1131px 708px #767676 , 1534px 1521px #767676 , 613px 1150px #767676 , 1410px 942px #767676 , 379px 764px #767676 , 1871px 648px #767676 , 1789px 1248px #767676 , 1737px 361px #767676 , 332px 130px #767676 , 162px 1616px #767676 , 1513px 298px #767676 , 525px 1559px #767676 , 746px 1352px #767676 , 395px 1069px #767676 , 1568px 1104px #767676 , 892px 221px #767676 , 1989px 866px #767676 , 852px 767px #767676 , 1913px 1874px #767676 , 1859px 910px #767676 , 514px 899px #767676 , 811px 1315px #767676 , 465px 1886px #767676 , 1996px 676px #767676 , 1224px 938px #767676 , 1405px 681px #767676 , 142px 799px #767676 , 1385px 1071px #767676 , 34px 1059px #767676 , 545px 878px #767676 , 156px 184px #767676 , 1290px 1010px #767676 , 1463px 154px #767676 , 1076px 1111px #767676 , 422px 1665px #767676 , 388px 633px #767676 , 959px 881px #767676 , 849px 1621px #767676 , 1492px 227px #767676 , 1032px 1470px #767676 , 1054px 1008px #767676 , 1735px 163px #767676 , 980px 1956px #767676 , 890px 1391px #767676 , 1561px 1275px #767676 , 1487px 1532px #767676 , 1159px 1292px #767676 , 1128px 1260px #767676 , 1910px 771px #767676 , 173px 1698px #767676 , 43px 959px #767676 , 826px 464px #767676 , 1993px 1166px #767676 , 1672px 454px #767676 , 609px 1011px #767676 , 1465px 1172px #767676 , 1968px 522px #767676 , 1083px 1612px #767676 , 1456px 629px #767676 , 684px 1345px #767676 , 1381px 292px #767676 , 1059px 1037px #767676 , 951px 1361px #767676 , 1765px 1922px #767676 , 1759px 1071px #767676 , 1660px 280px #767676 , 1911px 987px #767676 , 762px 1716px #767676 , 1124px 1990px #767676 , 164px 838px #767676 , 1579px 910px #767676 , 1528px 174px #767676 , 262px 1470px #767676 , 1518px 1451px #767676 , 1617px 1674px #767676 , 25px 810px #767676 , 1593px 1665px #767676 , 1411px 23px #767676 , 167px 1266px #767676 , 344px 1775px #767676 , 403px 496px #767676 , 1625px 1903px #767676 , 1066px 1386px #767676 , 641px 713px #767676 , 282px 729px #767676 , 1824px 1023px #767676 , 277px 1821px #767676 , 735px 316px #767676 , 391px 1260px #767676 , 1px 1976px #767676 , 1538px 934px #767676 , 479px 278px #767676 , 1556px 1462px #767676 , 1131px 1903px #767676 , 1965px 1462px #767676 , 1201px 736px #767676 , 415px 1234px #767676 , 1043px 1646px #767676 , 1744px 1249px #767676 , 894px 1142px #767676 , 1616px 1143px #767676 , 234px 360px #767676 , 1195px 1329px #767676 , 1290px 1451px #767676 , 185px 982px #767676 , 1122px 1176px #767676 , 959px 1701px #767676 , 1431px 61px #767676 , 381px 598px #767676 , 1653px 835px #767676 , 1929px 652px #767676 , 1587px 52px #767676 , 1655px 463px #767676 , 1019px 1648px #767676 , 709px 201px #767676 , 22px 1634px #767676 , 1433px 868px #767676 , 205px 1435px #767676 , 1219px 946px #767676 , 1016px 1484px #767676 , 1527px 1956px #767676 , 378px 239px #767676 , 7px 722px #767676 , 1452px 1335px #767676 , 1593px 609px #767676 , 703px 1801px #767676 , 1787px 162px #767676 , 1519px 925px #767676 , 1462px 807px #767676 , 1804px 454px #767676 , 173px 1680px #767676 , 1233px 1427px #767676 , 1202px 1911px #767676 , 64px 665px #767676 , 820px 255px #767676 , 1410px 1732px #767676 , 1743px 383px #767676 , 362px 910px #767676 , 195px 935px #767676 , 660px 142px #767676 , 358px 306px #767676 , 1332px 1312px #767676 , 815px 904px #767676 , 1329px 714px #767676 , 543px 1311px #767676 , 389px 1428px #767676 , 1160px 827px #767676 , 337px 412px #767676 , 1654px 1203px #767676 , 848px 898px #767676 , 1888px 889px #767676 , 1700px 45px #767676 , 1479px 921px #767676 , 463px 514px #767676 , 1597px 885px #767676 , 560px 1673px #767676 , 1603px 1867px #767676 , 537px 833px #767676 , 713px 1561px #767676 , 385px 459px #767676 , 141px 98px #767676 , 401px 1924px #767676 , 416px 1261px #767676 , 20px 1958px #767676 , 1752px 1140px #767676 , 1138px 774px #767676 , 1372px 884px #767676 , 1981px 1336px #767676 , 1272px 399px #767676 , 350px 545px #767676 , 525px 915px #767676 , 1151px 481px #767676 , 1087px 1711px #767676 , 140px 1547px #767676 , 161px 1593px #767676 , 879px 546px #767676 , 521px 1592px #767676 , 1994px 1644px #767676 , 1540px 1002px #767676 , 930px 1977px #767676 , 1637px 1989px #767676 , 1443px 795px #767676 , 606px 1864px #767676 , 439px 99px #767676 , 262px 686px #767676 , 102px 1865px #767676 , 1775px 1939px #767676 , 910px 221px #767676 , 1140px 949px #767676 , 1086px 1901px #767676 , 1394px 705px #767676 , 1634px 1035px #767676 , 1636px 356px #767676 , 1769px 52px #767676 , 1533px 1228px #767676 , 1793px 1587px #767676 , 1255px 1639px #767676 , 1986px 1761px #767676 , 524px 316px #767676 , 603px 974px #767676;
    animation: starsAnimation 100s linear infinite;
  }
  .stars > .medium:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1131px 708px #767676 , 1534px 1521px #767676 , 613px 1150px #767676 , 1410px 942px #767676 , 379px 764px #767676 , 1871px 648px #767676 , 1789px 1248px #767676 , 1737px 361px #767676 , 332px 130px #767676 , 162px 1616px #767676 , 1513px 298px #767676 , 525px 1559px #767676 , 746px 1352px #767676 , 395px 1069px #767676 , 1568px 1104px #767676 , 892px 221px #767676 , 1989px 866px #767676 , 852px 767px #767676 , 1913px 1874px #767676 , 1859px 910px #767676 , 514px 899px #767676 , 811px 1315px #767676 , 465px 1886px #767676 , 1996px 676px #767676 , 1224px 938px #767676 , 1405px 681px #767676 , 142px 799px #767676 , 1385px 1071px #767676 , 34px 1059px #767676 , 545px 878px #767676 , 156px 184px #767676 , 1290px 1010px #767676 , 1463px 154px #767676 , 1076px 1111px #767676 , 422px 1665px #767676 , 388px 633px #767676 , 959px 881px #767676 , 849px 1621px #767676 , 1492px 227px #767676 , 1032px 1470px #767676 , 1054px 1008px #767676 , 1735px 163px #767676 , 980px 1956px #767676 , 890px 1391px #767676 , 1561px 1275px #767676 , 1487px 1532px #767676 , 1159px 1292px #767676 , 1128px 1260px #767676 , 1910px 771px #767676 , 173px 1698px #767676 , 43px 959px #767676 , 826px 464px #767676 , 1993px 1166px #767676 , 1672px 454px #767676 , 609px 1011px #767676 , 1465px 1172px #767676 , 1968px 522px #767676 , 1083px 1612px #767676 , 1456px 629px #767676 , 684px 1345px #767676 , 1381px 292px #767676 , 1059px 1037px #767676 , 951px 1361px #767676 , 1765px 1922px #767676 , 1759px 1071px #767676 , 1660px 280px #767676 , 1911px 987px #767676 , 762px 1716px #767676 , 1124px 1990px #767676 , 164px 838px #767676 , 1579px 910px #767676 , 1528px 174px #767676 , 262px 1470px #767676 , 1518px 1451px #767676 , 1617px 1674px #767676 , 25px 810px #767676 , 1593px 1665px #767676 , 1411px 23px #767676 , 167px 1266px #767676 , 344px 1775px #767676 , 403px 496px #767676 , 1625px 1903px #767676 , 1066px 1386px #767676 , 641px 713px #767676 , 282px 729px #767676 , 1824px 1023px #767676 , 277px 1821px #767676 , 735px 316px #767676 , 391px 1260px #767676 , 1px 1976px #767676 , 1538px 934px #767676 , 479px 278px #767676 , 1556px 1462px #767676 , 1131px 1903px #767676 , 1965px 1462px #767676 , 1201px 736px #767676 , 415px 1234px #767676 , 1043px 1646px #767676 , 1744px 1249px #767676 , 894px 1142px #767676 , 1616px 1143px #767676 , 234px 360px #767676 , 1195px 1329px #767676 , 1290px 1451px #767676 , 185px 982px #767676 , 1122px 1176px #767676 , 959px 1701px #767676 , 1431px 61px #767676 , 381px 598px #767676 , 1653px 835px #767676 , 1929px 652px #767676 , 1587px 52px #767676 , 1655px 463px #767676 , 1019px 1648px #767676 , 709px 201px #767676 , 22px 1634px #767676 , 1433px 868px #767676 , 205px 1435px #767676 , 1219px 946px #767676 , 1016px 1484px #767676 , 1527px 1956px #767676 , 378px 239px #767676 , 7px 722px #767676 , 1452px 1335px #767676 , 1593px 609px #767676 , 703px 1801px #767676 , 1787px 162px #767676 , 1519px 925px #767676 , 1462px 807px #767676 , 1804px 454px #767676 , 173px 1680px #767676 , 1233px 1427px #767676 , 1202px 1911px #767676 , 64px 665px #767676 , 820px 255px #767676 , 1410px 1732px #767676 , 1743px 383px #767676 , 362px 910px #767676 , 195px 935px #767676 , 660px 142px #767676 , 358px 306px #767676 , 1332px 1312px #767676 , 815px 904px #767676 , 1329px 714px #767676 , 543px 1311px #767676 , 389px 1428px #767676 , 1160px 827px #767676 , 337px 412px #767676 , 1654px 1203px #767676 , 848px 898px #767676 , 1888px 889px #767676 , 1700px 45px #767676 , 1479px 921px #767676 , 463px 514px #767676 , 1597px 885px #767676 , 560px 1673px #767676 , 1603px 1867px #767676 , 537px 833px #767676 , 713px 1561px #767676 , 385px 459px #767676 , 141px 98px #767676 , 401px 1924px #767676 , 416px 1261px #767676 , 20px 1958px #767676 , 1752px 1140px #767676 , 1138px 774px #767676 , 1372px 884px #767676 , 1981px 1336px #767676 , 1272px 399px #767676 , 350px 545px #767676 , 525px 915px #767676 , 1151px 481px #767676 , 1087px 1711px #767676 , 140px 1547px #767676 , 161px 1593px #767676 , 879px 546px #767676 , 521px 1592px #767676 , 1994px 1644px #767676 , 1540px 1002px #767676 , 930px 1977px #767676 , 1637px 1989px #767676 , 1443px 795px #767676 , 606px 1864px #767676 , 439px 99px #767676 , 262px 686px #767676 , 102px 1865px #767676 , 1775px 1939px #767676 , 910px 221px #767676 , 1140px 949px #767676 , 1086px 1901px #767676 , 1394px 705px #767676 , 1634px 1035px #767676 , 1636px 356px #767676 , 1769px 52px #767676 , 1533px 1228px #767676 , 1793px 1587px #767676 , 1255px 1639px #767676 , 1986px 1761px #767676 , 524px 316px #767676 , 603px 974px #767676;
  }
  .stars > .big {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 700px 603px #767676 , 462px 130px #767676 , 934px 759px #767676 , 763px 1685px #767676 , 601px 795px #767676 , 1952px 1600px #767676 , 1356px 1380px #767676 , 1124px 657px #767676 , 503px 1257px #767676 , 1717px 1565px #767676 , 278px 447px #767676 , 1088px 877px #767676 , 535px 1730px #767676 , 1986px 424px #767676 , 855px 881px #767676 , 1830px 1521px #767676 , 722px 1921px #767676 , 354px 943px #767676 , 471px 207px #767676 , 964px 1658px #767676 , 1958px 1550px #767676 , 471px 1405px #767676 , 763px 1424px #767676 , 1230px 1629px #767676 , 966px 1482px #767676 , 1793px 1946px #767676 , 984px 1357px #767676 , 1724px 442px #767676 , 422px 1790px #767676 , 388px 334px #767676 , 1621px 1197px #767676 , 662px 1087px #767676 , 670px 1710px #767676 , 1593px 1869px #767676 , 1735px 124px #767676 , 1068px 1528px #767676 , 1755px 1616px #767676 , 329px 388px #767676 , 1802px 641px #767676 , 738px 317px #767676 , 593px 969px #767676 , 1641px 1236px #767676 , 1513px 1128px #767676 , 1639px 1097px #767676 , 1189px 400px #767676 , 555px 1147px #767676 , 1597px 457px #767676 , 1065px 469px #767676 , 347px 931px #767676 , 599px 297px #767676 , 1158px 1792px #767676 , 307px 372px #767676 , 1241px 1598px #767676 , 1334px 124px #767676 , 731px 421px #767676 , 1078px 1902px #767676 , 1305px 1690px #767676 , 929px 910px #767676 , 76px 136px #767676 , 1764px 1968px #767676 , 357px 1987px #767676 , 216px 770px #767676 , 148px 1440px #767676 , 629px 449px #767676 , 412px 1401px #767676 , 1392px 51px #767676 , 65px 1470px #767676 , 873px 990px #767676 , 404px 1315px #767676 , 634px 657px #767676 , 344px 252px #767676 , 58px 1877px #767676 , 633px 439px #767676 , 1386px 1054px #767676 , 1846px 1381px #767676 , 31px 512px #767676 , 531px 1652px #767676 , 620px 1660px #767676 , 1143px 199px #767676 , 575px 1086px #767676 , 1614px 1655px #767676 , 320px 1778px #767676 , 903px 390px #767676 , 1790px 152px #767676 , 745px 1387px #767676 , 915px 1184px #767676 , 1402px 641px #767676 , 1208px 331px #767676 , 148px 121px #767676 , 1907px 1635px #767676 , 1340px 945px #767676 , 1109px 1670px #767676 , 67px 821px #767676 , 91px 1235px #767676 , 150px 838px #767676 , 141px 1703px #767676 , 994px 1512px #767676 , 539px 1522px #767676 , 409px 1474px #767676 , 1485px 1928px #767676;
    border-radius: 100%;
    animation: starsAnimation 150s linear infinite;
  }
  .stars > .big:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 700px 603px #767676 , 462px 130px #767676 , 934px 759px #767676 , 763px 1685px #767676 , 601px 795px #767676 , 1952px 1600px #767676 , 1356px 1380px #767676 , 1124px 657px #767676 , 503px 1257px #767676 , 1717px 1565px #767676 , 278px 447px #767676 , 1088px 877px #767676 , 535px 1730px #767676 , 1986px 424px #767676 , 855px 881px #767676 , 1830px 1521px #767676 , 722px 1921px #767676 , 354px 943px #767676 , 471px 207px #767676 , 964px 1658px #767676 , 1958px 1550px #767676 , 471px 1405px #767676 , 763px 1424px #767676 , 1230px 1629px #767676 , 966px 1482px #767676 , 1793px 1946px #767676 , 984px 1357px #767676 , 1724px 442px #767676 , 422px 1790px #767676 , 388px 334px #767676 , 1621px 1197px #767676 , 662px 1087px #767676 , 670px 1710px #767676 , 1593px 1869px #767676 , 1735px 124px #767676 , 1068px 1528px #767676 , 1755px 1616px #767676 , 329px 388px #767676 , 1802px 641px #767676 , 738px 317px #767676 , 593px 969px #767676 , 1641px 1236px #767676 , 1513px 1128px #767676 , 1639px 1097px #767676 , 1189px 400px #767676 , 555px 1147px #767676 , 1597px 457px #767676 , 1065px 469px #767676 , 347px 931px #767676 , 599px 297px #767676 , 1158px 1792px #767676 , 307px 372px #767676 , 1241px 1598px #767676 , 1334px 124px #767676 , 731px 421px #767676 , 1078px 1902px #767676 , 1305px 1690px #767676 , 929px 910px #767676 , 76px 136px #767676 , 1764px 1968px #767676 , 357px 1987px #767676 , 216px 770px #767676 , 148px 1440px #767676 , 629px 449px #767676 , 412px 1401px #767676 , 1392px 51px #767676 , 65px 1470px #767676 , 873px 990px #767676 , 404px 1315px #767676 , 634px 657px #767676 , 344px 252px #767676 , 58px 1877px #767676 , 633px 439px #767676 , 1386px 1054px #767676 , 1846px 1381px #767676 , 31px 512px #767676 , 531px 1652px #767676 , 620px 1660px #767676 , 1143px 199px #767676 , 575px 1086px #767676 , 1614px 1655px #767676 , 320px 1778px #767676 , 903px 390px #767676 , 1790px 152px #767676 , 745px 1387px #767676 , 915px 1184px #767676 , 1402px 641px #767676 , 1208px 331px #767676 , 148px 121px #767676 , 1907px 1635px #767676 , 1340px 945px #767676 , 1109px 1670px #767676 , 67px 821px #767676 , 91px 1235px #767676 , 150px 838px #767676 , 141px 1703px #767676 , 994px 1512px #767676 , 539px 1522px #767676 , 409px 1474px #767676 , 1485px 1928px #767676;
    border-radius: 100%;
  }
  @keyframes starsAnimation {
    from {
      transform: translateY(-2000px);
    }
    to {
      transform: translateY(0px);
    }
  }
  #hero {
    position: relative;
    /* prevents overflow from the lines extending past the screen width */
    overflow: hidden;
    /* changes on tablet */
    padding: 0 1rem;
    padding-bottom: 6.25rem;
    font-family: "Poppins", "Arial", sans-serif;
    /* Centers button */
    text-align: center;
    background: linear-gradient(to right, #4e4376, #2b5876);
  }
  #hero:after {
    content: "";
    background: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
  #hero .pinetree {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    object-fit: cover;
    mask: url("/assets/svgs/trees-sillouette.svg") no-repeat bottom;
    -webkit-mask: url("/assets/svgs/trees-sillouette.svg") no-repeat bottom;
    /* Safari support */
    mask-size: 150vw;
    z-index: 1;
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);
    background: linear-gradient(to right, #4e4376, #2b5876);
  }
  #hero .pc-picture {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    /* Background Image */
    width: 100%;
  }
  #hero .pc-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes image act like a background-image */
    object-fit: cover;
    mask: url("/assets/svgs/trees-sillouette.svg") no-repeat center;
    mask-size: 100%;
  }
  #hero .pc-container {
    position: relative;
    margin: auto;
    max-width: 80em;
    width: 100%;
    height: 100vh;
    /* we put the padding top and bottom on the container instead of #Hero so the pseudo element lines go to the top and bottom of the section */
    /* 144px - 280px - leaving extra space for the navigation */
    /* changes on tablet */
  }
  #hero .pc-container:before {
    position: absolute;
    top: 0;
    left: 0;
    /* Left Line */
    content: "";
    opacity: 1;
    display: block;
    height: 100%;
    width: 1px;
  }
  #hero .pc-flex-group {
    padding-top: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* 60px - 220px */
    /* 464px - 562px */
    max-width: clamp(29em, 60vw, 35.125em);
    width: 80vw;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    transform: translateX(-50%) translateY(-50%);
  }
  #hero .pc-flex-group span,
  #hero .pc-flex-group h1,
  #hero .pc-flex-group p {
    animation: glitch1 8s infinite;
  }
  #hero .pc-flex-group:nth-child(2) span,
  #hero .pc-flex-group:nth-child(2) h1,
  #hero .pc-flex-group:nth-child(2) p {
    color: #67f3da;
    animation: glitch2 8s infinite;
  }
  #hero .pc-flex-group:nth-child(3) span,
  #hero .pc-flex-group:nth-child(3) h1,
  #hero .pc-flex-group:nth-child(3) p {
    color: #f16f6f;
    animation: glitch3 8s infinite;
  }
  #hero .pc-topper {
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
  }
  #hero .pc-title {
    width: 100%;
    color: #fff;
    text-align: center;
  }
  #hero .pc-text {
    /* 32px - 40px */
    margin: 0 auto clamp(2rem, 4vw, 2.5rem) 0;
    /* 40px - 48px */
    margin-bottom: clamp(2.5rem, 4vw, 3rem);
    color: #fff;
    text-align: center;
  }
  #hero .pc-button-solid {
    margin-bottom: 1rem;
    height: initial;
    line-height: clamp(2.875em, 5.5vw, 3.5em);
  }
  #hero .pc-button-transparent {
    z-index: 1;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--bodyTextColorWhite);
    margin: 0 0.5rem;
    background-color: transparent;
    /* 46px - 56px */
    height: clamp(2.875em, 5.5vw, 3.5em);
    width: 11.25rem;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    font-weight: 700;
    color: #fff;
  }
  #hero .pc-button-transparent .pc-img {
    display: block;
    margin-right: 0.75rem;
  }
  #hero .pc-button-transparent:before {
    z-index: -1;
    position: absolute;
    /* so it sits on top of the border */
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    content: "";
    opacity: 1;
    /* this is what creates the grow affect on hover */
    transform: scaleX(0);
    display: block;
    background: #000;
    transition: transform 0.3s;
    transform-origin: left;
  }
  #hero .pc-button-transparent:hover:before {
    transform: scaleX(1);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #hero {
    /* 32px - 40px */
    padding: 0 clamp(2em, 5vw, 2.5em);
  }
  #hero:after {
    content: "";
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
  #hero .pc-container:after {
    position: absolute;
    top: 0;
    right: 0;
    /* Right Line */
    content: "";
    opacity: 1;
    display: block;
    height: 100%;
    width: 1px;
  }
  #hero .pinetree {
    mask-size: 1200px;
  }
  #hero .pc-flex-group {
    padding-top: 10.625em;
  }
  #hero .pc-flex-group .pc-topper {
    color: #fff;
  }
  #hero .pc-flex-group .pc-title {
    color: #fff;
  }
  #hero .pc-flex-group .pc-text {
    color: #fff;
  }
  #hero .pc-flex-group .pc-button-solid {
    margin-right: 1.25rem;
    margin-bottom: 0;
  }
}
/* Desktop Parallax Effect - 1300px */
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #hero {
    background: linear-gradient(to right, #0a0f1a, #000814);
  }
  body.dark-mode #hero .pinetree {
    background: linear-gradient(to right, #0a0f1a, #000814);
  }
}
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0rem) {
  .services {
    z-index: 100;
    position: relative;
    margin: auto;
    max-width: 82.5em;
    width: 90%;
  }
  .services .pc-flex-group {
    padding: var(--sectionPadding);
    text-align: -webkit-center;
  }
  .services .card-stack:not(:last-child) {
    margin-bottom: 3.125em;
  }
  .services .card-stack .card {
    display: block;
    margin: auto;
    margin-bottom: 3.125em;
    max-width: 22.3125em;
    min-width: 3.125em;
    width: 100%;
    background: white;
    padding: 3.125em 1.25em;
    border-radius: 15px;
    /* border: 0.375em solid var(--primary); */
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease;
  }
  .services .card-stack .card:hover {
    transform: scale(1.05);
    transform: translateY(-5px);
  }
  .services .card-stack .card picture {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 1.4375em;
    background: var(--primary);
    height: 5.5em;
    width: 5.5em;
  }
  .services .card-stack .card picture img {
    height: 3em;
    width: 3em;
  }
  .services .card-stack .card h2 {
    margin-bottom: 0.65em;
    font-size: 2em;
    line-height: 1.35em;
    font-weight: 700;
    color: #1a1a1a;
    text-align: center;
  }
  .services .card-stack .card p {
    opacity: 0.7;
    width: 100%;
    line-height: 1.3333333333em;
    text-align: center;
  }
}
/* Inbetween */
@media only screen and (min-width: 768px) {
  .services {
    display: flex;
    flex-direction: column;
    width: 98%;
    font-size: min(1.8vw, 1em);
  }
  .services .card-stack {
    display: flex;
    justify-content: space-evenly;
  }
  .services .card-stack .card {
    margin: 0.65em;
  }
}
/* Large Desktop */
@media only screen and (min-width: 1300px) {
  .services {
    padding: 3.125em 5em;
  }
  .services .pc-flex-group {
    padding-bottom: 0;
  }
  .services .pc-flex-group .pc-text {
    margin: 0 auto 1rem auto;
    padding: 0;
  }
  .services .card-stack .card {
    max-width: 22.3125em;
  }
}
/* Dark mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #services .pc-flex-group .pc-topper {
    color: var(--primaryLight);
  }
  body.dark-mode #services .card {
    background: var(--medium);
    box-shadow: 0px 20px 40px rgba(255, 255, 255, 0.1);
  }
  body.dark-mode #services picture {
    background: var(--primaryDark);
    border: 1px solid white;
  }
  body.dark-mode #services h2 {
    font-weight: bold;
    color: #fff;
  }
}

/*# sourceMappingURL=critical.css.map */
