/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  .sbs {
    padding: var(--sectionPadding);
  }
  .sbs .pc-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 80rem;
    width: 100%;
    row-gap: 2.5rem;
  }
  .sbs .pc-left {
    position: relative;
    height: 39.75em;
    /* using ems so we can use font size to scale the whole section */
    width: 39.4375em;
    /* scaling the font size with the view width */
    font-size: min(2.31vw, 0.7em);
  }
  .sbs .pc-picture {
    position: absolute;
    display: block;
    border-radius: 1.5em;
    height: 100%;
    width: 100%;
    /* clips img tag corners */
    overflow: hidden;
  }
  .sbs .pc-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes image act like a background image */
    object-fit: cover;
  }
  .sbs .pc-picture1 {
    top: 0;
    left: 0;
    height: 36.3125em;
    width: 32.625em;
  }
  .sbs .pc-picture2 {
    bottom: 0;
    right: 0;
    /* 6px - 12px */
    border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
    background-color: #fff;
    height: 25em;
    width: 25.875em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
  }
  .sbs .pc-right {
    margin: auto;
    max-width: 33.875rem;
  }
  .sbs .pc-topper {
    margin-bottom: 0.25rem;
    text-align: left;
  }
  .sbs .pc-title {
    max-width: 50rem;
    text-align: left;
  }
  .sbs .pc-text {
    margin-bottom: 1rem;
    max-width: 46.875rem;
    text-align: left;
  }
  .sbs .pc-text:last-of-type {
    margin-bottom: 2rem;
  }
  .sbs .pc-flex-group {
    position: relative;
    border-radius: 1rem;
    background-color: #f7f7f7;
    /* 16px - 32px */
    padding: clamp(1rem, 3vw, 2rem);
  }
  .sbs .pc-flex-p {
    margin: 0 0 1rem;
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    color: #353535;
  }
  .sbs .pc-name {
    display: block;
    margin: 0 0 0.25rem;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1.2em;
    font-weight: bold;
    color: var(--headerColor);
  }
  .sbs .pc-job {
    display: block;
    font-size: 0.875rem;
    line-height: 1.5em;
    color: #353535;
  }
  .sbs .pc-quote-icon {
    position: absolute;
    bottom: 0rem;
    /* 16px - 32px */
    right: clamp(1rem, 4vw, 2rem);
    height: auto;
    /* 60px - 136px */
    width: clamp(3.75rem, 10vw, 8.5rem);
  }
  .sbs .pc-button-solid {
    margin-top: 2rem;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  .sbs .pc-container {
    flex-flow: row;
    justify-content: space-between;
    gap: 3.25rem;
  }
  .sbs .pc-left {
    font-size: min(1.2vw, 1em);
    flex: none;
  }
  .sbs .pc-right {
    margin: 0;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode .sbs .pc-left:before, body.dark-mode .sbs .pc-left:after {
    background: var(--accent);
  }
  body.dark-mode .sbs .pc-picture2 {
    /* 6px - 12px */
    border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
    background-color: var(--dark);
  }
  body.dark-mode .sbs .pc-topper {
    color: var(--primaryLight);
  }
  body.dark-mode .sbs .pc-title,
  body.dark-mode .sbs .pc-text,
  body.dark-mode .sbs .pc-h3,
  body.dark-mode .sbs .pc-flex-p,
  body.dark-mode .sbs .pc-name {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode .sbs .pc-flex-group {
    background-color: var(--accent);
  }
  body.dark-mode .sbs .pc-job {
    opacity: 0.8;
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode .sbs .pc-quote-icon {
    opacity: 0.2;
  }
}
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-r {
    padding: var(--sectionPadding);
  }
  #sbs-r .pc-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 80rem;
    width: 100%;
    row-gap: 2.5rem;
  }
  #sbs-r .pc-left {
    /* sends it to the right */
    position: relative;
    height: 40.625em;
    /* using ems so we can use font size to scale the whole section */
    width: 39.4375em;
    /* scaling the font size with the view width */
    font-size: min(2.31vw, 0.7em);
    order: 2;
    z-index: 10;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 39.375rem;
    width: 100%;
    text-align: left;
    gap: clamp(2rem, 4vw, 3rem);
    margin: auto;
  }
  #sbs-r .pc-left .pc-stats {
    display: flex;
    grid-template-columns: repeat(12, 1fr);
    justify-content: space-between;
    margin: 0;
    max-width: 39.375rem;
    width: 100%;
    padding: 0;
    row-gap: 1.5rem;
    column-gap: clamp(1.5rem, 4vw, 4.5vw);
  }
  #sbs-r .pc-left .pc-stats .pc-stat {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    grid-column: span 4;
    align-self: stretch;
  }
  #sbs-r .pc-left .pc-stats .pc-stat .pc-number {
    font-family: var(--headerFont);
    display: block;
    margin: 0 0 0.25rem 0;
    font-size: clamp(2.4375rem, 5vw, 3.8125rem);
    line-height: 1.2em;
    font-weight: 900;
    color: var(--primaryLight);
    text-align: left;
  }
  #sbs-r .pc-left .pc-stats .pc-stat .pc-desc {
    margin: 0;
    font-size: clamp(0.875rem, 1.6vw, 1.25rem);
    line-height: 1.5em;
    color: var(--bodyTextColor);
    text-align: left;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    grid-column: span 4;
    align-self: stretch;
  }
  #sbs-r .pc-left .pc-picture {
    z-index: 1;
    position: relative;
    display: block;
    border-radius: 1rem;
    overflow: hidden;
    height: 28.8125rem;
    width: 100%;
  }
  #sbs-r .pc-picture {
    display: block;
    /* clips img tag corners */
    overflow: hidden;
  }
  #sbs-r .pc-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 1.5em;
    /* makes image act like a background image */
    object-fit: cover;
  }
  #sbs-r .pc-picture1 {
    top: 0;
    right: 0;
    height: 36.3125em;
    width: 32.625em;
  }
  #sbs-r .pc-picture2 {
    bottom: 0;
    left: 0;
    /* 6px - 12px */
    border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
    background-color: #fff;
    height: 25em;
    width: 25.875em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
  }
  #sbs-r .pc-right {
    margin: auto;
    max-width: 33.875rem;
    text-align: center;
  }
  #sbs-r .pc-topper {
    margin-bottom: 0.25rem;
    text-align: center;
  }
  #sbs-r .pc-title {
    max-width: 50rem;
    text-align: center;
  }
  #sbs-r .pc-text {
    margin-bottom: 1rem;
    max-width: 46.875rem;
    text-align: left;
  }
  #sbs-r .pc-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-r .pc-button-solid {
    margin: auto;
  }
  #sbs-r .pc-flex-group {
    position: relative;
    border-radius: 1rem;
    background-color: #f7f7f7;
    /* 16px - 32px */
    padding: clamp(1rem, 3vw, 2rem);
  }
  #sbs-r .pc-flex-p {
    margin: 0 0 1rem;
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    color: #353535;
  }
  #sbs-r .pc-name {
    display: block;
    margin: 0 0 0.25rem;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1.2em;
    font-weight: bold;
    color: var(--headerColor);
  }
  #sbs-r .pc-job {
    display: block;
    font-size: 0.875rem;
    line-height: 1.5em;
    color: #353535;
  }
  #sbs-r .pc-quote-icon {
    position: absolute;
    bottom: 0rem;
    /* 16px - 32px */
    right: clamp(1rem, 4vw, 2rem);
    height: auto;
    /* 60px - 136px */
    width: clamp(3.75rem, 10vw, 8.5rem);
  }
}
@media only screen and (min-width: 48rem) {
  #sbs-r .pc-container {
    flex-direction: row;
    gap: clamp(2rem, 4vw, 3rem);
  }
  #sbs-r .pc-container .pc-topper {
    text-align: left;
  }
  #sbs-r .pc-container .pc-title {
    max-width: 50rem;
    text-align: left;
  }
  #sbs-r .pc-container .pc-text {
    text-align: left;
  }
  #sbs-r .pc-container .pc-button-solid {
    margin: 0;
  }
  #sbs-r .pc-container .pc-right {
    text-align: left;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-r .pc-container {
    flex-flow: row;
    justify-content: space-between;
    gap: 3.25rem;
  }
  #sbs-r .pc-left {
    /* sends it to the right */
    order: 2;
    font-size: min(1.2vw, 1em);
    z-index: 10;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 39.375rem;
    width: 100%;
    text-align: left;
    gap: clamp(2rem, 4vw, 3rem);
  }
  #sbs-r .pc-left .pc-stats {
    display: flex;
    grid-template-columns: repeat(12, 1fr);
    justify-content: space-between;
    margin: 0;
    max-width: 39.375rem;
    width: 100%;
    padding: 0;
    row-gap: 1.5rem;
    column-gap: clamp(1.5rem, 4vw, 4.5vw);
  }
  #sbs-r .pc-left .pc-stats .pc-stat {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    grid-column: span 4;
    align-self: stretch;
  }
  #sbs-r .pc-left .pc-stats .pc-stat .pc-number {
    font-family: var(--headerFont);
    display: block;
    margin: 0 0 0.25rem 0;
    font-size: clamp(2.4375rem, 5vw, 3.8125rem);
    line-height: 1.2em;
    font-weight: 900;
    color: var(--primaryLight);
    text-align: left;
  }
  #sbs-r .pc-left .pc-stats .pc-stat .pc-desc {
    margin: 0;
    font-size: clamp(0.875rem, 1.6vw, 1.25rem);
    line-height: 1.5em;
    color: var(--bodyTextColor);
    text-align: left;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    grid-column: span 4;
    align-self: stretch;
  }
  #sbs-r .pc-left .pc-picture {
    z-index: 1;
    position: relative;
    display: block;
    border-radius: 1rem;
    overflow: hidden;
    height: 28.8125rem;
    width: 100%;
  }
  #sbs-r .pc-right {
    margin: 0;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #sbs-r .pc-left .pc-stats .pc-stat .pc-desc {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs-r .pc-left:before, body.dark-mode #sbs-r .pc-left:after {
    background: var(--accent);
  }
  body.dark-mode #sbs-r .pc-picture2 {
    /* 6px - 12px */
    border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
    background-color: var(--dark);
  }
  body.dark-mode #sbs-r .pc-topper {
    color: var(--primaryLight);
  }
  body.dark-mode #sbs-r .pc-title,
  body.dark-mode #sbs-r .pc-text,
  body.dark-mode #sbs-r .pc-h3,
  body.dark-mode #sbs-r .pc-flex-p,
  body.dark-mode #sbs-r .pc-name {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs-r .pc-flex-group {
    background-color: var(--accent);
  }
  body.dark-mode #sbs-r .pc-job {
    opacity: 0.8;
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs-r .pc-quote-icon {
    opacity: 0.2;
  }
}
/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/
/* Mobile - 360px - Contains hover animation */
@media only screen and (min-width: 0rem) {
  #gallery {
    position: relative;
    /* Prevents overflow from the image going off screen */
    overflow: hidden;
    padding: var(--sectionPadding);
    /* Centers button */
    text-align: center;
  }
  #gallery .pc-container {
    margin: auto;
    max-width: 82.625em;
    width: 100%;
  }
  #gallery .pc-topper {
    margin-bottom: 1rem;
    text-align: center;
  }
  #gallery .pc-title {
    margin-bottom: 2.5rem;
    max-width: 38.8125rem;
    text-align: center;
  }
  #gallery .pc-image-group {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto 3.75rem;
    max-width: 82.625em;
    width: 100%;
    padding: 0;
    /* used rem so it doesn't scale with the font size of on parent */
    font-size: min(1.1vw, 1em);
    gap: 1.875em;
  }
  #gallery .pc-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.875em;
  }
  #gallery .pc-picture {
    position: relative;
    display: block;
  }
  #gallery .pc-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #gallery .pc-row-1 .pc-picture1 {
    height: 35.4375em;
    width: 26.25em;
  }
  #gallery .pc-row-1 .pc-picture2 {
    height: 39.3125em;
    width: 26.25em;
  }
  #gallery .pc-row-1 .pc-picture3 {
    height: 32em;
    width: 26.25em;
  }
  #gallery .pc-row-2 .pc-picture1 {
    height: 30.75em;
    width: 26.25em;
  }
  #gallery .pc-row-2 .pc-picture2 {
    height: 32.3125em;
    width: 26.25em;
  }
  #gallery .pc-row-2 .pc-picture3 {
    height: 39.3125em;
    width: 26.25em;
  }
  #gallery .pc-row-3 .pc-picture1 {
    height: 39.0625em;
    width: 26.25em;
  }
  #gallery .pc-row-3 .pc-picture2 {
    height: 28.25em;
    width: 26.25em;
  }
  #gallery .pc-row-3 .pc-picture3 {
    height: 39.3125em;
    width: 26.25em;
  }
}
/* Dark mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #gallery .pc-title {
    color: var(--bodyTextColorWhite);
  }
}
/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #reviews {
    padding: var(--sectionPadding);
    /* Centers the button */
    text-align: center;
  }
  #reviews .pc-container {
    margin: auto;
    max-width: 69rem;
    width: 100%;
  }
  #reviews .pc-topper {
    margin-bottom: 1rem;
    text-align: center;
  }
  #reviews .pc-title {
    max-width: 43.75rem;
    text-align: center;
  }
  #reviews .pc-text {
    /* 88px - 104px */
    margin-bottom: clamp(5.5em, 10.2vw, 6.5em);
    max-width: 40.625rem;
    text-align: center;
  }
  #reviews .pc-card-group {
    /* 48px - 64px */
    margin: 0 auto clamp(3rem, 5vw, 4rem);
    padding: 0;
  }
  #reviews .pc-item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.25rem;
    margin: 0 auto 4rem;
    background: #fff;
    max-width: 33.875rem;
    width: 100%;
    /* Prevents padding from affecting height & width */
    box-sizing: border-box;
    /* Padding L & R - 16px - 32px */
    padding: 3.75rem clamp(1rem, 3.2vw, 2rem) 0;
    /* 32px - 40px */
    padding-bottom: clamp(2rem, 5.4vw, 2.5rem);
    list-style: none;
    text-align: left;
    box-shadow: 0px 20px 39px 0px rgba(0, 0, 0, 0.05);
  }
  #reviews .pc-item:last-of-type {
    margin-bottom: 0;
  }
  #reviews .pc-item-img {
    position: absolute;
    top: -2.5rem;
    height: 5rem;
    width: 5rem;
  }
  #reviews .pc-item-p {
    border-bottom: 1px solid #e8e9ec;
    margin: 0 0 1.25rem;
    padding-bottom: 1.25rem;
    font-size: 1rem;
    line-height: 1.5em;
    color: var(--bodyTextColor);
  }
  #reviews .pc-reviewer {
    display: block;
    margin: 0 auto 0 0;
    width: 40%;
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 700;
    color: var(--headerColor);
  }
  #reviews .pc-desc {
    display: block;
    font-size: 0.875rem;
    font-weight: 400;
    color: var(#353535);
  }
  #reviews .pc-item-stars {
    height: 1rem;
    width: 6rem;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #reviews .pc-card-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  #reviews .pc-item {
    /* reset margin so it won't interfere with flexbox */
    margin: 0;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #reviews .pc-title,
  body.dark-mode #reviews .pc-text,
  body.dark-mode #reviews .pc-item-p,
  body.dark-mode #reviews .pc-reviewer {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #reviews .pc-item {
    background: var(--medium);
  }
  body.dark-mode #reviews .pc-desc {
    color: var(--primaryLight);
  }
}
/*-- -------------------------- -->
<---          portfolio           -->
<--- -------------------------- -*/
.portfolio {
  padding: 4rem 2rem;
  text-align: center;
}
.portfolio__container {
  align-items: center;
  margin: auto;
  max-width: 80rem;
  width: 100%;
}
.portfolio__title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 1rem;
}
.portfolio__subtitle {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 3rem;
}
.portfolio__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}
.portfolio__item {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.portfolio__item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.1);
}
.portfolio__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.portfolio__info {
  padding: 1.5rem;
}
.portfolio__project-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #222;
}
.portfolio__link {
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #5a9367;
  transition: color 0.3s ease;
}
.portfolio__link:hover {
  color: #477351;
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode .portfolio .pc-topper {
    color: var(--primary);
  }
  body.dark-mode .portfolio__item {
    background: var(--medium);
  }
  body.dark-mode .portfolio .pc-title,
  body.dark-mode .portfolio .pc-text,
  body.dark-mode .portfolio .pc-item-p,
  body.dark-mode .portfolio .pc-reviewer {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode .portfolio .pc-item {
    background: var(--medium);
  }
  body.dark-mode .portfolio .pc-desc {
    color: var(--primaryLight);
  }
}
/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  @keyframes floatAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-2rem);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes floatAnimation2 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-3rem);
    }
    100% {
      transform: translateY(0);
    }
  }
  #sbsr-1363 {
    padding: var(--sectionPadding);
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  #sbsr-1363 .pc-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbsr-1363 .pc-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 39.375rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbsr-1363 .pc-topper {
    margin: auto;
  }
  #sbsr-1363 .pc-title {
    /* 23 characters wide including spaces */
    max-width: 26ch;
    text-align: center;
  }
  #sbsr-1363 .pc-text {
    margin-bottom: 1rem;
    text-align: center;
  }
  #sbsr-1363 .pc-text:last-of-type {
    margin-bottom: 1.5rem;
  }
  #sbsr-1363 .pc-button-solid {
    margin: auto;
  }
  #sbsr-1363 .pc-card-group {
    width: 100%;
    max-width: 39.375rem;
    margin: 0 0 1.5rem 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15.265rem, 1fr));
    align-items: center;
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #sbsr-1363 .pc-item {
    list-style: none;
    /* 16px - 24px */
    padding: clamp(1rem, 3vw, 1.5rem);
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    background-color: #f7f7f7;
    border-radius: 1rem;
    border: 1px solid #e8e8e8;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
    height: 100%;
  }
  #sbsr-1363 .pc-h3 {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    color: var(--headerColor);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
  }
  #sbsr-1363 .pc-h3-icon {
    width: 2rem;
    height: auto;
    display: block;
  }
  #sbsr-1363 .pc-item-text {
    font-size: 0.875rem;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #sbsr-1363 .pc-ul {
    width: 100%;
    margin: 0 0 1.5rem 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
  }
  #sbsr-1363 .pc-li {
    font-size: var(--bodyFontSize);
    list-style: none;
    line-height: 1.5em;
    width: 100%;
    color: var(--bodyTextColor);
    display: flex;
    justify-content: flex-start;
    /* push icon top the top so if the list item goes to two lines the icon stays at the top */
    align-items: flex-start;
    gap: 0.5rem;
  }
  #sbsr-1363 .pc-icon {
    width: 1.5rem;
    height: auto;
    /* adds extra space between the icon and top of parent so it's more centered */
    margin-top: 1px;
    display: block;
  }
  #sbsr-1363 .pc-image-group {
    width: 100%;
    max-width: 36.625rem;
    /* Changes to auto at desktop */
    height: 32.5rem;
    /* 32px - 48px */
    border-radius: clamp(2rem, 4vw, 3rem);
    /* clips the corners of the children around the border radius */
    overflow: hidden;
    position: relative;
  }
  #sbsr-1363 .pc-background:nth-child(1) {
    display: none;
  }
  #sbsr-1363 .pc-background {
    width: 100%;
    height: 100%;
    /* makes it cover the parent dimensions */
    object-fit: cover;
    display: block;
  }
  #sbsr-1363 .pc-background img {
    width: 100%;
    height: 100%;
    /* makes it cover the parent like a backgorund image */
    object-fit: cover;
    display: block;
  }
  #sbsr-1363 .pc-box {
    text-align: left;
    width: 100%;
    max-width: 19rem;
    padding: 2rem;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    background-color: var(--primary);
    /* 48px - 80px */
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    position: absolute;
    /* 12px - 20px */
    right: clamp(0.75rem, 1.9vw, 1.5rem);
    /* 12px - 20px */
    bottom: clamp(0.75rem, 1.9vw, 1.5rem);
  }
  #sbsr-1363 .pc-box-icon {
    width: 8.75rem;
    height: auto;
    display: block;
  }
  #sbsr-1363 .pc-desc {
    font-size: 1.25rem;
    line-height: 1.2em;
    text-align: inherit;
    font-weight: 700;
    width: 100%;
    margin: 0;
    color: var(--bodyTextColorWhite);
  }
  #sbsr-1363 .pc-glow {
    font-size: min(2.5vw, 0.7em);
    width: 26.1875em;
    height: 26.6875em;
    position: absolute;
    /* Reset at larger desktop */
    right: -16.25em;
    /* chnages to 30px at desktop */
    bottom: 50%;
    z-index: -1;
  }
  #sbsr-1363 .pc-glow:before {
    /* white border bubble */
    content: "";
    width: 20.625em;
    height: 20.625em;
    background: radial-gradient(circle, var(--primary) 40%, rgba(90, 147, 103, 0.8) 70%);
    box-shadow: 0 0 15px rgba(90, 147, 103, 0.8), 0 0 30px rgba(90, 147, 103, 0.6), 0 0 60px rgba(90, 147, 103, 0.4); /* Glowing effect */
    border-radius: 50%;
    opacity: 0.7;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    animation-name: floatAnimation;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  #sbsr-1363 .pc-glow:after {
    /* orange bubble */
    content: "";
    width: 16.25em;
    height: 16.25em;
    background: radial-gradient(circle, var(--primaryLight) 40%, rgba(90, 147, 103, 0.8) 70%);
    box-shadow: 0 0 15px rgba(90, 147, 103, 0.8), 0 0 30px rgba(90, 147, 103, 0.6), 0 0 60px rgba(90, 147, 103, 0.4); /* Glowing effect */
    opacity: 0.15;
    border-radius: 50%;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    animation-name: floatAnimation2;
    animation-duration: 14s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbsr-1363 .pc-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  #sbsr-1363 .pc-background:nth-child(1) {
    display: block;
  }
  #sbsr-1363 .pc-background {
    height: 50%;
  }
  #sbsr-1363 .pc-image-group {
    /* sends it to the right in the 2nd position */
    order: 2;
    height: auto;
  }
  #sbsr-1363 .pc-glow {
    font-size: min(2.5vw, 1em);
    bottom: 0rem;
    right: -6.25rem;
  }
  #sbsr-1363 .pc-topper {
    margin: 0;
  }
  #sbsr-1363 .pc-title {
    /* 23 characters wide including spaces */
    text-align: left;
  }
  #sbsr-1363 .pc-text {
    text-align: left;
  }
  #sbsr-1363 .pc-button-solid {
    margin: 0;
  }
}
/* Large Desktop 1600px */
@media only screen and (min-width: 100rem) {
  #sbsr-1363 .pc-glow {
    margin-right: 46.875rem;
    left: auto;
    right: 50%;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #sbsr-1363 .pc-topper {
    color: var(--primary);
  }
  body.dark-mode #sbsr-1363 .pc-title,
  body.dark-mode #sbsr-1363 .pc-text,
  body.dark-mode #sbsr-1363 .pc-li,
  body.dark-mode #sbsr-1363 .pc-item-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbsr-1363 .pc-text,
  body.dark-mode #sbsr-1363 .pc-li,
  body.dark-mode #sbsr-1363 .pc-item-text {
    opacity: 0.8;
  }
  body.dark-mode #sbsr-1363 .pc-item {
    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgba(255, 255, 255, 0.2);
  }
  body.dark-mode #sbsr-1363 .pc-h3 {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbsr-1363 .pc-icon {
    filter: grayscale(1) brightness(1000%);
  }
  body.dark-mode #sbsr-1363 .pc-glow:before {
    border-color: rgba(255, 255, 255, 0.2);
  }
}
/* Mobile - 360px */
/* you can copy and paste these styles into the section CSS where you placed the #list-1165 HTML, or you can place it in your global stylesheet so you can reuse the HTML in any Side By Side section on your site. That way when you make changes to it, it will also change everywhere in the site */
@media only screen and (min-width: 0rem) {
  #list-1165 {
    max-width: 39.375rem;
    margin: 0 0 2rem 0;
    padding: 0;
    /* clips the bullets to create the half circle */
    overflow: hidden;
  }
  #list-1165 .cs-li {
    list-style: none;
    margin: 0 0 0.5rem 0;
    color: var(--bodyTextColor);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.75rem;
    position: relative;
  }
  #list-1165 .cs-li:before {
    /* bullet */
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    margin-top: 0.5rem;
    background: var(--secondary);
    display: block;
    /* prevents flexbox from squishing it */
    flex: none;
  }
}
/* Dark Mode, copy and paste only the styles inside the #list-1165 brackets into your section's dark mode media query */
@media only screen and (min-width: 0rem) {
  body.dark-mode #list-1165 .cs-li {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #list-1165 .cs-li {
    opacity: 0.8;
  }
}

/*# sourceMappingURL=local.css.map */
