---
title: "Perfect Websites | Pinecode Creations | Spokane, WA"
description: "Meta description for the page"
preloadImg: "/assets/svgs/PinecodeCreations Color.svg"
permalink: "/"
tags: "sitemap" # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
    key: Home
    order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/local.css" />
<link rel="stylesheet" href="/assets/css/critical.css" />


<!-- Script for Netlify Identity -->
<script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script defer>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

<!-- JSON Schema Markup -->
<!-- prettier-ignore-start -->
<script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>

<script defer src="/assets/js/firefly.js"></script>
<!-- prettier-ignore-end -->
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero">
  <div class="cs-container">
    <div class="cs-flex-group">
      <span class="cs-topper">Custom-designed, hand-coded websites that align with your goals</span>
      <h1 class="cs-title">
        Small Business Web Design & Development
      </h1>
      <p class="cs-text">
        Stand out with a tailor-made website designed for speed, SEO, and seamless user experience. No templates—just
        handcrafted designs built to fit your brand perfectly.
      </p>
      <a href="/about" class="cs-button-solid">Explore More</a>
      <!-- <a href="/contact" class="cs-button-transparent">
        <img class="cs-img" loading="lazy" decoding="async"
          src="https://csimg.nyc3.digitaloceanspaces.com/Hero/play.svg" alt="play icon" width="17" height="17" />
        Get in Touch
      </a> -->
    </div>
  </div>
  <canvas id="canvas"></canvas>


  <!-- Background Image -->
  <!-- <picture class="cs-picture">
            <source
                media="(max-width: 600px)"
                srcset="/assets/images/landing-m.webp"
            />
            <source
                media="(min-width: 601px)"
                srcset="/assets/images/landing.jpg"
            />
            <img
                aria-hidden="true"
                decoding="async"
                src="/assets/images/landing.jpg"
                alt="new home"
                width="2500"
                height="1667"
                loading="eager"
            />
        </picture> -->

</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services" class="services">
  <!-- Get Icons From flaticon.com -->
  <div class="card-stack">
    <div class="card">
      <picture>
        <img aria-hidden="true" decoding="async" src="/assets/svgs/pagespeed.svg" alt="appliance" width="48"
          height="48" />
      </picture>
      <h2>Page Speed Optimization</h2>
      <p>
        Improve load times for better rankings & user experience
      </p>
    </div>
    <div class="card">
      <picture>
        <img aria-hidden="true" decoding="async" src="/assets/svgs/mobilephone.svg" alt="appliance" width="48"
          height="48" />
      </picture>
      <h2>Mobile-First & Fully Responsive Design</h2>
      <p>
        Ensure your site looks great on any device
      </p>
    </div>
    <div class="card">
      <picture>
        <img aria-hidden="true" decoding="async" src="/assets/svgs/wrench.svg" alt="appliance" width="48" height="48" />
      </picture>
      <h2>Website Maintenance & Support</h2>
      <p>
        Keep your site updated, secure, and running smoothly
      </p>
    </div>

  </div>
  <div class="card-stack">
    <div class="card">
      <picture>
        <img aria-hidden="true" decoding="async" src="/assets/svgs/webpage.svg" alt="appliance" width="48"
          height="48" />
      </picture>
      <h2>Custom Website Development & Design</h2>
      <p>
        Build tailored websites that fir your business needs
      </p>
    </div>
    <div class="card">
      <picture>
        <img aria-hidden="true" decoding="async" src="/assets/svgs/report.svg" alt="appliance" width="48" height="48" />
      </picture>
      <h2>SEO Audits & Reporting</h2>
      <p>
        Identify issues and track ranking improvements
      </p>
    </div>
    <div class="card">
      <picture>
        <img aria-hidden="true" decoding="async" src="/assets/svgs/arts.svg" alt="appliance" width="48" height="48" />
      </picture>
      <h2>Website Redesign & Performance Enhancements</h2>
      <p>
        Modernize and optimize your site
      </p>
    </div>
  </div>




</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs">
  <div class="cs-container">
    <!-- Left Image Section -->
    <div class="cs-left">
      <picture class="cs-picture">
        <source media="(max-width: 600px)" srcset="/assets/images/Dallin-Headshot-scaled.jpg" />
        <source media="(min-width: 601px)" srcset="/assets/images/Dallin-Headshot-scaled.jpg" />
        <img aria-hidden="true" decoding="async" src="/assets/images/Dallin-Headshot-scaled.jpg" alt="cabinets"
          loading="lazy" width="400" height="563" />
      </picture>
    </div>
    <!-- Right Content Section-->
    <div class="cs-right">
      <span class="cs-topper">About Us</span>
      <h2 class="cs-title">PineCode Creations</h2>
      <p class="cs-text">
        At Pinecode Creations, we build custom, high-quality websites to help small businesses grow. Based in Spokane, we serve clients everywhere, creating websites that boost visibility, attract customers, and drive results. Our expertise in web development, SEO, and responsive design ensures every site is both stunning and search-optimized.      </p>
      <p class="cs-text">
        A strong online presence is key to success, and we’re here to make it happen. From custom design to ongoing support, analytics, and SEO, we provide everything needed to increase traffic and grow your business. Whether launching a new brand or upgrading your site, Pinecode Creations is ready to help.      </p>
      <div class="cs-flex-group">
        <p class="cs-flex-p">
          I believe a strong online presence is the foundation of a successful business in today’s world. At Pinecode Creations, we craft custom websites that not only look great but also help businesses grow, connect, and thrive.
        </p>
        <span class="cs-name">Dallin Bise</span>
        <span class="cs-job">CEO-Founder</span>
        <!-- <img class="cs-quote-icon" loading="lazy" decoding="async"
          src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136"
          height="77" /> -->
      </div>
      <a href="/about" class="cs-button-solid">More About Us</a>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--            Extra Content To Rank             -->
<!-- ============================================ -->


<!-- Look at template to get this back -->

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<!-- Look at template to get this back -->

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<!-- Look at template to get this back -->


{% include 'components/cta.html' %}
{% endblock %}
