/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    .sbs {
        padding: var(--sectionPadding);

        .pc-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: auto;
            max-width: calc(1280 / 16 * 1rem);
            width: 100%;
            row-gap: calc(40 / 16 * 1rem);
        }

        .pc-left {
            position: relative;
            height: calc(636 / 16 * 1em);
            /* using ems so we can use font size to scale the whole section */
            width: calc(631 / 16 * 1em);
            /* scaling the font size with the view width */
            font-size: min(2.31vw, 0.7em);
        }

        .pc-picture {
            position: absolute;
            display: block;
            border-radius: calc(24 / 16 * 1em);
            height: 100%;
            width: 100%;
            /* clips img tag corners */
            overflow: hidden;
            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes image act like a background image */
                object-fit: cover;
            }
        }

        .pc-picture1 {
            top: 0;
            left: 0;
            height: calc(581 / 16 * 1em);
            width: calc(522 / 16 * 1em);
        }

        .pc-picture2 {
            bottom: 0;
            right: 0;
            /* 6px - 12px */
            border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
            background-color: #fff;
            height: calc(400 / 16 * 1em);
            width: calc(414 / 16 * 1em);
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
        }

        .pc-right {
            margin: auto;
            max-width: calc(542 / 16 * 1rem);
        }

        .pc-topper {
            margin-bottom: calc(4 / 16 * 1rem);
            text-align: left;
        }

        .pc-title {
            max-width: calc(800 / 16 * 1rem);
            text-align: left;
        }

        .pc-text {
            margin-bottom: calc(16 / 16 * 1rem);
            max-width: calc(750 / 16 * 1rem);
            text-align: left;

            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .pc-flex-group {
            position: relative;
            border-radius: calc(16 / 16 * 1rem);
            background-color: #f7f7f7;
            /* 16px - 32px */
            padding: clamp(1rem, 3vw, 2rem);
        }

        .pc-flex-p {
            margin: 0 0 calc(16 / 16 * 1rem);
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            color: #353535;
        }

        .pc-name {
            display: block;
            margin: 0 0 calc(4 / 16 * 1rem);
            text-transform: uppercase;
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.2em;
            font-weight: bold;
            color: var(--headerColor);
        }

        .pc-job {
            display: block;
            font-size: calc(14 / 16 * 1rem);
            line-height: 1.5em;
            color: #353535;
        }

        .pc-quote-icon {
            position: absolute;
            bottom: calc(0 / 16 * 1rem);
            /* 16px - 32px */
            right: clamp(1rem, 4vw, 2rem);
            height: auto;
            /* 60px - 136px */
            width: clamp(3.75rem, 10vw, 8.5rem);
        }

        .pc-button-solid {
            margin-top: calc(32 / 16 * 1rem);
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    .sbs {
        .pc-container {
            flex-flow: row;
            justify-content: space-between;
            gap: calc(52 / 16 * 1rem);
        }

        .pc-left {
            font-size: min(1.2vw, 1em);
            flex: none;
        }

        .pc-right {
            margin: 0;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        .sbs {
            .pc-left {
                &:before,
                &:after {
                    background: var(--accent);
                }
            }

            .pc-picture2 {
                /* 6px - 12px */
                border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
                background-color: var(--dark);
            }

            .pc-topper {
                color: var(--primaryLight);
            }

            .pc-title,
            .pc-text,
            .pc-h3,
            .pc-flex-p,
            .pc-name {
                color: var(--bodyTextColorWhite);
            }

            .pc-flex-group {
                background-color: var(--accent);
            }

            .pc-job {
                opacity: 0.8;
                color: var(--bodyTextColorWhite);
            }

            .pc-quote-icon {
                opacity: 0.2;
            }
        }
    }
}

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-r {
        padding: var(--sectionPadding);

        .pc-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: auto;
            max-width: calc(1280 / 16 * 1rem);
            width: 100%;
            row-gap: calc(40 / 16 * 1rem);
        }

            .pc-left {
              /* sends it to the right */
                position: relative;
                height: calc(650 / 16 * 1em);
                /* using ems so we can use font size to scale the whole section */
                width: calc(631 / 16 * 1em);
                /* scaling the font size with the view width */
                font-size: min(2.31vw, 0.7em);
                order: 2;
                z-index: 10;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                max-width: 39.375rem;
                width: 100%;
                text-align: left;
                gap: clamp(2rem, 4vw, 3rem);
                margin: auto;
              
                .pc-stats {
                  display: flex;
                  grid-template-columns: repeat(12, 1fr);
                  justify-content: space-between;
                  margin: 0;
                  max-width: 39.375rem;
                  width: 100%;
                  padding: 0;
                  row-gap: 1.5rem;
                  column-gap: clamp(1.5rem, 4vw, 4.5vw);
                  .pc-stat {
                    display: flex;
                    flex-direction: column;
                    align-content: space-between;
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    grid-column: span 4;
                    align-self: stretch;
                    .pc-number {
                      font-family: var(--headerFont);
                      display: block;
                      margin: 0 0 0.25rem 0;
                      font-size: clamp(2.4375rem, 5vw, 3.8125rem);
                      line-height: 1.2em;
                      font-weight: 900;
                      color: var(--primaryLight);
                      text-align: left;
                    }
                    .pc-desc {
                      margin: 0;
                      font-size: clamp(0.875rem, 1.6vw, 1.25rem);
                      line-height: 1.5em;
                      color: var(--bodyTextColor);
                      text-align: left;
                      display: flex;
                      flex-direction: column;
                      align-content: space-between;
                      margin: 0;
                      padding: 0;
                      list-style: none;
                      grid-column: span 4;
                      align-self: stretch;
                    }
                  }
                }
                .pc-picture {
                  z-index: 1;
                  position: relative;
                  display: block;
                  border-radius: 1rem;
                  overflow: hidden;
                  height: 28.8125rem;
                  width: 100%;
                }
              }
        

        .pc-picture {
            display: block;
            /* clips img tag corners */
            overflow: hidden;
            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                border-radius: calc(24 / 16 * 1em);
                /* makes image act like a background image */
                object-fit: cover;
            }
        }

        .pc-picture1 {
            top: 0;
            right: 0;
            height: calc(581 / 16 * 1em);
            width: calc(522 / 16 * 1em);
        }

        .pc-picture2 {
            bottom: 0;
            left: 0;
            /* 6px - 12px */
            border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
            background-color: #fff;
            height: calc(400 / 16 * 1em);
            width: calc(414 / 16 * 1em);
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
        }

        .pc-right {
            margin: auto;
            max-width: calc(542 / 16 * 1rem);
            text-align: center;
            
        }

        .pc-topper {
            margin-bottom: calc(4 / 16 * 1rem);
            text-align: center;
        }

        .pc-title {
            max-width: calc(800 / 16 * 1rem);
            text-align: center;
        }

        .pc-text {
            margin-bottom: calc(16 / 16 * 1rem);
            max-width: calc(750 / 16 * 1rem);
            text-align: left;
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .pc-button-solid {
          margin: auto;
        }

        .pc-flex-group {
            position: relative;
            border-radius: calc(16 / 16 * 1rem);
            background-color: #f7f7f7;
            /* 16px - 32px */
            padding: clamp(1rem, 3vw, 2rem);
        }

        .pc-flex-p {
            margin: 0 0 calc(16 / 16 * 1rem);
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            color: #353535;
        }

        .pc-name {
            display: block;
            margin: 0 0 calc(4 / 16 * 1rem);
            text-transform: uppercase;
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.2em;
            font-weight: bold;
            color: var(--headerColor);
        }

        .pc-job {
            display: block;
            font-size: calc(14 / 16 * 1rem);
            line-height: 1.5em;
            color: #353535;
        }

        .pc-quote-icon {
            position: absolute;
            bottom: calc(0 / 16 * 1rem);
            /* 16px - 32px */
            right: clamp(1rem, 4vw, 2rem);
            height: auto;
            /* 60px - 136px */
            width: clamp(3.75rem, 10vw, 8.5rem);
        }
    }
}

@media only screen and (min-width: 48rem) {
  #sbs-r {
    .pc-container {
      flex-direction: row;
      gap: clamp(2rem, 4vw, 3rem);
      .pc-topper {
        text-align: left;
      }

    .pc-title {
        max-width: calc(800 / 16 * 1rem);
        text-align: left;
      }

    .pc-text {
        text-align: left;
    }

    .pc-button-solid {
      margin: 0;
    }

    .pc-right {
      text-align: left;
    }
    }
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-r {
        .pc-container {
            flex-flow: row;
            justify-content: space-between;
            gap: calc(52 / 16 * 1rem);
        }

        .pc-left {
            /* sends it to the right */
            order: 2;
            font-size: min(1.2vw, 1em);
            z-index: 10;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            max-width: 39.375rem;
            width: 100%;
            text-align: left;
            gap: clamp(2rem, 4vw, 3rem);
            .pc-stats {
                display: flex;
                grid-template-columns: repeat(12, 1fr);
                justify-content: space-between;
                margin: 0;
                max-width: 39.375rem;
                width: 100%;
                padding: 0;
                row-gap: 1.5rem;
                column-gap: clamp(1.5rem, 4vw, 4.5vw);
                .pc-stat {
                  display: flex;
                  flex-direction: column;
                  align-content: space-between;
                  margin: 0;
                  padding: 0;
                  list-style: none;
                  grid-column: span 4;
                  align-self: stretch;
                  .pc-number {
                    font-family: var(--headerFont);
                    display: block;
                    margin: 0 0 0.25rem 0;
                    font-size: clamp(2.4375rem, 5vw, 3.8125rem);
                    line-height: 1.2em;
                    font-weight: 900;
                    color: var(--primaryLight);
                    text-align: left;
                  }
                  .pc-desc {
                    margin: 0;
                    font-size: clamp(0.875rem, 1.6vw, 1.25rem);
                    line-height: 1.5em;
                    color: var(--bodyTextColor);
                    text-align: left;
                    display: flex;
                    flex-direction: column;
                    align-content: space-between;
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    grid-column: span 4;
                    align-self: stretch;
                  }
                }
              }
              .pc-picture {
                z-index: 1;
                position: relative;
                display: block;
                border-radius: 1rem;
                overflow: hidden;
                height: 28.8125rem;
                width: 100%;
              }
            }

        .pc-right {
            margin: 0;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbs-r {
            .pc-left {
              .pc-stats {
                .pc-stat {
                  .pc-desc {
                    color: var(--bodyTextColorWhite);
                  }
                }
              }

                &:before,
                &:after {
                    background: var(--accent);
                }
            }

            .pc-picture2 {
                /* 6px - 12px */
                border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
                background-color: var(--dark);
            }

            .pc-topper {
                color: var(--primaryLight);
            }

            .pc-title,
            .pc-text,
            .pc-h3,
            .pc-flex-p,
            .pc-name {
                color: var(--bodyTextColorWhite);
            }

            .pc-flex-group {
                background-color: var(--accent);
            }

            .pc-job {
                opacity: 0.8;
                color: var(--bodyTextColorWhite);
            }

            .pc-quote-icon {
                opacity: 0.2;
            }
        }
    }
}

/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px - Contains hover animation */
@media only screen and (min-width: 0rem) {
    #gallery {
        position: relative;
        /* Prevents overflow from the image going off screen */
        overflow: hidden;
        padding: var(--sectionPadding);
        /* Centers button */
        text-align: center;
        .pc-container {
            margin: auto;
            max-width: calc(1322 / 16 * 1em);
            width: 100%;
        }

        .pc-topper {
            margin-bottom: calc(16 / 16 * 1rem);
            text-align: center;
        }

        .pc-title {
            margin-bottom: calc(40 / 16 * 1rem);
            max-width: calc(621 / 16 * 1rem);
            text-align: center;
        }

        .pc-image-group {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            margin: 0 auto calc(60 / 16 * 1rem);
            max-width: calc(1322 / 16 * 1em);
            width: 100%;
            padding: 0;
            /* used rem so it doesn't scale with the font size of on parent */
            font-size: min(1.1vw, 1em);
            gap: calc(30 / 16 * 1em);
        }

        .pc-row {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: calc(30 / 16 * 1em);
        }

        .pc-picture {
            position: relative;
            display: block;
            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .pc-row-1 {
            .pc-picture1 {
                height: calc(567 / 16 * 1em);
                width: calc(420 / 16 * 1em);
            }

            .pc-picture2 {
                height: calc(629 / 16 * 1em);
                width: calc(420 / 16 * 1em);
            }

            .pc-picture3 {
                height: calc(512 / 16 * 1em);
                width: calc(420 / 16 * 1em);
            }
        }

        .pc-row-2 {
            .pc-picture1 {
                height: calc(492 / 16 * 1em);
                width: calc(420 / 16 * 1em);
            }

            .pc-picture2 {
                height: calc(517 / 16 * 1em);
                width: calc(420 / 16 * 1em);
            }

            .pc-picture3 {
                height: calc(629 / 16 * 1em);
                width: calc(420 / 16 * 1em);
            }
        }

        .pc-row-3 {
            .pc-picture1 {
                height: calc(625 / 16 * 1em);
                width: calc(420 / 16 * 1em);
            }

            .pc-picture2 {
                height: calc(452 / 16 * 1em);
                width: calc(420 / 16 * 1em);
            }

            .pc-picture3 {
                height: calc(629 / 16 * 1em);
                width: calc(420 / 16 * 1em);
            }
        }
    }
}

/* Dark mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #gallery {
            .pc-title {
                color: var(--bodyTextColorWhite);
            }
        }
    }
}

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews {
        padding: var(--sectionPadding);
        /* Centers the button */
        text-align: center;

        .pc-container {
            margin: auto;
            max-width: calc(1104 / 16 * 1rem);
            width: 100%;
        }

        .pc-topper {
            margin-bottom: calc(16 / 16 * 1rem);
            text-align: center;
        }

        .pc-title {
            max-width: calc(700 / 16 * 1rem);
            text-align: center;
        }

        .pc-text {
            /* 88px - 104px */
            margin-bottom: clamp(5.5em, 10.2vw, 6.5em);
            max-width: calc(650 / 16 * 1rem);
            text-align: center;
        }

        .pc-card-group {
            /* 48px - 64px */
            margin: 0 auto clamp(3rem, 5vw, 4rem);
            padding: 0;
        }

        .pc-item {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            border-radius: calc(4 / 16 * 1rem);
            margin: 0 auto calc(64 / 16 * 1rem);
            background: #fff;
            max-width: calc(542 / 16 * 1rem);
            width: 100%;
            /* Prevents padding from affecting height & width */
            box-sizing: border-box;
            /* Padding L & R - 16px - 32px */
            padding: calc(60 / 16 * 1rem) clamp(1rem, 3.2vw, 2rem) 0;
            /* 32px - 40px */
            padding-bottom: clamp(2rem, 5.4vw, 2.5rem);
            list-style: none;
            text-align: left;
            box-shadow: 0px 20px 39px 0px rgba(0, 0, 0, 0.05);

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        .pc-item-img {
            position: absolute;
            top: calc(-40 / 16 * 1rem);
            height: calc(80 / 16 * 1rem);
            width: calc(80 / 16 * 1rem);
        }

        .pc-item-p {
            border-bottom: 1px solid #e8e9ec;
            margin: 0 0 calc(20 / 16 * 1rem);
            padding-bottom: calc(20 / 16 * 1rem);
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.5em;
            color: var(--bodyTextColor);
        }

        .pc-reviewer {
            display: block;
            margin: 0 auto 0 0;
            width: 40%;
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.5em;
            font-weight: 700;
            color: var(--headerColor);
        }

        .pc-desc {
            display: block;
            font-size: calc(14 / 16 * 1rem);
            font-weight: 400;
            color: var(#353535);
        }

        .pc-item-stars {
            height: calc(16 / 16 * 1rem);
            width: calc(96 / 16 * 1rem);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews {
        .pc-card-group {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: calc(16 / 16 * 1rem);
        }

        .pc-item {
            /* reset margin so it won't interfere with flexbox */
            margin: 0;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #reviews {
            .pc-title,
            .pc-text,
            .pc-item-p,
            .pc-reviewer {
                color: var(--bodyTextColorWhite);
            }

            .pc-item {
                background: var(--medium);
            }

            .pc-desc {
                color: var(--primaryLight);
            }
        }
    }
}

/*-- -------------------------- -->
<---          portfolio           -->
<--- -------------------------- -*/

.portfolio {
  padding: 4rem 2rem;
  text-align: center;

  &__container {
    align-items: center;
    margin: auto;
    max-width: 80rem;
    width: 100%;
  }

  &__title {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 1rem;
  }

  &__subtitle {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 3rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    margin-top: calc(32 / 16 * 1rem);
  }

  &__item {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 25px rgba(0, 0, 0, 0.1);
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__info {
    padding: 1.5rem;
  }

  &__project-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #222;
  }

  &__link {
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    color: #5a9367; // your primary color
    transition: color 0.3s ease;

    &:hover {
      color: darken(#5a9367, 10%);
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
      .portfolio {
        .pc-topper {
          color: var(--primary);
        }
        &__item {
          background: var(--medium);
        }
          .pc-title,
          .pc-text,
          .pc-item-p,
          .pc-reviewer {
              color: var(--bodyTextColorWhite);
          }

          .pc-item {
              background: var(--medium);
          }

          .pc-desc {
              color: var(--primaryLight);
          }
      }
  }
}

/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  @keyframes floatAnimation {
      0% {
          transform: translateY(0);
      }
      50% {
          transform: translateY(-2rem);
      }
      100% {
          transform: translateY(0);
      }
  }

  @keyframes floatAnimation2 {
      0% {
          transform: translateY(0);
      }
      50% {
          transform: translateY(-3rem);
      }
      100% {
          transform: translateY(0);
      }
  }

  #sbsr-1363 {
      padding: var(--sectionPadding);
      position: relative;
      overflow: hidden;
      z-index: 1;

      .pc-container {
          width: 100%;
          /* changes to 1280px at desktop */
          max-width: calc(584 / 16 * 1rem);
          margin: auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          /* 48px - 64px */
          gap: clamp(3rem, 6vw, 4rem);
      }

      .pc-content {
          /* set text align to left if content needs to be left aligned */
          text-align: left;
          width: 100%;
          max-width: calc(630 / 16 * 1rem);
          display: flex;
          flex-direction: column;
          /* centers content horizontally, set to flex-start to left align */
          align-items: flex-start;
      }


      .pc-topper {
        margin: auto;
      }
      .pc-title {
          /* 23 characters wide including spaces */
          max-width: 26ch;
          text-align: center;
      }

      .pc-text {
          margin-bottom: calc(16 / 16 * 1rem);
          text-align: center;
          &:last-of-type {
              margin-bottom: calc(24 / 16 * 1rem);
          }
      }

      .pc-button-solid {
        margin: auto;
      }

      .pc-card-group {
          width: 100%;
          max-width: calc(630 / 16 * 1rem);
          margin: 0 0 calc(24 / 16 * 1rem) 0;
          padding: 0;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(15.265rem, 1fr));
          align-items: center;
          gap: clamp(1rem, 2vw, 1.25rem);
      }

      .pc-item {
          list-style: none;
          /* 16px - 24px */
          padding: clamp(1rem, 3vw, 1.5rem);
          /* prevents padding from affecting height and width */
          box-sizing: border-box;
          background-color: #f7f7f7;
          border-radius: calc(16 / 16 * 1rem);
          border: 1px solid #e8e8e8;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: calc(12 / 16 * 1rem);
          height: 100%;
      }

      .pc-h3 {
          font-size: calc(20 / 16 * 1rem);
          line-height: 1.2em;
          font-weight: 700;
          margin: 0;
          color: var(--headerColor);
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: calc(8 / 16 * 1rem);
      }

      .pc-h3-icon {
          width: calc(32 / 16 * 1rem);
          height: auto;
          display: block;
      }

      .pc-item-text {
          font-size: calc(14 / 16 * 1rem);
          line-height: 1.5em;
          margin: 0;
          color: var(--bodyTextColor);
      }

      .pc-ul {
          width: 100%;
          margin: 0 0 calc(24 / 16 * 1rem) 0;
          padding: 0;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: calc(12 / 16 * 1rem);
      }

      .pc-li {
          font-size: var(--bodyFontSize);
          list-style: none;
          line-height: 1.5em;
          width: 100%;
          color: var(--bodyTextColor);
          display: flex;
          justify-content: flex-start;
          /* push icon top the top so if the list item goes to two lines the icon stays at the top */
          align-items: flex-start;
          gap: calc(8 / 16 * 1rem);
      }

      .pc-icon {
          width: calc(24 / 16 * 1rem);
          height: auto;
          /* adds extra space between the icon and top of parent so it's more centered */
          margin-top: 1px;
          display: block;
      }


      .pc-image-group {
          width: 100%;
          max-width: calc(586 / 16 * 1rem);
          /* Changes to auto at desktop */
          height: calc(520 / 16 * 1rem);
          /* 32px - 48px */
          border-radius: clamp(2rem, 4vw, 3rem);
          /* clips the corners of the children around the border radius */
          overflow: hidden;
          position: relative;
      }
      .pc-background:nth-child(1) {
        display: none;
      }
      .pc-background {
          width: 100%;
          height: 100%;
          /* makes it cover the parent dimensions */
          object-fit: cover;
          display: block;

          img {
              width: 100%;
              height: 100%;
              /* makes it cover the parent like a backgorund image */
              object-fit: cover;
              display: block;
          }
      }

      .pc-box {
          text-align: left;
          width: 100%;
          max-width: calc(304 / 16 * 1rem);
          padding: calc(32 / 16 * 1rem);
          /* prevents padding from affecting height and width */
          box-sizing: border-box;
          background-color: var(--primary);
          /* 48px - 80px */
          border-radius: calc(32 / 16 * 1rem);
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: calc(24 / 16 * 1rem);
          position: absolute;
          /* 12px - 20px */
          right: clamp(0.75rem, 1.9vw, 1.5rem);
          /* 12px - 20px */
          bottom: clamp(0.75rem, 1.9vw, 1.5rem);
      }

      .pc-box-icon {
          width: calc(140 / 16 * 1rem);
          height: auto;
          display: block;
      }

      .pc-desc {
          font-size: calc(20 / 16 * 1rem);
          line-height: 1.2em;
          text-align: inherit;
          font-weight: 700;
          width: 100%;
          margin: 0;
          color: var(--bodyTextColorWhite);
      }

      .pc-glow {
          font-size: min(2.5vw, 0.7em);
          width: calc(419 / 16 * 1em);
          height: calc(427 / 16 * 1em);
          position: absolute;
          /* Reset at larger desktop */
          right: calc(-260 / 16 * 1em);
          /* chnages to 30px at desktop */
          bottom: 50%;
          z-index: -1;

          &:before {
              /* white border bubble */
              content: "";
              width: calc(330 / 16 * 1em);
              height: calc(330 / 16 * 1em);
              background: radial-gradient(circle, var(--primary) 40%, rgba(90, 147, 103, 0.8) 70%);
              box-shadow: 0 0 15px rgba(90, 147, 103, 0.8), 0 0 30px rgba(90, 147, 103, 0.6), 0 0 60px rgba(90, 147, 103, 0.4); /* Glowing effect */
              border-radius: 50%;
              opacity: .7;
              position: absolute;
              display: block;
              top: 0;
              right: 0;
              animation-name: floatAnimation;
              animation-duration: 5s;
              animation-timing-function: ease-in-out;
              animation-fill-mode: forwards;
              animation-iteration-count: infinite;
          }

          &:after {
              /* orange bubble */
              content: "";
              width: calc(260 / 16 * 1em);
              height: calc(260 / 16 * 1em);
              background: radial-gradient(circle, var(--primaryLight) 40%, rgba(90, 147, 103, 0.8) 70%);
              box-shadow: 0 0 15px rgba(90, 147, 103, 0.8), 0 0 30px rgba(90, 147, 103, 0.6), 0 0 60px rgba(90, 147, 103, 0.4); /* Glowing effect */              opacity: 0.15;
              border-radius: 50%;
              display: block;
              position: absolute;
              bottom: 0;
              left: 0;
              z-index: -1;
              animation-name: floatAnimation2;
              animation-duration: 14s;
              animation-timing-function: ease-in-out;
              animation-fill-mode: forwards;
              animation-iteration-count: infinite;
          }
      }
  }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbsr-1363 {
      .pc-container {
          max-width: calc(1280 / 16 * 1rem);
          flex-direction: row;
          justify-content: space-between;
          align-items: stretch;
      }
      .pc-background:nth-child(1) {
        display: block;
      }
      .pc-background {
        height: 50%;
      }
      .pc-image-group {
          /* sends it to the right in the 2nd position */
          order: 2;
          height: auto;
      }

      .pc-glow {
          font-size: min(2.5vw, 1em);
          bottom: calc(0 / 16 * 1rem);
          right: calc(-100 / 16 * 1rem);
      }

      .pc-topper {
        margin: 0;
      }
      .pc-title {
          /* 23 characters wide including spaces */
          text-align: left;
      }

      .pc-text {
          text-align: left;
      }

      .pc-button-solid {
        margin: 0;
      }
  }
}

/* Large Desktop 1600px */
@media only screen and (min-width: 100rem) {
  #sbsr-1363 {
      .pc-glow {
          margin-right: calc(750 / 16 * 1rem);
          left: auto;
          right: 50%;
      }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
      #sbsr-1363 {
          .pc-topper {
              color: var(--primary);
          }

          .pc-title,
          .pc-text,
          .pc-li,
          .pc-item-text {
              color: var(--bodyTextColorWhite);
          }

          .pc-text,
          .pc-li,
          .pc-item-text {
              opacity: 0.8;
          }

          .pc-item {
              background-color: rgba(0, 0, 0, 0.2);
              border-color: rgba(255, 255, 255, 0.2);
          }

          .pc-h3 {
              color: var(--bodyTextColorWhite);
          }

          .pc-icon {
              filter: grayscale(1) brightness(1000%);
          }

      }
  }
}

/* Mobile - 360px */
/* you can copy and paste these styles into the section CSS where you placed the #list-1165 HTML, or you can place it in your global stylesheet so you can reuse the HTML in any Side By Side section on your site. That way when you make changes to it, it will also change everywhere in the site */
@media only screen and (min-width: 0rem) {
  #list-1165 {
      max-width: calc(630 / 16 * 1rem);
      margin: 0 0 calc(32 / 16 * 1rem) 0;
      padding: 0;
      /* clips the bullets to create the half circle */
      overflow: hidden;

      .pc-li {
          list-style: none;
          margin: 0 0 calc(8 / 16 * 1rem) 0;
          color: var(--bodyTextColor);
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          gap: calc(12 / 16 * 1rem);
          position: relative;

          &:before {
              /* bullet */
              content: "";
              width: calc(8 / 16 * 1rem);
              height: calc(8 / 16 * 1rem);
              margin-top: calc(8 / 16 * 1rem);
              background: var(--secondary);
              display: block;
              /* prevents flexbox from squishing it */
              flex: none;
          }
      }
  }
}

/* Dark Mode, copy and paste only the styles inside the #list-1165 brackets into your section's dark mode media query */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
      #list-1165 {
          .pc-li {
              color: var(--bodyTextColorWhite);
          }

          .pc-li {
              opacity: 0.8;
          }
      }
  }
}

                              
                              